Repository antvis/X6, pull requests merged in 2020-09, with the labels that each got.

#231 chore: fix david-dm link in README
  README.md
Labels: PR: draft, chore, size/XS

#234 feat: ✨ complete flow chart
  examples/x6-example-draw/src/models/global.ts
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigEdge/index.tsx
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigGrid/index.tsx
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigNode/index.tsx
  examples/x6-example-draw/src/pages/components/ConfigPanel/index.tsx
  examples/x6-example-draw/src/pages/components/FlowChart/index.less
  examples/x6-example-draw/src/pages/components/FlowChart/index.tsx
  examples/x6-example-draw/src/pages/components/Header/index.less
  examples/x6-example-draw/src/pages/components/Header/index.tsx
  examples/x6-example-draw/src/pages/components/Sider/index.tsx
  examples/x6-example-draw/src/pages/components/ToolBar/index.tsx
  examples/x6-example-draw/src/x6Editor/flow-chart-shape.ts
  examples/x6-example-draw/src/x6Editor/index.ts
  examples/x6-example-draw/src/x6Editor/shape.ts
Labels: enhancement, size/XL

#235 fix: wrong sync repo
  .github/workflows/mirror.yml
Labels: bug, size/XS

#237 feat: ✨ sync modify options when draw grid
  packages/x6/src/graph/grid.ts
Labels: enhancement, pkg:x6, size/XS

#242 Update portal.ts
  packages/x6-react-shape/src/portal.ts
Labels: PR: reviewed-approved
