Repository antvis/X6, pull requests merged in 2020-06, with the labels that each got.

#161 refactor: common handler of halo and selection widget
  examples/x6-example-features/src/pages/graph/index.tsx
  examples/x6-example-features/src/pages/halo/index.tsx
  packages/x6/src/addon/common/handle.less
  packages/x6/src/addon/common/handle.ts
  packages/x6/src/addon/common/widget.ts
  packages/x6/src/addon/halo/edge-preset.ts
  packages/x6/src/addon/halo/index.less
  packages/x6/src/addon/halo/index.ts
  packages/x6/src/addon/halo/node-preset.ts
  packages/x6/src/addon/selection/index.ts
  packages/x6/src/index.less
  packages/x6/src/view/view.ts
Labels: PR: reviewed-changes-requested, pkg:x6, pr(feature), refactor

#162 feat: export graph to images & print preview
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/graph/format.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/hook.ts
  packages/x6/src/graph/print.less
  packages/x6/src/graph/print.ts
  packages/x6/src/index.less
  packages/x6/src/util/datauri/index.ts
  packages/x6/src/util/index.ts
  packages/x6/src/util/unit/index.ts
Labels: PR: reviewed-changes-requested, enhancement, pkg:x6, pr(feature)

#166 feat: event trigger默认返回true
  packages/x6/package.json
  packages/x6/src/entity/events.ts
Labels: PR: reviewed-changes-requested, enhancement, pkg:x6, pr(internal)

#169 fix: repository url in package.json
  packages/x6-site/package.json
Labels: PR: unreviewed, bug

#174 fix: fix getBBox function,now support get HTMLElement
  packages/x6/src/util/dom/elem.ts
  packages/x6/src/util/dom/geom.ts
Labels: PR: reviewed-changes-requested, bug

#176 fix:change the name of the function
  packages/x6/src/shape/base.ts
  packages/x6/src/shape/standard/poly.ts
Labels: PR: reviewed-changes-requested
