Repository antvis/X6, pull requests merged in 2020-11, with the labels that each got.

#256 chore: 🌐 add GATrackingId
  sites/x6-sites/gatsby-config.js
Labels: PR: unreviewed, size/XS

#259 docs: 📚️ update gatsby-theme-antv version
  sites/x6-sites/docs/api/graph.zh.md
  sites/x6-sites/package.json
  yarn.lock
Labels: PR: reviewed-approved, size/M

#270 fix: 🐛 method sign's bg and border color
  sites/x6-sites/site/pages/manual.less
Labels: PR(fix), PR: unreviewed, needs-more-info, size/XS

#272 fix: 🐛 dnd events
  examples/x6-example-features/src/pages/dnd/index.tsx
  examples/x6-example-features/src/pages/embed/dnd.tsx
  packages/x6/src/addon/dnd/index.ts
  packages/x6/src/view/node.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/L

#276 docs: 📚️ supplementary document
  packages/x6/src/graph/options.ts
  sites/x6-sites/docs/api/graph.zh.md
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
  sites/x6-sites/docs/tutorial/getting-started.zh.md
Labels: PR: reviewed-approved, pkg:x6, size/L

#278 chore: test release
  packages/x6/src/index.less
Labels: PR: unreviewed

#284 feat: ✨ add minScale and maxScale option for mousewheel
  examples/x6-example-features/src/pages/scroller/index.tsx
  packages/x6/src/graph/mousewheel.ts
Labels: PR(feature), PR: unreviewed, pkg:x6, size/S

#286 chore: update preview.yml
  .github/workflows/preview.yml
Labels: PR: reviewed-approved

#290 docs: remove invalid changelog
  packages/x6/CHANGELOG.md
Labels: PR: unreviewed, needs-more-info, pkg:x6, size/S

#296 refactor: ♻️ refactor the draw example
  CONTRIBUTORS.svg
  examples/x6-app-draw/package.json
  examples/x6-app-draw/src/global.css
  examples/x6-app-draw/src/models/global.ts
  examples/x6-app-draw/src/pages/Graph/index.ts
  examples/x6-app-draw/src/pages/Graph/shape.ts
  examples/x6-app-draw/src/pages/components/ConfigPanel/ConfigEdge/index.tsx
  examples/x6-app-draw/src/pages/components/ConfigPanel/ConfigGrid/index.tsx
  examples/x6-app-draw/src/pages/components/ConfigPanel/ConfigNode/index.tsx
  examples/x6-app-draw/src/pages/components/ConfigPanel/index.tsx
  examples/x6-app-draw/src/pages/components/FlowChart/index.less
  examples/x6-app-draw/src/pages/components/FlowChart/index.tsx
  examples/x6-app-draw/src/pages/components/Header/index.less
  examples/x6-app-draw/src/pages/components/Header/index.tsx
  examples/x6-app-draw/src/pages/components/Sider/index.less
  examples/x6-app-draw/src/pages/components/Sider/index.tsx
  examples/x6-app-draw/src/pages/components/ToolBar/index.less
  examples/x6-app-draw/src/pages/components/ToolBar/index.tsx
  examples/x6-app-draw/src/pages/index.less
  examples/x6-app-draw/src/pages/index.tsx
  examples/x6-app-draw/src/x6Editor/flow-chart-shape.ts
  examples/x6-app-draw/src/x6Editor/index.ts
  examples/x6-app-draw/src/x6Editor/shape.ts
Labels: PR: unreviewed, size/XXL

#298 refactor: ♻️ refactor embedding interaction
  examples/x6-example-features/src/pages/embed/dnd.tsx
  examples/x6-example-features/src/pages/embed/embedding.tsx
  packages/x6/src/addon/dnd/index.ts
  packages/x6/src/view/node.ts
  sites/x6-sites-demos/packages/tutorial/basic/group/expand-shrink/src/app.css
  sites/x6-sites-demos/packages/tutorial/basic/group/expand-shrink/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/basic/group/expand-shrink/src/settings.tsx
Labels: PR(fix), PR: unreviewed, pkg:x6, size/L

#299 fix: 🐛 chagne shape attrs for draw demo
  examples/x6-app-draw/src/pages/Graph/shape.ts
Labels: PR: unreviewed

#302 fix: 🐛 should not render cell when invisible
  packages/x6/src/graph/renderer.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/M

#301 test: add gitleaks.yml
  .github/workflows/gitleaks.yml
Labels: PR: reviewed-approved, size/S

#314 fix: 🐛 filter not working when select cell by calling `select()` api or by clicking cell
  examples/x6-example-features/src/pages/selection/index.tsx
  packages/x6/src/addon/selection/index.ts
  sites/x6-sites/docs/tutorial/basic/selection.zh.md
Labels: PR(fix), PR: unreviewed, pkg:x6, size/M

#320 fix: 🐛 update gatsby-theme-antv version
  sites/x6-sites/package.json
  sites/x6-sites/site/pages/index.zh.tsx
  yarn.lock
Labels: PR: unreviewed, size/XS

#325 fix: 🐛 global `process` should be replaced when build with rollup
  packages/x6-react-shape/package.json
  packages/x6-react-shape/rollup.config.js
  packages/x6/package.json
  packages/x6/rollup.config.js
  yarn.lock
Labels: PR(fix), PR: unreviewed, pkg:x6, pkg:x6-react-shape, size/S

#322 fix: 🐛 chang the call order of scale and translate
  packages/x6/src/graph/mousewheel.ts
Labels: PR: reviewed-approved, pkg:x6, size/XS

#326 docs: 📚️ add cdn instructions
  README.md
  sites/x6-sites/docs/tutorial/getting-started.en.md
  sites/x6-sites/docs/tutorial/getting-started.zh.md
Labels: PR: reviewed-approved, size/M

#330 fix: 🐛 Uncaught ReferenceError: module is not defined
  examples/x6-example-features/src/pages/shape/index.html
  packages/x6/src/util/platform/index.ts
Labels: PR(fix), PR: unreviewed, bug, pkg:x6, size/M

#328 fix: 🐛 change readme to english
  README.md
  sites/x6-sites/docs/tutorial/getting-started.en.md
  sites/x6-sites/docs/tutorial/getting-started.zh.md
  sites/x6-sites/site/pages/index.less
  sites/x6-sites/site/pages/index.zh.tsx
Labels: PR: reviewed-changes-requested, size/M

#336 feat: Support jsdelivr and cdnjs CDN service #335
  README.md
  packages/x6-react-shape/package.json
  packages/x6/package.json
  sites/x6-sites/docs/tutorial/getting-started.en.md
  sites/x6-sites/docs/tutorial/getting-started.zh.md
Labels: PR: reviewed-approved, pkg:x6, pkg:x6-react-shape, size/M

#342 fix: 🐛 not dispose graph in minmap
  packages/x6/src/addon/minimap/index.ts
Labels: PR: reviewed-approved, pkg:x6, size/XS
