Repository antvis/X6, pull requests merged in 2020-12, with the labels that each got.

#361 docs: 优化节点和边 DEMOs
  packages/x6/README.md
  packages/x6/src/global/version.ts
  sites/x6-sites/examples/interaction/edge/demo/meta.json
  sites/x6-sites/examples/interaction/edge/demo/multi.ts
  sites/x6-sites/examples/shape/connector/demo/meta.json
  sites/x6-sites/examples/shape/connector/demo/multi-smooth-edges.ts
  sites/x6-sites/examples/shape/custom-edges/demo/meta.json
  sites/x6-sites/examples/shape/custom-edges/index.en.md
  sites/x6-sites/examples/shape/custom-edges/index.zh.md
  sites/x6-sites/examples/shape/custom-nodes/demo/markup.ts
  sites/x6-sites/examples/shape/custom-nodes/demo/meta.json
  sites/x6-sites/examples/shape/custom-nodes/demo/react.tsx
  sites/x6-sites/examples/shape/custom-nodes/index.en.md
  sites/x6-sites/examples/shape/custom-nodes/index.zh.md
  sites/x6-sites/examples/shape/edges/demo/label-html.ts
  sites/x6-sites/examples/shape/edges/demo/label-multi.ts
  sites/x6-sites/examples/shape/edges/demo/label-react.tsx
  sites/x6-sites/examples/shape/edges/demo/label-svg.ts
  sites/x6-sites/examples/shape/edges/demo/meta.json
  sites/x6-sites/examples/shape/nodes/demo/custom-html-1.ts
  sites/x6-sites/examples/shape/nodes/demo/custom-html-2.ts
  sites/x6-sites/examples/shape/nodes/demo/custom-markup-1.ts
  sites/x6-sites/examples/shape/nodes/demo/custom-markup-2.ts
  sites/x6-sites/examples/shape/nodes/demo/custom-react.tsx
  sites/x6-sites/examples/shape/nodes/demo/meta.json
  sites/x6-sites/package.json
  yarn.lock
Labels: PR(documentation), PR: unreviewed, pkg:x6, size/XL

#384 fix: add trigger point for update in scroller
  packages/x6/src/addon/scroller/index.ts
Labels: PR: reviewed-approved, pkg:x6, size/S

#386 fix(hisotry): fix history undo error
  examples/x6-app-dag/src/pages/common/graph-common/shape/edge.ts
  examples/x6-app-dag/src/pages/dag-canvas/canvas-toolbar.tsx
  examples/x6-app-dag/src/pages/rx-models/experiment-graph.tsx
Labels: PR(fix), PR: reviewed-approved, PR: unreviewed, bug, size/XS

#394 修复文档错误_事件系统
  sites/x6-sites/docs/tutorial/intermediate/events.en.md
  sites/x6-sites/docs/tutorial/intermediate/events.zh.md
Labels: PR: reviewed-approved, needs-more-info

#397 fix: fix size invalid on image node
  examples/x6-app-dag/src/pages/rx-models/experiment-graph.tsx
  examples/x6-example-features/src/pages/graph/zoom.tsx
  examples/x6-example-features/src/pages/transitions/model.ts
  packages/x6/src/shape/standard/image.ts
Labels: PR: reviewed-approved, pkg:x6, size/M

#398 fix: 🐛 fast switch menubar-item lead to multiple popup
  packages/x6-react-components/src/menubar/item.tsx
Labels: PR: reviewed-approved, pkg:x6-react-components

#409 docs: split the graph docs
  sites/x6-sites/docs/api/graph.en.md
  sites/x6-sites/docs/api/graph.zh.md
  sites/x6-sites/docs/api/graph/background.zh.md
  sites/x6-sites/docs/api/graph/clipboard.zh.md
  sites/x6-sites/docs/api/graph/coordinate.zh.md
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/graph/grid.zh.md
  sites/x6-sites/docs/api/graph/history.zh.md
  sites/x6-sites/docs/api/graph/interaction.zh.md
  sites/x6-sites/docs/api/graph/keyboard.zh.md
  sites/x6-sites/docs/api/graph/minimap.zh.md
  sites/x6-sites/docs/api/graph/model.zh.md
  sites/x6-sites/docs/api/graph/mousewheel.zh.md
  sites/x6-sites/docs/api/graph/other.zh.md
  sites/x6-sites/docs/api/graph/scroller.zh.md
  sites/x6-sites/docs/api/graph/selecting.zh.md
  sites/x6-sites/docs/api/graph/snapline.zh.md
  sites/x6-sites/docs/api/graph/transform.zh.md
  sites/x6-sites/docs/api/graph/view.zh.md
  sites/x6-sites/gatsby-config.js
Labels: PR: reviewed-approved, size/XXL

#422 增加selection:move和selection:moved事件
  README.md
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/tutorial/getting-started.en.md
  sites/x6-sites/docs/tutorial/getting-started.zh.md
Labels: PR: reviewed-approved, pkg:x6, size/M

#423 fix: optimize the ModifierKey isMatch method
  packages/x6/src/types/modifier.ts
Labels: PR: reviewed-approved, pkg:x6, size/XS

#427 docs: http => https
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/about.zh.md
Labels: PR: reviewed-approved, needs-more-info, size/XS

#431 fix: 🐛 should stop dragging when validate node async
  examples/x6-example-features/src/pages/dnd/index.less
  examples/x6-example-features/src/pages/dnd/index.tsx
  packages/x6/src/addon/dnd/index.ts
  sites/x6-sites-demos/packages/tutorial/basic/dnd/dnd/src/app.css
  sites/x6-sites-demos/packages/tutorial/basic/dnd/dnd/src/app.tsx
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Labels: PR(fix), PR: unreviewed, pkg:x6, size/L

#443 feat: ✨ auto sync with cnpm
  scripts/monorepo-semantic-release/package.json
  scripts/monorepo-semantic-release/src/plugin.ts
  scripts/monorepo-semantic-release/yarn.lock
Labels: PR: unreviewed, size/XXL

#444 ci(fix): 👷 🐛 use pull_request_target event hook
  .github/workflows/ci.yml
Labels: PR: unreviewed

#438 feat: add x6-vue-shape
  packages/x6-vue-shape/CHANGELOG.md
  packages/x6-vue-shape/README.md
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/rollup.config.js
  packages/x6-vue-shape/src/hook.ts
  packages/x6-vue-shape/src/index.ts
  packages/x6-vue-shape/src/node.ts
  packages/x6-vue-shape/src/registry.ts
  packages/x6-vue-shape/src/shims-tsx.d.ts
  packages/x6-vue-shape/src/shims-vue.d.ts
  packages/x6-vue-shape/src/view.ts
  packages/x6-vue-shape/tsconfig.json
  packages/x6-vue-shape/tslint.json
Labels: PR: reviewed-approved, size/L

#453 chore: function name typo in ER example code.
  examples/x6-app-er/src/pages/ERGraphDemo/index.tsx
Labels: PR: reviewed-approved

#460 docs: 📚️ add x6-vue-shape docs
  packages/x6-vue-shape/src/registry.ts
  packages/x6-vue-shape/src/view.ts
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: reviewed-approved, needs-more-info, size/L

#462 docs: 📚️ add search docs for stencil
  packages/x6/src/addon/stencil/index.ts
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Labels: PR: reviewed-approved, needs-more-info, pkg:x6, size/L

#463 enable错了 改成enabled
  sites/x6-sites/docs/tutorial/basic/history.zh.md
Labels: PR: reviewed-approved

#468 fix x6-react-components umd build
  packages/x6-react-components/package.json
  packages/x6-react-components/rollup.config.js
  sites/x6-sites/docs/tutorial/advanced/components.en.md
  sites/x6-sites/docs/tutorial/advanced/components.zh.md
Labels: PR: reviewed-approved, pkg:x6-react-components, size/L

#475 fix: 🐛 fix layout demo error in codesanbox
  sites/x6-sites-demos/packages/tutorial/advanced/layout/circular/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/advanced/layout/circular/src/data.ts
  sites/x6-sites-demos/packages/tutorial/advanced/layout/dagre/src/app.css
  sites/x6-sites-demos/packages/tutorial/advanced/layout/dagre/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/advanced/layout/dagre/src/data.ts
  sites/x6-sites-demos/packages/tutorial/advanced/layout/grid/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/advanced/layout/grid/src/data.ts
Labels: PR: reviewed-approved, bug, size/L

#481 fix: 🐛 remove code tracing
  README.md
  packages/x6/src/global/config.ts
Labels: PR: reviewed-approved, pkg:x6, size/XS

#486 npm install @antv/layout--save 增加空格，不然会提示找不到这个package
  sites/x6-sites/docs/tutorial/advanced/layout.zh.md
Labels: PR: unreviewed

#489 gridLayout.fromJSON(newModel) 笔误
  sites/x6-sites/docs/tutorial/advanced/layout.zh.md
Labels: PR: unreviewed

#491 docs: 📚️ update log
  sites/x6-sites/docs/tutorial/log.en.md
  sites/x6-sites/docs/tutorial/log.zh.md
Labels: PR: unreviewed, size/M

#494 feat: ✨ update vue , add menubar、menu component
  packages/x6-vue-components/package.json
  packages/x6-vue-components/rollup.config.js
  packages/x6-vue-components/scripts/less.js
  packages/x6-vue-components/src/index.ts
  packages/x6-vue-components/src/menu/divider.vue
  packages/x6-vue-components/src/menu/index.ts
  packages/x6-vue-components/src/menu/index.vue
  packages/x6-vue-components/src/menu/menu.ts
  packages/x6-vue-components/src/menu/menu.vue
  packages/x6-vue-components/src/menu/menuItem.vue
  packages/x6-vue-components/src/menu/style/index.less
  packages/x6-vue-components/src/menu/style/index.ts
  packages/x6-vue-components/src/menu/submunu.vue
  packages/x6-vue-components/src/menu/useMenuClass.ts
  packages/x6-vue-components/src/menubar/index.ts
  packages/x6-vue-components/src/menubar/item.vue
  packages/x6-vue-components/src/menubar/menubar.ts
  packages/x6-vue-components/src/menubar/menubar.vue
  packages/x6-vue-components/src/menubar/style/index.less
  packages/x6-vue-components/src/menubar/style/index.ts
  packages/x6-vue-components/src/menubar/useActive.ts
  packages/x6-vue-components/src/shims-vue.d.ts
  packages/x6-vue-components/src/style/index.less
  packages/x6-vue-components/src/style/index.ts
  packages/x6-vue-components/src/style/themes/default.less
  packages/x6-vue-components/src/style/themes/index.less
  packages/x6-vue-components/src/util/addEventListener.ts
  packages/x6-vue-components/tsconfig.json
Labels: PR: reviewed-approved

#497 PortMetadata 类名错误，文档中显示为PortmMetadata，改正为PortMetadata
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/tutorial/basic/port.en.md
  sites/x6-sites/docs/tutorial/basic/port.zh.md
Labels: PR: reviewed-approved, needs-more-info

#498 fix: 🐛 get completed picture when execue toPNG
  examples/x6-example-features/src/pages/scroller/index.tsx
  packages/x6/src/graph/format.ts
Labels: PR: reviewed-approved, pkg:x6, size/S
