Repository antvis/X6, pull requests merged in 2020-08, with the labels that each got.

#208 chore: modify coverage files for jest
  packages/x6/jest.config.js
Labels: PR: reviewed-changes-requested, chore, pkg:x6

#210 chore: 🔀 add GitHub Action to sync Gitee
  .github/workflows/mirror.yml
Labels: chore

#213 chore: Update deploy-sites.yml
  .github/workflows/deploy-sites.yml
Labels: chore, pr(fix), size/XS

#214 chore: add PR preview action
  .github/workflows/preview.yml
Labels: PR: draft, chore, size/S

#215 feat: add x6 draw demo
  examples/x6-example-draw/.editorconfig
  examples/x6-example-draw/.env
  examples/x6-example-draw/.eslintrc
  examples/x6-example-draw/.gitignore
  examples/x6-example-draw/.umirc.ts
  examples/x6-example-draw/package.json
  examples/x6-example-draw/src/global.css
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigEdge/index.tsx
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigGrid/index.less
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigGrid/index.tsx
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigNode/index.tsx
  examples/x6-example-draw/src/pages/components/ConfigPanel/index.tsx
  examples/x6-example-draw/src/pages/components/FlowChart/index.less
  examples/x6-example-draw/src/pages/components/FlowChart/index.tsx
  examples/x6-example-draw/src/pages/components/Header/index.tsx
  examples/x6-example-draw/src/pages/components/Sider/index.less
  examples/x6-example-draw/src/pages/components/Sider/index.tsx
  examples/x6-example-draw/src/pages/components/ToolBar/index.less
  examples/x6-example-draw/src/pages/components/ToolBar/index.tsx
  examples/x6-example-draw/src/pages/index.less
  examples/x6-example-draw/src/pages/index.tsx
  examples/x6-example-draw/src/reset.less
  examples/x6-example-draw/src/x6Editor/constant.ts
  examples/x6-example-draw/src/x6Editor/index.ts
  examples/x6-example-draw/src/x6Editor/shape.ts
  examples/x6-example-draw/tsconfig.json
  examples/x6-example-draw/tslint.json
  examples/x6-example-draw/typings.d.ts
  yarn.lock
Labels: enhancement, size/XXL

#216 chore: support TypeScript 4
  packages/x6/src/geometry/path/close.ts
Labels: PR: unreviewed, chore

#217 fix: add missing file
  examples/x6-example-draw/src/common/hooks.ts
  examples/x6-example-draw/src/pages/components/FlowChart/index.tsx
  examples/x6-example-draw/src/x6Editor/index.ts
  examples/x6-example-draw/src/x6Editor/shape.ts
Labels: bug, size/M

#218 serialize graph
  examples/x6-example-components/package.json
  examples/x6-example-draw/package.json
  examples/x6-example-features/package.json
  examples/x6-example-sites-helper/package.json
  examples/x6-example-sites/package.json
  packages/x6-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-sites/package.json
  packages/x6/package.json
Labels: pkg:x6, pkg:x6-components

#224 feat: fix demo bug and optimize the x6-example-draw
  examples/x6-example-draw/src/global.css
  examples/x6-example-draw/src/models/global.ts
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigGrid/index.tsx
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigNode/index.tsx
  examples/x6-example-draw/src/pages/components/ConfigPanel/index.less
  examples/x6-example-draw/src/pages/components/ConfigPanel/index.tsx
  examples/x6-example-draw/src/pages/components/FlowChart/index.less
  examples/x6-example-draw/src/pages/components/FlowChart/index.tsx
  examples/x6-example-draw/src/pages/components/Sider/index.tsx
  examples/x6-example-draw/src/pages/components/ToolBar/index.tsx
  examples/x6-example-draw/src/pages/index.tsx
  examples/x6-example-draw/src/x6Editor/flow-chart-shape.ts
  examples/x6-example-draw/src/x6Editor/index.ts
  examples/x6-example-draw/src/x6Editor/shape.ts
  examples/x6-example-features/src/pages/animation/2.tsx
  examples/x6-example-features/src/pages/expand/index.tsx
  examples/x6-example-features/src/pages/graph/index.tsx
  yarn.lock
Labels: enhancement, size/XXL

#227 style: 🎨 optimize the code by lint check
  examples/x6-example-draw/src/common/hooks.ts
  examples/x6-example-draw/src/models/global.ts
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigGrid/index.less
  examples/x6-example-draw/src/pages/components/ConfigPanel/ConfigNode/index.tsx
  examples/x6-example-draw/src/pages/components/ConfigPanel/index.less
  examples/x6-example-draw/src/pages/components/ConfigPanel/index.tsx
  examples/x6-example-draw/src/pages/components/FlowChart/index.tsx
  examples/x6-example-draw/src/pages/components/Header/index.tsx
  examples/x6-example-draw/src/pages/components/Sider/index.tsx
  examples/x6-example-draw/src/pages/index.tsx
  examples/x6-example-draw/src/x6Editor/constant.ts
  examples/x6-example-draw/src/x6Editor/flow-chart-shape.ts
  examples/x6-example-draw/src/x6Editor/index.ts
  examples/x6-example-draw/src/x6Editor/shape.ts
Labels: style
