Repository antvis/X6, pull requests merged in 2021-09, with the labels that each got.

#1306 docs: 📚️ update curve demo
  sites/x6-sites/examples/edge/connector/demo/curve.ts
Labels: PR: unreviewed, size/M

#1336 chore: 🛠️ update deps
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/jest.json
  configs/package-json/karma.json
  configs/package-json/less.json
  configs/package-json/package.json
  configs/package-json/rollup.json
  configs/stylelint-config/package.json
  package.json
  packages/x6-angular-shape/package.json
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-react-components/package.json
  packages/x6-react-components/src/util/dom/animationFrame.ts
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vector/src/dom/types/attributes-map.ts
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/style/raw.ts
  packages/x6/src/util/datauri/index.ts
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Labels: PR: unreviewed, PR(chore), size/XL, pkg:x6, pkg:x6-react-shape, pkg:x6-react-components

#1335 feat(react-shape): ✨ add throttle to size and position
  packages/x6-react-shape/src/wrap.ts
Labels: PR: reviewed-approved, PR(feature), size/M, pkg:x6-react-shape

#1350 fix: 🐛 fix option merge order in paste
  packages/x6/src/addon/clipboard/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1348 fix: segments & vertices tool add onChanged callback
  packages/x6/src/registry/tool/segments.ts
  packages/x6/src/registry/tool/vertices.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1364 docs: 📚️ update edge tooltip dmeo
  sites/x6-sites/examples/edge/tool/demo/meta.json
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Labels: PR: unreviewed

#1369 fix: 🐛 change home path in speedup js
  sites/x6-sites-demos-helper/scripts/speedup.js
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Labels: PR: unreviewed, size/XS

#1371 ci: 👷 update workflow author
  .github/workflows/auto-close-fixed-issues.yml
  .github/workflows/auto-comment.yml
  .github/workflows/backup/auto-assign.yml
  .github/workflows/ci.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/delete-stale-releases.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/label-commands.yml
  .github/workflows/lock.yml
  .github/workflows/needs-more-info.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/pr-label-branch-name.yml
  .github/workflows/pr-label-file-paths.yml
  .github/workflows/pr-label-patch-size.yml
  .github/workflows/pr-label-status-dummy.yml
  .github/workflows/pr-label-status.yml
  .github/workflows/pr-label-title-body.yml
  .github/workflows/preview.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/report-monthly.yml
  .github/workflows/report-weekly.yml
  .github/workflows/slash-commands.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/update-authors.yml
  .github/workflows/update-contributors.yml
  .github/workflows/update-license.yml
  .github/workflows/welcome.yml
Labels: PR: unreviewed, size/M

#1384 docs: fix typo
  sites/x6-sites/docs/tutorial/basic/group.en.md
  sites/x6-sites/docs/tutorial/basic/group.zh.md
Labels: PR: unreviewed, size/XS

#1387 fix: 🐛 normalize event before get clientX
  packages/x6/src/addon/transform/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1388 feat: ✨ add resizeGroup for stencil
  packages/x6/src/addon/stencil/index.ts
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Labels: PR: unreviewed, PR(feature), pkg:x6, size/L
