Repository antvis/X6, pull requests merged in 2021-12, with the labels that each got.

#1634 fix English typo in example gallery
  sites/x6-sites/examples/showcase/faq/demo/meta.json
Labels: PR: unreviewed, size/XS

#1641 fix: 🐛 get children or parent delay
  packages/x6/src/model/cell.ts
Labels: PR: unreviewed, PR(fix), pkg:x6, size/M

#1642 fix: 🐛 listen mousedown event on scroller container
  packages/x6/src/graph/scroller.ts
Labels: PR: unreviewed, PR(fix), pkg:x6, size/XS

#1649 fix: 🐛 fix lint error
  packages/x6/src/registry/tool/segments.ts
  packages/x6/src/registry/tool/vertices.ts
  sites/x6-svg-to-shape/package.json
Labels: bug, PR: unreviewed, pkg:x6, size/XS

#1654 fix: 🐛 release x6 v1.28.2
  packages/x6/package.json
  sites/x6-sites/package.json
Labels: PR: unreviewed, pkg:x6, size/XS

#1658 update github issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: PR: unreviewed, size/L

#1662 chore: 🔧 fix feature template
  .github/ISSUE_TEMPLATE/feature_request_zh.yml
Labels: PR: unreviewed, size/XS

#1680 fix: 🐛 unexpected user feedback in "vertices" edge tool
  packages/x6/src/registry/tool/vertices.ts
Labels: PR: unreviewed, pkg:x6, size/XS, fix

#1686 fix: 🐛 add exception check for isLine and isCurve
  packages/x6/src/geometry/curve.ts
  packages/x6/src/geometry/line.ts
Labels: PR: unreviewed, pkg:x6, size/M

#1694 docs: 📚️ update websites logo
  sites/x6-sites/examples/showcase/practices/demo/flowchart.ts
  sites/x6-sites/site/pages/index.zh.tsx
Labels: PR: unreviewed, size/M

#1691 docs: update history zh / en
  sites/x6-sites/docs/tutorial/basic/history.en.md
  sites/x6-sites/docs/tutorial/basic/history.zh.md
Labels: PR: unreviewed, size/XS

#1695 docs: 📚️ fix docs error
  sites/x6-sites/docs/api/model/edge.en.md
  sites/x6-sites/docs/api/model/edge.zh.md
Labels: bug, PR: unreviewed, size/M

#1697 docs: 优化vue渲染文档说明
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: unreviewed, size/L

#1701 docs: 📚️ update menu demo
  sites/x6-sites-demos/packages/api/ui/menubar/basic/src/app.tsx
Labels: PR: unreviewed, PR(fix), size/M
