Repository antvis/X6, pull requests merged in 2021-04, with the labels that each got.

#834 fix: 🐛 fix x6-react-components rollup config
  packages/x6-react-components/rollup.config.js
  packages/x6-react/rollup.config.js
Labels: PR: unreviewed, pkg:x6-react-components, size/XS

#855 fix: 🐛 fix factor calculation in mousewheel
  packages/x6/src/graph/mousewheel.ts
Labels: PR(fix), PR: reviewed-approved, pkg:x6, size/S

#856 fix: 🐛 fix type error
  examples/x6-example-features/src/pages/shape/flowchart/shapes/card.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/data.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/document.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/internal-storage.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/manual-input.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/manual-operation.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/merge-or-storage.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/multi-document.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/off-page-reference.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/or.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/paper-tape.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/predefined-process.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/preparation.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/process.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/sequential-data.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/sort.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/stored-data.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/terminator.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/transfer.ts
Labels: PR(fix), PR: unreviewed, bug, size/L

#860 fix: fix lack of deps in demo
  sites/x6-sites-demos-helper/loaders/repo.js
  sites/x6-sites-demos/packages/api/graph/auto-resize/package.json
Labels: PR: unreviewed, size/XS

#876 fix: 🐛 change port cursor style when is not magnet
  packages/x6/src/graph/hook.ts
  packages/x6/src/graph/options.ts
  packages/x6/src/style/raw.ts
  packages/x6/src/view/node.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/M

#877 fix: 🐛 src dir included in publication
  packages/x6/package.json
Labels: PR: unreviewed, pkg:x6, size/XS

#886 fix: 🐛 don't change cell id when setProp
  packages/x6/src/model/cell.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#888 docs: 📚️ add faq
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Labels: PR: unreviewed, size/S

#909 perf: ⚡️ enhance scroller performance by avoid scoller reflow caused by changing classList
  packages/x6/src/addon/scroller/index.less
  packages/x6/src/graph/scroller.ts
Labels: PR: reviewed-approved, pkg:x6

#911 feat: ✨ postpone keyboard target focusing to improve dragging performance
  packages/x6/src/graph/keyboard.ts
Labels: PR: reviewed-approved, pkg:x6

#913 fix: 🐛 add comment, want to release new version
  packages/x6/src/graph/keyboard.ts
Labels: PR: unreviewed

#914 fix: 🐛 check correct magnet in validateConnection
  packages/x6/src/graph/hook.ts
Labels: PR: reviewed-approved, pkg:x6

#923 fix: 🐛 fix validateEdge trigger timming
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/api/graph/interaction.en.md
  sites/x6-sites/docs/api/graph/interaction.zh.md
  sites/x6-sites/docs/tutorial/basic/interacting.en.md
  sites/x6-sites/docs/tutorial/basic/interacting.zh.md
Labels: PR: unreviewed

#924 fix: 🐛 add default route for createLines in jumpover
  packages/x6/src/registry/connector/jumpover.ts
Labels: PR: unreviewed

#931 docs: 📚️ add browser support doc
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Labels: PR: unreviewed

#932 docs: 📚️ add faq
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
  sites/x6-sites/examples/interaction/port/demo/visible.ts
Labels: PR: unreviewed

#937 fix: 🐛 fix x6-react-components version in demo
  examples/x6-app-dag/package.json
  examples/x6-app-draw/package.json
  examples/x6-app-er/package.json
  examples/x6-example-features/package.json
Labels: PR: unreviewed
