Repository antvis/X6, pull requests merged in 2021-02, with the labels that each got.

#626 docs: add layout demo
  sites/x6-sites/examples/data/algorithm-category.json
  sites/x6-sites/examples/layout/general/demo/circle.ts
  sites/x6-sites/examples/layout/general/demo/dagre.ts
  sites/x6-sites/examples/layout/general/demo/ellipse.ts
  sites/x6-sites/examples/layout/general/demo/grid.ts
  sites/x6-sites/examples/layout/general/demo/meta.json
  sites/x6-sites/examples/layout/general/index.en.md
  sites/x6-sites/examples/layout/general/index.zh.md
  sites/x6-sites/examples/layout/tree/demo/meta.json
  sites/x6-sites/examples/layout/tree/demo/mindmap.ts
  sites/x6-sites/examples/layout/tree/index.en.md
  sites/x6-sites/examples/layout/tree/index.zh.md
  sites/x6-sites/gatsby-browser.js
  sites/x6-sites/gatsby-config.js
  sites/x6-sites/package.json
Labels: PR: reviewed-approved, size/XL

#625 feat: ✨ add splitbox vue component
  packages/x6-vue-components/package.json
  packages/x6-vue-components/src/index.ts
  packages/x6-vue-components/src/split-box/box.vue
  packages/x6-vue-components/src/split-box/index.ts
  packages/x6-vue-components/src/split-box/resizer.vue
  packages/x6-vue-components/src/split-box/splitbox.ts
  packages/x6-vue-components/src/split-box/splitbox.vue
  packages/x6-vue-components/src/split-box/style/index.less
  packages/x6-vue-components/src/split-box/style/index.ts
  packages/x6-vue-components/src/util/index.ts
Labels: PR: reviewed-approved

#631 docs: add text-wrap demo
  sites/x6-sites/examples/showcase/faq/demo/meta.json
  sites/x6-sites/examples/showcase/faq/demo/text-wrap.ts
Labels: PR: reviewed-approved, needs-more-info, size/M

#630 docs: add custom selection style demo
  examples/x6-example-features/src/pages/selection/custom-style.tsx
  sites/x6-sites/examples/interaction/edge/demo/meta.json
  sites/x6-sites/examples/interaction/edge/demo/selection.ts
  sites/x6-sites/examples/interaction/edge/index.en.md
  sites/x6-sites/examples/interaction/edge/index.zh.md
Labels: PR: reviewed-approved, size/L

#628 fix: fix can not create node when mouseup in demo
  sites/x6-sites/examples/interaction/edge/demo/create.tsx
Labels: PR(fix), PR: reviewed-approved, needs-more-info, size/XS

#642 fix: delete console.log, add no-console config
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/shape/standard/cylinder.ts
  packages/x6/src/util/dom/text.ts
  tslint.json
Labels: PR(fix), PR: reviewed-approved, pkg:x6, size/XS

#641 fix: fix demo error in sites
  sites/x6-sites-demos/packages/tutorial/advanced/animation/football/src/reg.ts
  sites/x6-sites-demos/packages/tutorial/advanced/animation/yellow-ball/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/basic/selection/playground/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/basic/snapline/playground/src/app.tsx
Labels: PR: reviewed-approved, bug, size/S

#643 fix: fix move event trigger error
  packages/x6/src/view/node.ts
Labels: PR(fix), PR: reviewed-approved, bug, pkg:x6, size/S

#653 fix: fix text not wrap error
  examples/x6-app-draw/src/pages/Graph/data.ts
  examples/x6-app-draw/src/pages/Graph/index.ts
  examples/x6-app-draw/src/pages/Graph/shape.ts
  examples/x6-app-draw/src/pages/index.tsx
Labels: PR: reviewed-approved, bug, needs-more-info, size/XL

#652 ci: revert to pull_request
  .github/workflows/preview.yml
Labels: PR: reviewed-approved, needs-more-info

#657 docs: add perforamce report
  examples/x6-example-features/src/pages/performance/report/normal/edge.json
  examples/x6-example-features/src/pages/performance/report/normal/edge.tsx
  examples/x6-example-features/src/pages/performance/report/normal/node.json
  examples/x6-example-features/src/pages/performance/report/normal/node.tsx
  examples/x6-example-features/src/pages/performance/report/normal/port.json
  examples/x6-example-features/src/pages/performance/report/normal/port.tsx
  examples/x6-example-features/src/pages/performance/report/react/node.json
  examples/x6-example-features/src/pages/performance/report/react/node.tsx
  examples/x6-example-features/src/pages/performance/report/react/port.json
  examples/x6-example-features/src/pages/performance/report/react/port.tsx
  sites/x6-sites/docs/tutorial/performance.en.md
  sites/x6-sites/docs/tutorial/performance.zh.md
Labels: PR: reviewed-approved, size/XXL

#658 refactor: ♻️ could specify `restrict` amount on resizing/translating …
  examples/x6-example-features/src/pages/issues/651.tsx
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/addon/transform/index.ts
  packages/x6/src/graph/hook.ts
  packages/x6/src/graph/options.ts
  packages/x6/src/graph/transform.ts
  sites/x6-sites/docs/api/graph/scroller.zh.md
  sites/x6-sites/docs/api/graph/transform.zh.md
  sites/x6-sites/docs/tutorial/intermediate/interacting.en.md
Labels: PR(fix), PR: unreviewed, pkg:x6, size/L

#662 fix: fix demo import path error
  examples/x6-example-features/src/pages/performance/report/normal/edge.tsx
  examples/x6-example-features/src/pages/performance/report/normal/node.tsx
  examples/x6-example-features/src/pages/performance/report/normal/port.tsx
  examples/x6-example-features/src/pages/performance/report/react/node.tsx
  examples/x6-example-features/src/pages/performance/report/react/port.tsx
  sites/x6-sites/docs/tutorial/getting-started.en.md
  sites/x6-sites/docs/tutorial/getting-started.zh.md
Labels: PR: unreviewed, bug, needs-more-info, size/S

#663 fix: fix type error
  packages/x6-react-shape/src/hook.ts
  packages/x6-vue-shape/src/hook.ts
Labels: PR: unreviewed, bug, pkg:x6-react-shape, size/XS

#664 fix: change css selector foreignobject to foreignObject
  packages/x6/src/index.less
Labels: PR(fix), PR: reviewed-approved, pkg:x6, size/XS

#668 fix: fix editable cell demo
  sites/x6-sites/examples/node/tool/demo/editable.ts
Labels: PR(fix), PR: unreviewed, needs-more-info, size/M

#675 fix: fix spelling error
  packages/x6/src/geometry/rectangle.ts
  packages/x6/src/registry/router/er.ts
Labels: PR: unreviewed, bug, needs-more-info, pkg:x6, size/S

#681 fix: fix keyboard event not trigger
  packages/x6/src/graph/keyboard.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#687 feat: add following config for selection
  packages/x6/src/addon/selection/index.ts
  sites/x6-sites/docs/tutorial/basic/selection.en.md
  sites/x6-sites/docs/tutorial/basic/selection.zh.md
Labels: PR: reviewed-approved, pkg:x6, size/L

#691 docs: add browserslist
  packages/x6/package.json
Labels: PR: unreviewed

#694 docs: set node front when embeded
  examples/x6-app-draw/src/pages/Graph/index.ts
Labels: PR: reviewed-approved, size/XS

#693 docs: add demo for config interacting for one node
  sites/x6-sites/examples/showcase/faq/demo/change-mode.tsx
Labels: PR: reviewed-approved, size/M

#698 perf: ⚡️ add clientSize cache and setClass for reducing reflow
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/view/view.ts
Labels: PR: unreviewed, pkg:x6
