Repository antvis/X6, pull requests merged in 2021-01, with the labels that each got.

#499 fix: 🐛 add unregister for react/vue shape
  examples/x6-app-draw/src/pages/Graph/index.ts
  packages/x6-react-shape/src/registry.ts
  packages/x6-vue-shape/src/registry.ts
  packages/x6-vue-shape/src/view.ts
Labels: PR: reviewed-approved, pkg:x6-react-shape, size/S

#502 docs: 📚️ add contextmenu demo
  sites/x6-sites/examples/node/tool/demo/contextmenu.tsx
  sites/x6-sites/examples/node/tool/demo/meta.json
Labels: PR: reviewed-approved, size/L

#505 fix: change node:resize and node:rotate event trigger times
  packages/x6/src/addon/transform/index.ts
Labels: PR: reviewed-approved, pkg:x6, size/M

#517 fix: update selection box when cell:changed
  packages/x6/src/addon/selection/index.ts
Labels: PR: reviewed-approved, pkg:x6, size/XS

#515 fix: fix mousemove event fires on first mousedown
  packages/x6/src/graph/view.ts
Labels: PR: reviewed-approved, pkg:x6, size/S

#511 feat: add direction for smooth connector
  packages/x6/src/registry/connector/smooth.ts
  sites/x6-sites/docs/api/registry/connector.en.md
  sites/x6-sites/docs/api/registry/connector.zh.md
Labels: PR: reviewed-approved, needs-more-info, pkg:x6, size/S

#525 docs: change graph sorting config
  sites/x6-sites/examples/showcase/practices/demo/tree.ts
Labels: PR: reviewed-approved, size/XS

#526 fix: fix error in vue shape when formJSON
  packages/x6-vue-shape/src/hook.ts
Labels: PR: unreviewed, bug, size/S

#527 docs: fix doc error
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/cell.zh.md
Labels: PR: unreviewed, bug, needs-more-info, size/M

#529 docs: fix github link for demo
  sites/x6-sites-demos-helper/loaders/repo.js
Labels: PR: unreviewed, size/XS

#530 fix: fix cursor error
  packages/x6/src/shape/standard/edge-doubled.ts
  packages/x6/src/shape/standard/edge-shadow.ts
  packages/x6/src/style/raw.ts
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/tutorial/log.en.md
  sites/x6-sites/docs/tutorial/log.zh.md
Labels: PR: unreviewed, bug, pkg:x6, size/L

#534 docs: change enable to enabled in history doc
  sites/x6-sites/docs/tutorial/basic/history.en.md
  sites/x6-sites/docs/tutorial/basic/history.zh.md
Labels: PR: reviewed-approved, needs-more-info, size/S

#551 docs: add demo
  sites/x6-sites/examples/interaction/edge/demo/create.tsx
  sites/x6-sites/examples/interaction/edge/demo/meta.json
Labels: PR: unreviewed, size/L

#559 修复draw示例中未对复杂节点的右击事件进行额外判断导致的错误
  examples/x6-app-draw/src/pages/Graph/index.ts
Labels: PR: reviewed-approved, needs-more-info

#561 doc: rich document
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
  sites/x6-sites/docs/tutorial/basic/graph.en.md
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
  sites/x6-sites/docs/tutorial/basic/port.en.md
  sites/x6-sites/docs/tutorial/basic/port.zh.md
  sites/x6-sites/docs/tutorial/faq/epilog.en.md
  sites/x6-sites/docs/tutorial/faq/epilog.zh.md
Labels: PR: reviewed-approved, size/L

#562 docs: add cdn for layout
  sites/x6-sites/docs/tutorial/advanced/layout.en.md
  sites/x6-sites/docs/tutorial/advanced/layout.zh.md
Labels: PR: reviewed-approved, needs-more-info, size/S

#563 fix: change $ to JQuery
  examples/x6-app-draw/src/pages/Graph/data.ts
  packages/x6/src/graph/print.ts
  packages/x6/src/util/index.ts
  packages/x6/src/util/string/html.ts
Labels: PR: reviewed-approved, pkg:x6

#565 fix: 🐛 remove single tool by name or index
  packages/x6/src/model/cell.ts
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/cell.zh.md
Labels: PR(fix), PR: unreviewed, pkg:x6, size/L

#566 fix: 🐛 auto fix node's css className on mouseenter
  packages/x6/src/view/node.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/S

#571 fix: 🐛 update page size as needed when graph size changed
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/size.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/M

#572 docs: add editable node and edge demo
  sites/x6-sites/examples/interaction/edge/demo/meta.json
  sites/x6-sites/examples/node/tool/demo/contextmenu.tsx
  sites/x6-sites/examples/node/tool/demo/editable.ts
  sites/x6-sites/examples/node/tool/demo/meta.json
Labels: PR: merged, size/L

#573 fix: fix canot get graph
  packages/x6/src/addon/scroller/index.ts
Labels: PR: reviewed-approved, needs-more-info, pkg:x6, size/XS

#574 fix: add `placeholder` and `notFoundText` for stencil component
  packages/x6/src/addon/stencil/index.less
  packages/x6/src/addon/stencil/index.ts
  packages/x6/src/style/raw.ts
  sites/x6-sites-demos/packages/tutorial/basic/dnd/stencil/src/app.tsx
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Labels: PR(fix), PR: unreviewed, pkg:x6, size/M

#583 fix: get registry first in html component
  packages/x6/src/graph/hook.ts
Labels: PR: reviewed-approved, pkg:x6, size/XS

#584 docs: add demo for interacting
  packages/x6/src/graph/view.ts
  packages/x6/src/registry/tool/vertices.ts
  packages/x6/src/view/edge.ts
  sites/x6-sites/examples/showcase/faq/demo/change-mode.tsx
  sites/x6-sites/examples/showcase/faq/demo/meta.json
Labels: PR: reviewed-approved, pkg:x6, size/L

#586 docs: update log
  README.md
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
  sites/x6-sites/docs/tutorial/log.en.md
  sites/x6-sites/docs/tutorial/log.zh.md
Labels: PR: reviewed-approved, needs-more-info, size/M

#585 fix: x6 support ie 11
  packages/x6/src/util/object/inherit.ts
  sites/x6-sites/docs/tutorial/faq/epilog.en.md
  sites/x6-sites/docs/tutorial/faq/epilog.zh.md
Labels: PR: reviewed-approved, pkg:x6, size/M

#587 fix: 🐛 support register html render object
  packages/x6/src/graph/hook.ts
  packages/x6/src/shape/standard/html.ts
  packages/x6/src/util/object/inherit.ts
Labels: PR: unreviewed, needs-more-info, pkg:x6, size/S

#593 fix: 🐛 exclude edge on node:move event
  packages/x6/src/view/node.ts
Labels: PR: reviewed-approved, pkg:x6, size/XS

#594 docs: 📚️ add explain for mousemove event
  sites/x6-sites/docs/tutorial/basic/graph.en.md
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
  sites/x6-sites/docs/tutorial/intermediate/events.en.md
  sites/x6-sites/docs/tutorial/intermediate/events.zh.md
Labels: PR: reviewed-approved, size/L

#613 fix: change x6-svg-to-shape router
  packages/x6/src/view/attr.ts
  sites/x6-svg-to-shape/.umirc.ts
  sites/x6-svg-to-shape/src/pages/components/spinner.less
  sites/x6-svg-to-shape/src/pages/components/spinner.tsx
  sites/x6-svg-to-shape/src/pages/components/worker.ts
  sites/x6-svg-to-shape/src/pages/s.css
Labels: PR: unreviewed, pkg:x6, size/XXL

#614 docs: fix doc error
  sites/x6-sites/docs/api/graph/history.zh.md
Labels: PR: unreviewed, bug, size/S

#619 docs: add registerVueComponent demo
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: unreviewed, size/M

#620 fix: fix path error in custom router demo
  examples/x6-example-features/src/pages/edge/custom-connector.tsx
  sites/x6-sites/examples/edge/connector/demo/wobble.ts
Labels: PR(fix), PR: reviewed-approved, bug, needs-more-info, size/XS

#621 fix: fix contextmenu show multiple times
  examples/x6-example-features/src/pages/tools/contextmenu.tsx
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
Labels: PR(fix), PR: unreviewed, needs-more-info

#623 fix: fix trigger multiple moved event when close movable config
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/tutorial/basic/selection.en.md
  sites/x6-sites/docs/tutorial/basic/selection.zh.md
Labels: PR(fix), PR: reviewed-approved, pkg:x6, size/S

#624 docs: add validate magnet demo
  examples/x6-example-features/src/pages/edge/validate-connection.tsx
  sites/x6-sites/examples/showcase/faq/demo/meta.json
  sites/x6-sites/examples/showcase/faq/demo/validate-connection.ts
Labels: PR: unreviewed, needs-more-info, size/L
