Repository antvis/X6, pull requests merged in 2021-03, with the labels that each got.

#706 fix: add judgment in sepcial event
  packages/x6/src/util/polyfill/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#709 fix: 🐛 fix lerna not found error
  .husky/pre-commit
  package.json
Labels: PR: unreviewed

#710 fix: 🐛 change commit lint rule
  package.json
Labels: PR: unreviewed

#711 fix: add footer-max-line-length rule for commitlint
  package.json
Labels: PR: unreviewed

#708 docs: add er-rounded connector demo
  examples/x6-example-features/src/pages/connector/er-rounded.tsx
  sites/x6-sites-demos/packages/api/registry/connector/wobble/src/app.tsx
  sites/x6-sites/docs/api/registry/router.en.md
  sites/x6-sites/docs/api/registry/router.zh.md
Labels: PR: unreviewed, size/L

#714 fix: 🐛 fix start pos error in mousewheel
  packages/x6/src/graph/mousewheel.ts
Labels: PR: unreviewed, bug, pkg:x6, size/S

#720 fix: 🐛 get container size use offsetxxx
  packages/x6/src/graph/size.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#730 docs: 📚️ add minScale and maxScale config for mousewheel
  sites/x6-sites/docs/api/graph/transform.zh.md
  sites/x6-sites/docs/tutorial/basic/mousewheel.en.md
  sites/x6-sites/docs/tutorial/basic/mousewheel.zh.md
Labels: PR: unreviewed

#734 fix: 🐛 update layout version
  sites/x6-sites-demos/package.json
  sites/x6-sites-demos/packages/tutorial/advanced/layout/circular/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/advanced/layout/dagre/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/advanced/layout/grid/src/app.tsx
  sites/x6-sites/docs/tutorial/advanced/layout.en.md
  sites/x6-sites/docs/tutorial/advanced/layout.zh.md
  sites/x6-sites/examples/layout/general/demo/circle.ts
  sites/x6-sites/examples/layout/general/demo/dagre.ts
  sites/x6-sites/examples/layout/general/demo/grid.ts
  sites/x6-sites/package.json
  yarn.lock
Labels: PR(fix), PR: unreviewed, size/L

#740 docs: 📚️ add faq
  sites/x6-sites/docs/tutorial/faq/epilog.en.md
  sites/x6-sites/docs/tutorial/faq/epilog.zh.md
Labels: PR: reviewed-approved, size/S

#739 docs: 📚️ add en docs
  sites/x6-sites/docs/api/graph/background.en.md
  sites/x6-sites/docs/api/graph/clipboard.en.md
  sites/x6-sites/docs/api/graph/coordinate.en.md
  sites/x6-sites/docs/api/graph/graph.en.md
  sites/x6-sites/docs/api/graph/grid.en.md
  sites/x6-sites/docs/api/graph/history.en.md
  sites/x6-sites/docs/api/graph/interaction.en.md
  sites/x6-sites/docs/api/graph/keyboard.en.md
  sites/x6-sites/docs/api/graph/minimap.en.md
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/mousewheel.en.md
  sites/x6-sites/docs/api/graph/other.en.md
  sites/x6-sites/docs/api/graph/scroller.en.md
  sites/x6-sites/docs/api/graph/selecting.en.md
  sites/x6-sites/docs/api/graph/snapline.en.md
  sites/x6-sites/docs/api/graph/transform.en.md
  sites/x6-sites/docs/api/graph/view.en.md
Labels: PR(fix), PR: reviewed-approved, size/XXL

#738 fix: 🐛 add primer for vue-shape
  packages/x6-vue-shape/src/node.ts
Labels: PR: reviewed-approved, size/M

#744 fix: 🐛 fix the website error
  package.json
  yarn.lock
Labels: PR: unreviewed, bug

#753 feat: ✨ add containerParent config for dnd
  packages/x6/src/addon/dnd/index.ts
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Labels: PR(fix), PR: unreviewed, pkg:x6, size/S

#754 feat: ✨ add allowReverse option for resizing
  packages/x6/src/addon/transform/index.ts
  packages/x6/src/graph/hook.ts
  packages/x6/src/graph/options.ts
Labels: PR: unreviewed, pkg:x6, size/S

#757 feat: ✨ add direction option for midside node-anchor
  packages/x6/src/registry/node-anchor/middle-side.ts
  sites/x6-sites/docs/api/graph/transform.en.md
  sites/x6-sites/docs/api/graph/transform.zh.md
  sites/x6-sites/docs/api/registry/node-anchor.en.md
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
  sites/x6-sites/docs/tutorial/intermediate/interacting.en.md
  sites/x6-sites/docs/tutorial/intermediate/interacting.zh.md
Labels: PR: unreviewed, pkg:x6, size/M

#759 docs: 📚️ add force layout
  sites/x6-sites/examples/layout/general/demo/force.ts
  sites/x6-sites/examples/layout/general/demo/meta.json
Labels: PR: reviewed-approved, size/L

#758 feat: ✨ allow disable auto resize in some high performance scenario
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/graph/scroller.ts
  sites/x6-sites/docs/api/graph/scroller.en.md
  sites/x6-sites/docs/api/graph/scroller.zh.md
Labels: PR: reviewed-approved, pkg:x6

#760 fix: 🐛 make sure css resource is disposed after all instance disposed
  packages/x6/src/addon/dnd/index.ts
  packages/x6/src/addon/minimap/index.ts
  packages/x6/src/graph/css.ts
Labels: PR: reviewed-approved, pkg:x6

#762 fix: 🐛 add ToJSONData type
  packages/x6/src/model/model.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#763 fix: 🐛 fix not refresh after removeTool
  packages/x6/src/model/cell.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#764 fix: 🐛 fix add tools not work
  examples/x6-example-features/src/pages/tools/contextmenu.tsx
  packages/x6/src/model/cell.ts
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#767 feat: ✨ use vue-demi manage vue3 and vue2
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/view.ts
  packages/x6-vue3-shape/CHANGELOG.md
  packages/x6-vue3-shape/README.md
  packages/x6-vue3-shape/package.json
  packages/x6-vue3-shape/rollup.config.js
  packages/x6-vue3-shape/src/hook.ts
  packages/x6-vue3-shape/src/index.ts
  packages/x6-vue3-shape/src/node.ts
  packages/x6-vue3-shape/src/registry.ts
  packages/x6-vue3-shape/src/shims-vue.d.ts
  packages/x6-vue3-shape/src/view.ts
  packages/x6-vue3-shape/tsconfig.json
  packages/x6-vue3-shape/tslint.json
Labels: PR: unreviewed, size/XL

#768 fix: 🐛 disable panning before rubberband
  examples/x6-app-dag/src/pages/rx-models/graph-core.ts
Labels: PR(fix), PR: unreviewed, size/XS

#770 docs: 📚️ change layout version
  sites/x6-sites-demos/packages/tutorial/advanced/layout/circular/package.json
  sites/x6-sites-demos/packages/tutorial/advanced/layout/dagre/package.json
  sites/x6-sites-demos/packages/tutorial/advanced/layout/grid/package.json
Labels: PR: unreviewed, size/XS

#778 fix: 🐛 temporarily disable stackblitz
  sites/x6-sites-demos-helper/src/toolbar/index.tsx
Labels: PR(fix), PR: unreviewed, size/XS

#779 docs: 📚️ fix vue2 docs
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: unreviewed, size/S

#782 docs: 📚️ fix docs
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: unreviewed

#786 fix: 🐛 set the async of minimapGraph to be the same as sourceGraph
  examples/x6-example-features/src/pages/expand/tree/index.tsx
  packages/x6/src/addon/minimap/index.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#788 fix: 🐛 restrict unembed condition
  packages/x6/src/model/cell.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#789 fix: 🐛 fix model event trigger twice
  examples/x6-example-features/src/pages/connector/er-rounded.tsx
  packages/x6/src/addon/selection/index.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/model/collection.ts
Labels: PR: reviewed-approved, pkg:x6, size/M

#793 feat: ✨ revert a lint fix commit
  packages/x6/src/util/dom/matrix.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#794 fix: 🐛 fix websites error
  yarn.lock
Labels: PR: unreviewed, bug, size/XS

#799 fix: 🐛 revert yarn.lock tmp
  yarn.lock
Labels: PR: unreviewed

#797 Update interacting.zh.md
  sites/x6-sites/docs/tutorial/intermediate/interacting.zh.md
Labels: PR: reviewed-approved

#800 fix: 🐛 update .lock file
  packages/x6-react-components/rollup.config.js
  packages/x6-react-components/src/dropdown/index.tsx
  yarn.lock
Labels: PR: unreviewed, pkg:x6-react-components, size/XS

#801 fix: 🐛 update yarn.lock file
  packages/x6-react-components/rollup.config.js
  yarn.lock
Labels: PR: unreviewed, WIP, pkg:x6-react-components, size/XS

#803 fix: 🐛 release x6-react-components 1.1.3
  packages/x6-react-components/src/dropdown/index.tsx
Labels: PR: unreviewed, pkg:x6-react-components, size/S

#806 fix: 修复x6-react-component antd引入的问题
  packages/x6-react-components/src/color-picker/index.tsx
  packages/x6-react-components/src/toolbar/item.tsx
Labels: PR: reviewed-approved, fix, pkg:x6-react-components

#807 docs: 📚️ update log
  sites/x6-sites/docs/tutorial/contact.en.md
  sites/x6-sites/docs/tutorial/contact.zh.md
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
  sites/x6-sites/docs/tutorial/log.en.md
  sites/x6-sites/docs/tutorial/log.zh.md
Labels: PR: unreviewed, size/XL

#808 Update custom-node.zh.md
  sites/x6-sites/docs/tutorial/intermediate/custom-node.zh.md
Labels: PR: reviewed-changes-requested

#813 x6-app-draw支持windows下ctrl组合快捷键
  examples/x6-app-draw/src/pages/components/ToolBar/index.tsx
Labels: PR: reviewed-approved, needs-more-info

#817 docs: 📚️ add embed event
  sites/x6-sites/docs/tutorial/intermediate/events.en.md
  sites/x6-sites/docs/tutorial/intermediate/events.zh.md
Labels: PR: unreviewed, size/S

#819 docs: 📚️ add name specification for menuitem
  sites/x6-sites/docs/api/ui/menu.en.md
  sites/x6-sites/docs/api/ui/menu.zh.md
Labels: PR: unreviewed, size/XS
