Repository antvis/X6, pull requests merged in 2021-05, with the labels that each got.

#939 fix: 🐛 revert delay text attr tmp
  packages/x6/src/view/attr.ts
Labels: PR: unreviewed

#938 fix: 🐛 validateEdge is sync
  packages/x6/src/view/edge.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/M

#943 fix: 🐛 fix can not scroller by mousewheel
  packages/x6/src/graph/mousewheel.ts
Labels: PR: unreviewed

#945 fix: 🐛 add onWheelGuard to prevent unwanted preventDefault
  packages/x6/src/graph/mousewheel.ts
  packages/x6/src/graph/panning.ts
  packages/x6/src/util/dom/mousewheel.ts
Labels: PR: unreviewed, pkg:x6

#949 feat: ✨ add rubberNode and rubberEdge config
  packages/x6/src/addon/selection/index.ts
  packages/x6/src/graph/options.ts
  packages/x6/src/graph/renderer.ts
  packages/x6/src/model/model.ts
  packages/x6/src/util/dom/mousewheel.ts
  sites/x6-sites/docs/tutorial/basic/selection.en.md
  sites/x6-sites/docs/tutorial/basic/selection.zh.md
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Labels: PR(fix), PR: unreviewed, needs-more-info, pkg:x6, size/L

#957 fix: 🐛 support css var in font-size
  packages/x6/src/util/dom/text.ts
Labels: PR(fix), PR: unreviewed, needs-more-info, pkg:x6, size/XS

#959 fix: 🐛 fix getBBoxByElementAttr
  packages/x6/src/util/dom/geom.ts
Labels: PR: unreviewed

#961 fix: 🐛 only delay svg attr
  packages/x6/src/view/attr.ts
Labels: PR: unreviewed

#973 fix: 🐛 revert getBoundingRect change
  packages/x6/src/view/cache.ts
Labels: PR: unreviewed

#975 docs: 📚️ deprecation getCell
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Labels: PR: unreviewed

#976 fix: 🐛 fix node translation with selected children
  packages/x6/src/addon/selection/index.ts
  packages/x6/src/model/cell.ts
  packages/x6/src/model/node.ts
Labels: PR: partially-approved, pkg:x6

#982 fix: 🐛 fix handledTranslation option passing to child node when translating
  packages/x6/src/model/node.ts
Labels: PR: reviewed-approved, pkg:x6

#992 feat: ✨ support panning scroller graph byrightmousedown
  examples/x6-example-features/src/pages/scroller/index.tsx
  packages/x6/src/graph/scroller.ts
Labels: PR: unreviewed, pkg:x6, size/M

#1029 docs: 📚️ add demo for toSVG
  sites/x6-sites/docs/tutorial/basic/graph.en.md
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
Labels: PR: unreviewed

#1030 docs: 📚️ add faq for dnd
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Labels: PR: unreviewed

#1031 fix: 🐛 fix x6-react-component release version
  packages/x6-react-components/src/dropdown/index.tsx
Labels: PR: unreviewed

#1032 docs: 📚️ fix refWidth2 demo
  sites/x6-sites/docs/api/registry/attr.en.md
  sites/x6-sites/docs/api/registry/attr.zh.md
Labels: PR: unreviewed

#1033 docs: 📚️ fix blank:mouseenter event name
  sites/x6-sites/docs/tutorial/intermediate/events.en.md
  sites/x6-sites/docs/tutorial/intermediate/events.zh.md
Labels: PR: unreviewed

#1035 docs: 📚️ optimize registerGrid dmeo
  sites/x6-sites/docs/api/registry/grid.en.md
  sites/x6-sites/docs/api/registry/grid.zh.md
Labels: PR: unreviewed
