Repository antvis/X6, pull requests merged in 2021-08, with the labels that each got.

#1225 fix: 🐛 remove prop not remove attr
  packages/x6/src/model/cell.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#1237 fix: 🐛 fix scroller content size when not autoResize
  packages/x6/src/addon/scroller/index.ts
Labels: PR: unreviewed, PR(fix), pkg:x6, size/XS

#1238 fix: 🐛 translateSelected nodes exclude self
  packages/x6/src/addon/selection/index.ts
Labels: PR: unreviewed, pkg:x6, size/S

#1247 docs: 📚️ add doc for panning
  sites/x6-sites/docs/api/graph/graph.en.md
  sites/x6-sites/docs/api/graph/graph.zh.md
Labels: PR: unreviewed, size/M

#1250 feat: x6-angular-shape support pass arguments
  packages/x6-angular-shape/README.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/src/view.ts
  packages/x6-angular-shape/tsconfig.json
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: unreviewed, size/M, feature

#1255 docs: Update ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: PR: unreviewed, size/XS

#1254 fix: 🐛 add keepId for node clone
  packages/x6/src/model/cell.ts
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Labels: PR: unreviewed, pkg:x6, size/M

#1262 fix: 🐛 optimize get child method
  packages/x6/src/model/cell.ts
Labels: PR: unreviewed, pkg:x6, size/M

#1267 docs: 📚️ delete performance doc
  sites/x6-sites/docs/tutorial/performance.en.md
  sites/x6-sites/docs/tutorial/performance.zh.md
Labels: PR: unreviewed

#1264 fix(x6-vue-shape): clear vue instance
  packages/x6-vue-shape/src/view.ts
Labels: PR: reviewed-approved, size/S

#1278 feat: 🎸 为定义业务数据的 data 属性提供类型定义
  packages/x6/src/model/cell.ts
Labels: PR: reviewed-approved, pkg:x6, size/S, needs-more-info

#1284 docs: 📚️ add flow chart demo
  sites/x6-sites/examples/showcase/practices/demo/flowchart.ts
  sites/x6-sites/examples/showcase/practices/demo/meta.json
Labels: PR: unreviewed, size/XL

#1305 fix: 🐛 not stopPropagation when mousedown
  packages/x6/src/addon/selection/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS
