Repository antvis/X6, pull requests merged in 2021-10, with the labels that each got.

#1389 fix: 🐛 draw background multiple times to show the last image
  packages/x6/src/graph/background.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1390 docs: 📚️ update logs
  sites/x6-sites/docs/tutorial/log.en.md
  sites/x6-sites/docs/tutorial/log.zh.md
Labels: PR: unreviewed, size/L

#1391 fix: 🐛 optimize contextmenu tools
  examples/x6-example-features/src/pages/tools/contextmenu.tsx
  examples/x6-example-features/src/pages/tools/tooltip.tsx
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
  sites/x6-sites/examples/edge/tool/demo/meta.json
Labels: PR: unreviewed, size/L

#1393 perf: ⚡️ improve box selection performance
  packages/x6/src/addon/selection/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1394 fix: 🐛 can not select flat edge
  packages/x6/src/graph/renderer.ts
  packages/x6/src/model/model.ts
Labels: PR: unreviewed, pkg:x6, size/S

#1396 docs: 📚️ add path-editor demo
  examples/x6-example-features/src/pages/edge/edge-editor.tsx
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/examples/showcase/practices/demo/path-editor.ts
Labels: PR: unreviewed, size/L

#1398 fix: 🐛 stop propagation when enable following
  packages/x6/src/addon/selection/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1397 fix: 🐛 modify the font size even if the text does not change
  packages/x6/src/registry/attr/text.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1399 feat: ✨ add batch for selection
  packages/x6/src/addon/selection/index.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/selection.ts
Labels: PR: unreviewed, pkg:x6, size/M

#1400 feat: ✨ add excludeHiddenNodes for manhattan router
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  sites/x6-sites/docs/api/registry/router.en.md
  sites/x6-sites/docs/api/registry/router.zh.md
Labels: PR: unreviewed, PR(feature), pkg:x6, size/S

#1475 feat: ✨ Angular Component支持使用setData进行更新
  packages/x6-angular-shape/src/view.ts
Labels: PR: unreviewed, size/S, feature
