Repository antvis/X6, pull requests merged in 2021-06, with the labels that each got.

#1041 fix: 🐛 fix bbox calc error in firefox
  packages/x6/src/util/dom/text.ts
Labels: PR: unreviewed

#1045 docs: 📚️ add `usePortal` React Hook doc
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: reviewed-approved

#1047 feat: ✨ support minimap in normal graph
  packages/x6/src/addon/minimap/index.ts
  packages/x6/src/graph/hook.ts
  packages/x6/src/graph/minimap.ts
  sites/x6-sites/docs/tutorial/basic/minimap.en.md
  sites/x6-sites/docs/tutorial/basic/minimap.zh.md
  sites/x6-sites/docs/tutorial/basic/scroller.en.md
  sites/x6-sites/docs/tutorial/basic/scroller.zh.md
Labels: PR: unreviewed, pkg:x6, size/L

#1049 docs: 📚️ update dingding code
  README.en-us.md
  README.md
  packages/x6/README.md
  sites/x6-sites/docs/api/registry/edge-tool.en.md
  sites/x6-sites/docs/api/registry/edge-tool.zh.md
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/docs/tutorial/contact.en.md
  sites/x6-sites/docs/tutorial/contact.zh.md
Labels: PR: unreviewed

#1051 fix: 🐛 optimize addTools params
  packages/x6/src/model/cell.ts
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/cell.zh.md
Labels: PR: unreviewed, pkg:x6, size/L

#1064 docs: 📚️ change browser support detail
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Labels: PR: unreviewed

#1066 fix: 🐛 fix scroller content size when not autoResize
  packages/x6/src/addon/scroller/index.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#1072 fix: 🐛 fix background size when not defined, fixed #1070
  packages/x6/src/graph/background.ts
Labels: PR: reviewed-approved, pkg:x6

#1089 fix: 🐛 not clean selection when mousedown
  packages/x6/src/graph/selection.ts
Labels: PR: unreviewed

#1091 fix: 🐛 translateSelectionNodes is only triggered manually
  packages/x6/src/addon/selection/index.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#1095 fix: 🐛 optimize cell remove method
  examples/x6-example-features/src/pages/group/data.json
  examples/x6-example-features/src/pages/group/index.tsx
  packages/x6/src/model/cell.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/L

#1096 fix: 🐛 fix the embedded triggered source
  packages/x6/src/view/node.ts
Labels: PR: unreviewed

#1097 fix: 🐛 fix node:move event triggered source
  packages/x6/src/view/node.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/S

#1103 fix: 🐛 fix type errors
  configs/eslint-config/package.json
  configs/package-json/cli.json
  configs/package-json/eslint.json
  configs/package-json/karma.json
  configs/package-json/package.json
  configs/package-json/rollup.json
  configs/stylelint-config/package.json
  examples/x6-example-features/src/pages/path/drawer/drawer.less
  examples/x6-example-features/src/pages/path/drawer/drawer.ts
  examples/x6-example-features/src/pages/path/drawer/index.tsx
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-react/package.json
  packages/x6-vector/package.json
  packages/x6-vector/src/dom/types/attributes-map.ts
  packages/x6-vector/src/vector/tspan/tspan.ts
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/addon/index.ts
  packages/x6/src/addon/path/index.less
  packages/x6/src/addon/path/index.ts
  packages/x6/src/index.less
  packages/x6/src/model/cell.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/node.ts
  packages/x6/src/types/csstype.ts
  packages/x6/src/view/node.ts
  sites/x6-sites-demos-helper/package.json
  yarn.lock
Labels: PR(fix), PR: unreviewed, bug, pkg:x6, pkg:x6-react-components, pkg:x6-react-shape, size/XL

#1104 fix: 🐛 fix alerts on lgtm.com
  packages/x6-vector/src/dom/dom.ts
  packages/x6-vector/src/vector/circle/circle.ts
  packages/x6-vector/src/vector/fe-base/fe-base.test.ts
  packages/x6-vector/src/vector/fe-base/fe-base.ts
  packages/x6-vector/src/vector/fe-blend/exts.ts
  packages/x6-vector/src/vector/fe-blend/fe-blend.test.ts
  packages/x6-vector/src/vector/fe-blend/fe-blend.ts
  packages/x6-vector/src/vector/fe-color-matrix/exts.ts
  packages/x6-vector/src/vector/fe-color-matrix/fe-color-matrix.test.ts
  packages/x6-vector/src/vector/fe-color-matrix/fe-color-matrix.ts
  packages/x6-vector/src/vector/fe-component-transfer/exts.ts
  packages/x6-vector/src/vector/fe-component-transfer/fe-component-transfer.test.ts
  packages/x6-vector/src/vector/fe-component-transfer/fe-component-transfer.ts
  packages/x6-vector/src/vector/fe-composite/fe-composite.ts
  packages/x6-vector/src/vector/fe-convolve-matrix/fe-convolve-matrix.ts
  packages/x6-vector/src/vector/fe-diffuse-lighting/fe-diffuse-lighting.ts
  packages/x6-vector/src/vector/fe-displacement-map/fe-displacement-map.ts
  packages/x6-vector/src/vector/fe-distant-light/fe-distant-light.ts
  packages/x6-vector/src/vector/fe-flood/fe-flood.ts
  packages/x6-vector/src/vector/fe-func-a/fe-func-a.ts
  packages/x6-vector/src/vector/fe-func-b/fe-func-b.ts
  packages/x6-vector/src/vector/fe-func-g/fe-func-g.ts
  packages/x6-vector/src/vector/fe-func-r/fe-func-r.ts
  packages/x6-vector/src/vector/fe-gaussian-blur/fe-gaussian-blur.ts
  packages/x6-vector/src/vector/fe-image/fe-image.ts
  packages/x6-vector/src/vector/fe-merge-node/fe-merge-node.ts
  packages/x6-vector/src/vector/fe-merge/fe-merge.ts
  packages/x6-vector/src/vector/fe-morphology/fe-morphology.ts
  packages/x6-vector/src/vector/fe-offset/fe-offset.ts
  packages/x6-vector/src/vector/fe-point-light/fe-point-light.ts
  packages/x6-vector/src/vector/fe-specular-lighting/fe-specular-lighting.ts
  packages/x6-vector/src/vector/fe-spot-light/fe-spot-light.ts
  packages/x6-vector/src/vector/fe-tile/fe-tile.ts
  packages/x6-vector/src/vector/fe-turbulence/fe-turbulence.ts
  packages/x6/src/graph/print.ts
  packages/x6/src/util/dom/elem.ts
  packages/x6/src/view/tool.ts
  sites/x6-sites/examples/showcase/faq/demo/change-mode.tsx
  sites/x6-svg-to-shape/src/pages/index.tsx
Labels: PR(fix), PR: unreviewed, pkg:x6, size/L

#1108 fix: 🐛 fix demo error in x6 sites
  package.json
  packages/x6/src/style/.gitignore
  packages/x6/src/style/raw.ts
  yarn.lock
Labels: PR: unreviewed, bug, pkg:x6, size/XXL

#1111 fix: 🐛 fix running error of x6-example-demo
  examples/x6-example-features/src/pages/path/drawer/drawer.ts
  examples/x6-example-features/src/pages/path/drawer/index.tsx
Labels: PR: unreviewed, bug, size/XS

#1110 fix: optimize flow chart demo
  examples/x6-app-draw/.umirc.ts
  examples/x6-app-draw/src/global.css
  examples/x6-app-draw/src/pages/Graph/data.ts
  examples/x6-app-draw/src/pages/Graph/index.ts
  examples/x6-app-draw/src/pages/Graph/shape.ts
  examples/x6-app-draw/src/pages/components/ToolBar/index.tsx
  examples/x6-app-draw/src/pages/index.less
  examples/x6-app-draw/src/pages/index.tsx
  examples/x6-app-draw/src/reset.less
Labels: PR: unreviewed, size/XXL

#1116 fix: 🐛 preventScroll when focus graph
  packages/x6/src/graph/keyboard.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#1115 feat: ✨ optimize selection event handle
  packages/x6/src/addon/selection/index.ts
  packages/x6/src/graph/options.ts
  packages/x6/src/model/cell.ts
  packages/x6/src/model/node.ts
Labels: PR: unreviewed, pkg:x6, size/M

#1118 fix: 🐛 unmount component when node unmount
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/src/view.ts
Labels: PR(fix), PR: unreviewed, needs-more-info, pkg:x6-react-shape, size/S

#1120 fix: 🐛 revert fix scroller content size
  packages/x6/src/addon/scroller/index.ts
Labels: PR: unreviewed, needs-more-info, pkg:x6, size/XS

#1121 fix: 🐛 auto scroll graph when drag magnet
  packages/x6/src/graph/panning.ts
  packages/x6/src/view/node.ts
Labels: PR: reviewed-approved, pkg:x6, size/M

#1125 fix: 🐛 revert add unmont method
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/src/view.ts
Labels: PR: unreviewed

#1124 fix: 🐛 add toolsAddable config for interacting
  packages/x6/src/view/cell.ts
Labels: PR(fix), PR: unreviewed, pkg:x6, size/XS

#1137 doc: update sites template
  packages/x6-geometry/README.md
  packages/x6-vector/README.md
  sites/x6-sites/gatsby-config.js
  sites/x6-sites/package.json
  yarn.lock
Labels: PR(documentation), PR: unreviewed, size/XS
