Repository antvis/X6, pull requests merged in 2021-11, with the labels that each got.

#1503 docs: 📚️ optimize flow chart demo
  sites/x6-sites/examples/showcase/practices/demo/flowchart.ts
  sites/x6-sites/examples/showcase/practices/demo/meta.json
Labels: PR: unreviewed, size/L

#1509 docs: 📚️ add er demo
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/case/er.tsx
  sites/x6-sites/examples/data/er.json
  sites/x6-sites/examples/showcase/practices/demo/class.ts
  sites/x6-sites/examples/showcase/practices/demo/er.ts
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/package.json
  yarn.lock
Labels: PR: unreviewed, size/XL

#1515 docs: 📚️ add dag demo
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/case/index.less
  sites/x6-sites/examples/data/dag.json
  sites/x6-sites/examples/showcase/practices/demo/algo-flow.tsx
  sites/x6-sites/examples/showcase/practices/demo/dag.tsx
  sites/x6-sites/examples/showcase/practices/demo/meta.json
Labels: PR: unreviewed, size/XXL

#1517 docs: 📚️ add bpmn demo
  examples/x6-example-features/src/pages/case/bpmn.tsx
  sites/x6-sites/examples/data/bpmn.json
  sites/x6-sites/examples/showcase/practices/demo/bpmn.ts
  sites/x6-sites/examples/showcase/practices/demo/class.ts
  sites/x6-sites/examples/showcase/practices/demo/dag.tsx
  sites/x6-sites/examples/showcase/practices/demo/er.ts
  sites/x6-sites/examples/showcase/practices/demo/flowchart.ts
  sites/x6-sites/examples/showcase/practices/demo/meta.json
Labels: PR: unreviewed, size/XL

#1526 docs: 📚️ add mindmap demo
  examples/x6-example-features/src/pages/case/mind.less
  examples/x6-example-features/src/pages/case/mind.tsx
  sites/x6-sites/examples/showcase/practices/demo/bpmn.ts
  sites/x6-sites/examples/showcase/practices/demo/dag.tsx
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/examples/showcase/practices/demo/mindmap.ts
Labels: PR: unreviewed, size/XL

#1538 docs: 📚️ update tooltip demo
  configs/eslint-config/CHANGELOG.md
  configs/package-json/CHANGELOG.md
  configs/stylelint-config/CHANGELOG.md
  examples/x6-app-dag/CHANGELOG.md
  examples/x6-app-draw/CHANGELOG.md
  examples/x6-app-er/CHANGELOG.md
  examples/x6-example-features/CHANGELOG.md
  examples/x6-example-features/src/pages/case/mind.less
  examples/x6-example-features/src/pages/case/mind.tsx
  packages/x6-vector/CHANGELOG.md
  sites/x6-sites-demos-helper/CHANGELOG.md
  sites/x6-sites-demos/CHANGELOG.md
  sites/x6-sites/CHANGELOG.md
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
  sites/x6-sites/examples/edge/tool/demo/meta.json
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-svg-to-shape/CHANGELOG.md
Labels: PR: unreviewed, size/M

#1546 docs: :memo: update custom-dege
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.zh.md
Labels: PR: unreviewed, size/XS

#1551 docs: 📚️ add animation demo
  examples/x6-example-features/src/pages/case/mind.less
  examples/x6-example-features/src/pages/case/mind.tsx
  sites/x6-sites/examples/animation/smil/demo/animateAlongPath.ts
  sites/x6-sites/examples/animation/smil/demo/meta.json
  sites/x6-sites/examples/animation/smil/index.en.md
  sites/x6-sites/examples/animation/smil/index.zh.md
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
  sites/x6-sites/examples/edge/tool/demo/meta.json
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
  sites/x6-sites/examples/graph/interaction/demo/meta.json
  sites/x6-sites/examples/graph/interaction/demo/zoom-background-image.ts
  sites/x6-sites/examples/graph/interaction/index.en.md
  sites/x6-sites/examples/graph/interaction/index.zh.md
  sites/x6-sites/examples/interaction/edge/demo/create.tsx
  sites/x6-sites/examples/interaction/edge/demo/meta.json
  sites/x6-sites/examples/interaction/edge/demo/meta.ts
  sites/x6-sites/examples/interaction/edge/demo/selection.ts
  sites/x6-sites/examples/interaction/edge/index.en.md
  sites/x6-sites/examples/interaction/edge/index.zh.md
  sites/x6-sites/examples/interaction/port/demo/meta.json
  sites/x6-sites/examples/interaction/port/demo/visible.ts
  sites/x6-sites/examples/interaction/port/index.en.md
  sites/x6-sites/examples/interaction/port/index.zh.md
  sites/x6-sites/examples/node/tool/demo/editable.ts
  sites/x6-sites/examples/node/tool/demo/meta.json
  sites/x6-sites/examples/showcase/practices/demo/dag.tsx
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/gatsby-config.js
Labels: PR: unreviewed, size/XL

#1552 docs: 📝 update edge
  sites/x6-sites/docs/tutorial/basic/edge.en.md
  sites/x6-sites/docs/tutorial/basic/edge.zh.md
Labels: PR: unreviewed, size/S

#1553 docs: 📚️ update layout demos
  packages/x6-vector/package.json
  sites/x6-sites/examples/animation/smil/demo/meta.json
  sites/x6-sites/examples/layout/general/demo/circle.ts
  sites/x6-sites/examples/layout/general/demo/dagre.ts
  sites/x6-sites/examples/layout/general/demo/ellipse.ts
  sites/x6-sites/examples/layout/general/demo/force.ts
  sites/x6-sites/examples/layout/general/demo/grid.ts
  sites/x6-sites/examples/layout/general/demo/meta.json
  sites/x6-sites/examples/layout/tree/demo/meta.json
  sites/x6-sites/examples/layout/tree/demo/mindmap.ts
Labels: PR: unreviewed, size/L

#1571 fix: fix react-color version to avoid bug
  packages/x6-react-components/package.json
Labels: bug, PR: unreviewed, size/XS, pkg:x6-react-components

#1555 docs: 📚️ update model
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Labels: PR: unreviewed, size/XS

#1575 docs: 📚️ add swimlane demo
  examples/x6-example-features/src/pages/case/swimlane.tsx
  sites/x6-sites/examples/data/swimlane.json
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/examples/showcase/practices/demo/mindmap.ts
  sites/x6-sites/examples/showcase/practices/demo/swimlane.ts
Labels: PR: unreviewed, size/XL

#1579 fix: resolve react-color version to avoid bug
  packages/x6-react-components/package.json
Labels: bug, PR: unreviewed, size/XS, pkg:x6-react-components
