Repository antvis/X6, pull requests merged in 2021-07, with the labels that each got.

#1143 docs: 📚️ add group demo
  examples/x6-example-features/src/pages/group/data.json
  examples/x6-example-features/src/pages/group/index.less
  examples/x6-example-features/src/pages/group/index.tsx
Labels: PR: reviewed-approved, size/XL

#1141 feat: add angualr shape
  package-lock.json
  package.json
  packages/x6-angular-shape/README.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/rollup.config.js
  packages/x6-angular-shape/src/hook.ts
  packages/x6-angular-shape/src/index.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
  packages/x6-angular-shape/tsconfig.json
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: reviewed-approved, feature, needs-more-info, size/XXL

#1151 fix: 🐛 unified panning api
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/tutorial/basic/graph.en.md
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
Labels: PR: reviewed-approved, pkg:x6, size/L

#1154 fix: fix angular typo
  package-lock.json
  packages/x6-angular-shape/CHANGELOG.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/rollup.config.js
  sites/x6-sites/CHANGELOG.md
Labels: PR: reviewed-approved, fix, size/XXL

#1153 docs: 📚️ delete design docs in demo
  examples/x6-app-dag/src/layout/header/index.tsx
  examples/x6-app-er/src/pages/ERGraph/Toolbar/index.tsx
Labels: PR: unreviewed, size/M

#1163 test: ✅ update test specs
  packages/x6-geometry/src/curve.ts
  packages/x6-geometry/src/ellipse.ts
  packages/x6-geometry/src/geometry.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/point.test.ts
  packages/x6-geometry/src/point.ts
  packages/x6-geometry/src/polyline.ts
  packages/x6-geometry/src/rectangle.test.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6-geometry/src/version.ts
Labels: PR(test), PR: reviewed-approved, size/L

#1167 fix: 🐛 fix delete node connection not delete
  examples/x6-app-dag/src/pages/rx-models/experiment-graph.tsx
Labels: PR: reviewed-approved, fix, size/XS

#1169 docs: 📚️ fix layout usage
  sites/x6-sites/docs/tutorial/advanced/layout.en.md
  sites/x6-sites/docs/tutorial/advanced/layout.zh.md
Labels: PR: unreviewed, needs-more-info, size/L

#1189 style: 🎨 optimize find snap methods
  packages/x6/src/view/edge.ts
Labels: PR: unreviewed, pkg:x6, size/M

#1192 fix: 🐛 revert optimze find snap elem
  packages/x6/src/view/edge.ts
Labels: PR: unreviewed

#1197 fix: 🐛 auto scroller when selection over graph
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/addon/selection/index.ts
Labels: PR: unreviewed, pkg:x6, size/M

#1200 Fix menu spelling mistake
  sites/x6-sites/examples/edge/tool/demo/meta.json
Labels: PR: reviewed-approved, size/XS

#1202 feat: ✨ add cell-editor tool
  packages/x6/src/graph/graph.ts
  packages/x6/src/index.less
  packages/x6/src/registry/tool/editor.less
  packages/x6/src/registry/tool/editor.ts
  packages/x6/src/registry/tool/index.ts
  packages/x6/src/style/raw.ts
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/.env
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/.gitignore
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/package.json
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/public/index.html
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/src/app.css
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/src/app.tsx
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/src/index.css
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/src/index.tsx
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/tsconfig.json
  sites/x6-sites/docs/api/registry/edge-tool.en.md
  sites/x6-sites/docs/api/registry/edge-tool.zh.md
  sites/x6-sites/docs/api/registry/node-tool.en.md
  sites/x6-sites/docs/api/registry/node-tool.zh.md
Labels: PR: unreviewed, pkg:x6, size/XL

#1203 fix: 🐛 change type of padding in ScaleContentToFitOptions
  packages/x6/src/graph/transform.ts
  sites/x6-sites/docs/api/graph/transform.en.md
  sites/x6-sites/docs/api/graph/transform.zh.md
Labels: PR: unreviewed, pkg:x6, size/S

#1210 Update cell.zh.md
  sites/x6-sites/docs/api/model/cell.zh.md
Labels: PR: unreviewed, size/M

#1211 fix: 🐛 Stencil searches are case sensitive
  packages/x6/src/addon/stencil/index.ts
Labels: PR: unreviewed
