Repository antvis/X6, pull requests merged in 2022-06, with the labels that each got.

#2177 perf: ⚡️ repalce getTransformToElement and getBBox to improve performance
  examples/x6-example-features/src/pages/v2/1.tsx
  examples/x6-example-features/src/pages/v2/index.tsx
  examples/x6-example-features/src/pages/v2/render.tsx
  packages/x6-common/__tests__/dom/matrix.test.ts
  packages/x6-common/__tests__/dom/transform.test.ts
  packages/x6-common/src/dom/transform.ts
  packages/x6-core/__tests__/common/disposable.test.ts
  packages/x6-core/__tests__/util/index.test.ts
  packages/x6-core/src/util/index.ts
  packages/x6-core/src/view/cache.ts
Labels: PR: unreviewed, size/XL

#2184 docs: 📚️ optimize dagre options
  sites/x6-sites/docs/tutorial/advanced/layout.en.md
  sites/x6-sites/docs/tutorial/advanced/layout.zh.md
Labels: PR: unreviewed, size/XS

#2198 feat: ✨ add virtual render feature
  examples/x6-example-features/src/pages/v2/render.tsx
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/scheduler/queueJob.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-core/src/view/cell.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/grid.ts
  packages/x6-next/src/graph/virtual-render.ts
Labels: PR: unreviewed, size/L

#2197 fix: :bug: Fixed the bug that node position was confused when the sel…
  packages/x6/src/addon/selection/index.ts
Labels: bug, PR: unreviewed, pkg:x6, size/XS, fix

#2206 feat: ✨ add view sorting and display feature
  packages/x6-core/src/scheduler/scheduler.ts
Labels: PR: unreviewed, size/L

#2209 docs: Change the getCellById method parameter name
  sites/x6-sites/docs/api/graph/model.zh.md
Labels: PR: unreviewed, size/XS

#2220 fix: 🐛 add some case sensitive attr
  packages/x6/src/util/dom/attr.ts
Labels: PR: unreviewed, PR(fix), pkg:x6, size/XS

#2222 chore: 🔧 fix malfunctioning github workflow
  .github/workflows/pr-label-status.yml
Labels: PR: unreviewed, PR(fix), size/XS

#2242 perf: ⚡️ optimize breakText for a high performance version
  examples/x6-example-features/src/pages/v2/clock.tsx
  examples/x6-example-features/src/pages/v2/graph.tsx
  examples/x6-example-features/src/pages/v2/index.less
  examples/x6-example-features/src/pages/v2/index.tsx
  packages/x6-common/src/dom/text.ts
  packages/x6-core/src/registry/attr/text.ts
Labels: PR: unreviewed, size/XL

#2243 feat: ✨ add panning and mousewheel module
  examples/x6-example-features/src/pages/v2/graph.tsx
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/dom/mousewheel.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/modifier/index.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/mousewheel.ts
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/graph/panning.ts
  packages/x6-next/src/graph/virtual-render.ts
Labels: PR: unreviewed, size/XL

#2230 feat: ✨ 🎸 panning mode support for minimap
  packages/x6/src/addon/minimap/index.ts
Labels: PR: unreviewed, pkg:x6, size/M, needs-more-info

#2258 fix: 🐛 Fixed the bug that node moved when draging port #2216
  packages/x6/src/view/node.ts
Labels: bug, PR: unreviewed, pkg:x6, size/XS

#2265 fix: 🐛 Fixed the bug that options.connecting.allowEdge does not take …
  packages/x6/src/view/edge.ts
Labels: bug, PR: unreviewed, pkg:x6, size/S

#2272 refactor: ♻️ add teleport for vue shape
  packages/x6-next/package.json
  packages/x6-next/src/index.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/rollup.config.js
  packages/x6-react-shape/src/node.ts
  packages/x6-react-shape/src/registry.ts
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/rollup.config.js
  packages/x6-vue-shape/src/hook.ts
  packages/x6-vue-shape/src/index.ts
  packages/x6-vue-shape/src/node.ts
  packages/x6-vue-shape/src/registry.ts
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
  yarn.lock
Labels: PR: unreviewed, size/L, pkg:x6-react-shape

#2279 fix: 🐛 fix allowNode option affects port connections
  packages/x6/src/graph/hook.ts
Labels: PR: unreviewed, pkg:x6, size/S

#2281 chore: 🔧 pin gitleaks-actions to v1.6.0
  .github/workflows/gitleaks.yml
Labels: PR: unreviewed, size/XS

#2292 docs: recorrect the docs of custom-node
  sites/x6-sites/docs/tutorial/intermediate/custom-node.en.md
Labels: PR: unreviewed, size/XS, needs-more-info

#2294 fix: 🐛 pick the max zindex node when frontOnly enabled in embending
  packages/x6/src/util/array/array.ts
  packages/x6/src/view/node.ts
Labels: PR: unreviewed, pkg:x6, size/XS
