Repository antvis/X6, pull requests merged in 2022-11, with the labels that each got.

#2815 feat: ✨ add stencil plugin
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/stencil/index.tsx
  packages/x6-plugin-stencil/LICENSE
  packages/x6-plugin-stencil/README.md
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-stencil/rollup.config.js
  packages/x6-plugin-stencil/scripts/style.js
  packages/x6-plugin-stencil/src/grid.ts
  packages/x6-plugin-stencil/src/index.less
  packages/x6-plugin-stencil/src/index.ts
  packages/x6-plugin-stencil/src/style/raw.ts
  packages/x6-plugin-stencil/tsconfig.json
  scripts/build-dev
Labels: PR: unreviewed, size/XXL

#2818 feat: ✨ add transform plugin
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/table/component.tsx
  examples/x6-example-features/src/pages/table/index.tsx
  examples/x6-example-features/src/pages/table/port.ts
  examples/x6-example-features/src/pages/token/index.tsx
  examples/x6-example-features/src/pages/tools/clean.tsx
  examples/x6-example-features/src/pages/tools/contextmenu.tsx
  examples/x6-example-features/src/pages/tools/tooltip.tsx
  examples/x6-example-features/src/pages/transform/index.tsx
  packages/x6-plugin-transform/LICENSE
  packages/x6-plugin-transform/README.md
  packages/x6-plugin-transform/package.json
  packages/x6-plugin-transform/rollup.config.js
  packages/x6-plugin-transform/scripts/style.js
  packages/x6-plugin-transform/src/index.less
  packages/x6-plugin-transform/src/index.ts
  packages/x6-plugin-transform/src/style/raw.ts
  packages/x6-plugin-transform/src/transform.ts
  packages/x6-plugin-transform/src/util.ts
  packages/x6-plugin-transform/tsconfig.json
Labels: PR: unreviewed, size/XXL

#2819 feat: ✨ add history plugin
  examples/x6-example-features/src/pages/shape/switch.tsx
  examples/x6-example-features/src/pages/table/index.tsx
  examples/x6-example-features/src/pages/transitions/data.ts
  examples/x6-example-features/src/pages/transitions/index.tsx
  examples/x6-example-features/src/pages/transitions/model.ts
  examples/x6-example-features/src/pages/transitions/shapes.ts
  examples/x6-example-features/src/pages/undo/index.tsx
  packages/x6-plugin-history/LICENSE
  packages/x6-plugin-history/README.md
  packages/x6-plugin-history/package.json
  packages/x6-plugin-history/rollup.config.js
  packages/x6-plugin-history/src/index.ts
  packages/x6-plugin-history/tsconfig.json
  scripts/build-dev
Labels: PR: unreviewed, size/XXL

#2820 feat: ✨ export common and geometry in x6 package
  examples/x6-example-features/src/pages/v2/data.ts
  examples/x6-example-features/src/pages/v2/graph-v1.tsx
  examples/x6-example-features/src/pages/v2/graph.tsx
  examples/x6-example-features/src/pages/v2/index.tsx
  examples/x6-example-features/src/pages/v2/react.tsx
  packages/x6-common/src/index.ts
  packages/x6-common/src/registry/index.ts
  packages/x6-geometry/src/path/normalize.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/point.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6-geometry/src/util.ts
  packages/x6-plugin-clipboard/rollup.config.js
  packages/x6-plugin-clipboard/src/clipboard.ts
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6/src/index.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/node.ts
  packages/x6/src/model/registry.ts
  packages/x6/src/registry/attr/index.ts
  packages/x6/src/registry/background/index.ts
  packages/x6/src/registry/connection-point/index.ts
  packages/x6/src/registry/connection-strategy/index.ts
  packages/x6/src/registry/connector/index.ts
  packages/x6/src/registry/edge-anchor/index.ts
  packages/x6/src/registry/filter/index.ts
  packages/x6/src/registry/grid/index.ts
  packages/x6/src/registry/highlighter/index.ts
  packages/x6/src/registry/marker/index.ts
  packages/x6/src/registry/node-anchor/index.ts
  packages/x6/src/registry/port-label-layout/index.ts
  packages/x6/src/registry/port-layout/index.ts
  packages/x6/src/registry/registry.ts
  packages/x6/src/registry/router/index.ts
  packages/x6/src/registry/router/manhattan/util.ts
  packages/x6/src/registry/tool/index.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/node.ts
Labels: PR: unreviewed, size/XXL, pkg:x6

#2826 feat: adjust event source and package deps
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-dnd/src/index.ts
  packages/x6-plugin-history/package.json
  packages/x6-plugin-history/src/index.ts
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-minimap/src/index.ts
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-snapline/src/snapline.ts
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-stencil/src/index.ts
  packages/x6-plugin-transform/package.json
  packages/x6-plugin-transform/src/index.ts
  packages/x6-plugin-transform/src/transform.ts
  packages/x6-plugin-transform/src/util.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/node.ts
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/node.ts
  packages/x6/src/view/node.ts
Labels: PR: unreviewed, size/XL, pkg:x6, pkg:x6-react-shape

#2831 fix: refactor example
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/animation/transition.tsx
  examples/x6-example-features/src/pages/case/class.tsx
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/clipboard/index.tsx
  examples/x6-example-features/src/pages/connector/multi.tsx
  examples/x6-example-features/src/pages/connector/offset-rounded.tsx
  examples/x6-example-features/src/pages/connector/xmind-definitions.ts
  examples/x6-example-features/src/pages/edge/custom-connector.tsx
  examples/x6-example-features/src/pages/edge/custom-edge.tsx
  examples/x6-example-features/src/pages/edge/custom-router.tsx
  examples/x6-example-features/src/pages/edge/tools.tsx
  examples/x6-example-features/src/pages/embed/dnd.tsx
  examples/x6-example-features/src/pages/graph/effect.ts
  examples/x6-example-features/src/pages/graph/index.tsx
  examples/x6-example-features/src/pages/hull/index.tsx
  examples/x6-example-features/src/pages/index.less
  examples/x6-example-features/src/pages/index.tsx
  examples/x6-example-features/src/pages/org/index.tsx
  examples/x6-example-features/src/pages/path/drawer/drawer.ts
  examples/x6-example-features/src/pages/path/random.tsx
  examples/x6-example-features/src/pages/performance/conveyor.tsx
  examples/x6-example-features/src/pages/performance/matrix.tsx
  examples/x6-example-features/src/pages/ports/connected.tsx
  examples/x6-example-features/src/pages/react/label.tsx
  examples/x6-example-features/src/pages/scroller/index.tsx
  examples/x6-example-features/src/pages/selection/index.tsx
  examples/x6-example-features/src/pages/shape/flowchart/shapes/card.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/collate.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/data.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/database.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/delay.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/direct-data.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/display.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/document.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/extract-or-measurement.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/internal-storage.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/loop-limit.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/manual-input.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/manual-operation.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/merge-or-storage.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/multi-document.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/off-page-reference.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/paper-tape.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/parallel-mode.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/predefined-process.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/preparation.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/process.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/sort.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/stored-data.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/summing-function.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/terminator.ts
  examples/x6-example-features/src/pages/shape/flowchart/shapes/transfer.ts
  examples/x6-example-features/src/pages/table/index.tsx
  examples/x6-example-features/src/pages/table/port.ts
  examples/x6-example-features/src/pages/v2/graph.tsx
  packages/x6-plugin-export/src/index.ts
  packages/x6-plugin-transform/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: PR: unreviewed, size/L

#2836 feat: upgrade react to 18 in react-components
  examples/x6-example-features/package.json
  packages/x6-react-components/package.json
  packages/x6-react-components/src/auto-scroll-box/index.tsx
  packages/x6-react-components/src/context-menu/index.tsx
  packages/x6-react-components/src/dropdown/index.tsx
  packages/x6-react-components/src/menu/divider.tsx
  packages/x6-react-components/src/menu/item.tsx
  packages/x6-react-components/src/menu/menu.tsx
  packages/x6-react-components/src/menu/submenu.tsx
  packages/x6-react-components/src/menubar/item.tsx
  packages/x6-react-components/src/menubar/menubar.tsx
  packages/x6-react-components/src/scroll-box/index.tsx
  packages/x6-react-components/src/split-box/box.tsx
  packages/x6-react-components/src/split-box/splitbox.tsx
  packages/x6-react-components/src/toolbar/group.tsx
  packages/x6-react-components/src/toolbar/item.tsx
  packages/x6-react-components/src/toolbar/toolbar.tsx
  packages/x6/package.json
  packages/x6/rollup.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: PR: unreviewed, size/L, pkg:x6, pkg:x6-react-components

#2851 feat: sync some commit from v1
  packages/x6-common/src/array/array.ts
  packages/x6-common/src/dom/attr.ts
  packages/x6-common/src/platform/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6-react-components/package.json
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/view.ts
  packages/x6/src/graph/mousewheel.ts
  packages/x6/src/graph/options.ts
  packages/x6/src/graph/view.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/model.ts
  packages/x6/src/registry/attr/connection.ts
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
  packages/x6/src/registry/tool/button.ts
  packages/x6/src/registry/tool/editor.ts
  packages/x6/src/shape/base.ts
  packages/x6/src/style/index.less
  packages/x6/src/view/attr.ts
  packages/x6/src/view/edge.ts
  packages/x6/src/view/node.ts
Labels: PR: unreviewed, size/L, pkg:x6, pkg:x6-react-components

#2855 fix: Cannot use "this" here: #2824
  packages/x6/src/view/tool.ts
Labels: PR: unreviewed, size/XS, pkg:x6

#2858 fix: 🐛 add timeout for animation setup
  packages/x6/src/util/dom/geom.ts
Labels: PR: unreviewed, size/XS, pkg:x6

#2860 fix: sync render when change position
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/shape/html.ts
Labels: PR: unreviewed, size/S, pkg:x6

#2864 feat: attach plugin api and events to grpah instance
  examples/x6-example-features/src/pages/scroller/index.tsx
  packages/x6-plugin-clipboard/src/api.ts
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-export/src/api.ts
  packages/x6-plugin-export/src/index.ts
  packages/x6-plugin-history/src/api.ts
  packages/x6-plugin-history/src/index.ts
  packages/x6-plugin-keyboard/src/api.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-selection/src/api.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-snapline/src/api.ts
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-transform/src/api.ts
  packages/x6-plugin-transform/src/index.ts
Labels: PR: unreviewed, size/XL

#2870 fix: optimize typo for react-shape
  packages/x6-react-shape/src/registry.ts
  packages/x6-react-shape/src/view.ts
  packages/x6-react-shape/src/wrap.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/background/package.json
  sites/x6-sites-demos/packages/tutorial/getting-started/background/src/app.css
  sites/x6-sites-demos/packages/tutorial/getting-started/background/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/background/src/index.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-shape/.env
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-shape/.gitignore
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-shape/package.json
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-shape/public/index.html
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-shape/src/app.css
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-shape/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-shape/src/index.css
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-shape/src/index.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-shape/tsconfig.json
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-style/.env
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-style/.gitignore
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-style/public/index.html
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-style/src/app.css
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-style/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-style/src/index.css
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-style/src/index.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/edge-style/tsconfig.json
  sites/x6-sites-demos/packages/tutorial/getting-started/helloworld/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/node-shape/.env
  sites/x6-sites-demos/packages/tutorial/getting-started/node-shape/.gitignore
  sites/x6-sites-demos/packages/tutorial/getting-started/node-shape/package.json
  sites/x6-sites-demos/packages/tutorial/getting-started/node-shape/public/index.html
  sites/x6-sites-demos/packages/tutorial/getting-started/node-shape/src/app.css
  sites/x6-sites-demos/packages/tutorial/getting-started/node-shape/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/node-shape/src/index.css
  sites/x6-sites-demos/packages/tutorial/getting-started/node-shape/src/index.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/node-shape/tsconfig.json
  sites/x6-sites-demos/packages/tutorial/getting-started/node-style/.env
  sites/x6-sites-demos/packages/tutorial/getting-started/node-style/.gitignore
  sites/x6-sites-demos/packages/tutorial/getting-started/node-style/package.json
  sites/x6-sites-demos/packages/tutorial/getting-started/node-style/public/index.html
  sites/x6-sites-demos/packages/tutorial/getting-started/node-style/src/app.css
  sites/x6-sites-demos/packages/tutorial/getting-started/node-style/src/index.css
  sites/x6-sites-demos/packages/tutorial/getting-started/node-style/src/index.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/node-style/tsconfig.json
  sites/x6-sites-demos/packages/tutorial/getting-started/react/.env
  sites/x6-sites-demos/packages/tutorial/getting-started/react/.gitignore
  sites/x6-sites-demos/packages/tutorial/getting-started/react/package.json
  sites/x6-sites-demos/packages/tutorial/getting-started/react/public/index.html
  sites/x6-sites-demos/packages/tutorial/getting-started/react/src/app.css
  sites/x6-sites-demos/packages/tutorial/getting-started/react/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/react/src/index.css
  sites/x6-sites-demos/packages/tutorial/getting-started/react/tsconfig.json
  sites/x6-sites-demos/packages/tutorial/getting-started/transform/.env
  sites/x6-sites-demos/packages/tutorial/getting-started/transform/.gitignore
  sites/x6-sites-demos/packages/tutorial/getting-started/transform/package.json
  sites/x6-sites-demos/packages/tutorial/getting-started/transform/public/index.html
  sites/x6-sites-demos/packages/tutorial/getting-started/transform/src/app.css
  sites/x6-sites-demos/packages/tutorial/getting-started/transform/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/transform/src/index.css
  sites/x6-sites-demos/packages/tutorial/getting-started/transform/src/index.tsx
  sites/x6-sites-demos/packages/tutorial/getting-started/transform/tsconfig.json
Labels: PR: unreviewed, size/XXL, pkg:x6-react-shape

#2877 docs: function 'addCells()' is undefined. (#2823)
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Labels: PR: unreviewed, size/M

#2878 feat(x6-react-component): support for antd 5.0
  configs/package-json/antd.json
  packages/x6-react-components/package.json
  packages/x6-react-components/src/color-picker/index.tsx
  packages/x6-react-components/src/toolbar/item.tsx
Labels: PR: unreviewed, size/S, pkg:x6-react-components

#2885 fix: 🐛 fix typo for color-picker
  packages/x6-react-components/src/color-picker/index.tsx
Labels: PR: unreviewed, size/XS, pkg:x6-react-components

#2903 fix: resize graph when scale scroller
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6/package.json
Labels: PR: unreviewed, size/XS, pkg:x6

#2904 fix: export snap methods from snapline
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-dnd/src/index.ts
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-snapline/src/index.ts
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/dnd/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/dnd/src/app.css
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/dnd/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/stencil/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/stencil/src/app.css
  sites/x6-sites-demos/packages/tutorial/plugins/dnd/stencil/src/app.tsx
  sites/x6-sites-demos/packages/tutorial/plugins/minimap/playground/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/scroller/playground/package.json
  sites/x6-sites-demos/packages/tutorial/plugins/snapline/playground/package.json
Labels: PR: unreviewed, size/L

#2906 feat: add exportSVG methods
  packages/x6-plugin-export/package.json
  packages/x6-plugin-export/src/api.ts
  packages/x6-plugin-export/src/index.ts
Labels: PR: unreviewed, size/S

#2925 docs: add performance demos
  sites/x6-sites-demos/packages/performance/react-flow/.gitignore
  sites/x6-sites-demos/packages/performance/react-flow/package.json
  sites/x6-sites-demos/packages/performance/react-flow/public/index.html
  sites/x6-sites-demos/packages/performance/react-flow/src/app.css
  sites/x6-sites-demos/packages/performance/react-flow/src/app.tsx
  sites/x6-sites-demos/packages/performance/react-flow/src/custom-node.tsx
  sites/x6-sites-demos/packages/performance/react-flow/src/index.css
  sites/x6-sites-demos/packages/performance/react-flow/src/index.tsx
  sites/x6-sites-demos/packages/performance/react-flow/tsconfig.json
  sites/x6-sites-demos/packages/performance/x6/.env
  sites/x6-sites-demos/packages/performance/x6/.gitignore
  sites/x6-sites-demos/packages/performance/x6/package.json
  sites/x6-sites-demos/packages/performance/x6/public/index.html
  sites/x6-sites-demos/packages/performance/x6/src/app.css
  sites/x6-sites-demos/packages/performance/x6/src/app.tsx
  sites/x6-sites-demos/packages/performance/x6/src/index.css
  sites/x6-sites-demos/packages/performance/x6/src/index.tsx
  sites/x6-sites-demos/packages/performance/x6/tsconfig.json
Labels: PR: unreviewed, size/XL

#2927 fix: modify the semantics of filter
  packages/x6-plugin-selection/src/selection.ts
  packages/x6-plugin-snapline/src/snapline.ts
  pnpm-workspace.yaml
Labels: PR: unreviewed, size/M

#2930 fix: updae react-resize-detector version
  packages/x6-plugin-snapline/src/snapline.ts
  packages/x6-react-components/package.json
  packages/x6-vue-shape/package.json
Labels: PR: unreviewed, size/S, pkg:x6-react-components

#2933 fix: support antd5 in react components
  packages/x6-plugin-selection/package.json
  packages/x6-react-components/package.json
  packages/x6-react-components/src/color-picker/index.tsx
  packages/x6-react-components/src/toolbar/item.tsx
Labels: PR: unreviewed, size/S, pkg:x6-react-components

#2924 fix: deep clone instead of shallow clone
  packages/x6-plugin-history/src/index.ts
Labels: PR: unreviewed, size/XS, needs-more-info

#2934 fix: get correct center when zoom
  packages/x6/src/graph/mousewheel.ts
Labels: PR: unreviewed, size/XS, pkg:x6

#2937 fix: update react type version
  packages/x6-react-components/package.json
Labels: PR: unreviewed, size/XS, pkg:x6-react-components

#2943 chore: update package version
  .github/workflows/release.yml
  .releaserc
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/model/edge.ts
  packages/x6/src/renderer/queueJob.ts
Labels: PR: unreviewed, size/M, pkg:x6, pkg:x6-react-shape, pkg:x6-react-components

#2949 fix: render vue shape in minimap with same cellid when using teleport
  packages/x6-vue-shape/src/view.ts
Labels: PR: unreviewed, size/XS

#2954 fix: dom.data support custom object
  packages/x6-common/src/dom/data.ts
Labels: PR: unreviewed, size/M

#2956 fix: trigger transform knob after click node
  packages/x6-plugin-transform/src/index.ts
Labels: PR: unreviewed, size/S

#2965 fix: not trigger keyboard event whith delete key in contenteditable elem
  karma.conf.js
  packages/x6-plugin-keyboard/src/keyboard.ts
Labels: PR: unreviewed, size/S, needs-more-info

#2968 fix: support react 17
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
Labels: PR: unreviewed, size/M, needs-more-info, pkg:x6-react-shape

#2970 fix: render react shape in dnd graph
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-snapline/src/snapline.ts
  packages/x6-react-shape/src/view.ts
  packages/x6/src/renderer/queueJob.ts
Labels: PR: unreviewed, size/S, pkg:x6, pkg:x6-react-shape

#2974 fix: export toJpeg methods in export plugin
  packages/x6-plugin-export/src/api.ts
Labels: PR: unreviewed, size/M
