Repository antvis/X6, pull requests merged in 2022-08, with the labels that each got.

#2410 feat: ✨ preventDefaultContextMenu support function
  packages/x6/src/graph/options.ts
  packages/x6/src/graph/view.ts
Labels: PR: unreviewed, pkg:x6, size/M

#2435 fix: 升级vue-demi版本
  packages/x6-vue-shape/package.json
Labels: PR: reviewed-changes-requested, size/XS, needs-more-info

#2451 docs: add some methods for model documentation
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Labels: PR: unreviewed, size/L

#2450 docs(README.md): fix typo of CDN
  README.md
Labels: PR: unreviewed, size/XS

#2468 chore: 🔧 update x6 version
  packages/x6/README.md
  packages/x6/package.json
  packages/x6/src/global/version.ts
  yarn.lock
Labels: PR: unreviewed, pkg:x6, size/XS, needs-more-info

#2472 fix: fix some issue
  packages/x6/package.json
  packages/x6/src/addon/selection/index.ts
  packages/x6/src/graph/renderer.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/model/model.ts
Labels: PR: unreviewed, pkg:x6, size/S

#2490 docs: 📚️ add deprecation notice for Snapline.sharp
  packages/x6/src/addon/snapline/index.ts
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/tutorial/basic/snapline.en.md
  sites/x6-sites/docs/tutorial/basic/snapline.zh.md
Labels: PR: reviewed-approved, pkg:x6, size/M

#2528 fix: 🐛 fix some issues
  packages/x6/src/graph/view.ts
  packages/x6/src/style/index.less
Labels: PR: reviewed-approved, pkg:x6, size/XS

#2492 fix(history): 🐛 try to merge move+embed into 1 undo
  examples/x6-example-features/src/pages/undo/index.tsx
  packages/x6/src/graph/history.ts
  packages/x6/src/view/node.ts
Labels: PR: unreviewed, pkg:x6, size/M

#2530 chore: optimize some features
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/animation/football.tsx
  examples/x6-example-features/src/pages/animation/transition.tsx
  examples/x6-example-features/src/pages/index.less
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/graph/virtual-render.ts
  packages/x6-next/src/model/animation.ts
  packages/x6-next/src/registry/tool/segments.ts
  packages/x6-next/src/registry/tool/vertices.ts
  packages/x6-next/src/renderer/queueJob.ts
  packages/x6-next/src/renderer/scheduler.ts
  packages/x6-next/src/shape/circle.ts
  packages/x6-next/src/shape/ellipse.ts
  packages/x6-next/src/shape/image.ts
  packages/x6-next/src/shape/index.ts
  packages/x6-next/src/shape/path.ts
  packages/x6-next/src/shape/poly.ts
  packages/x6-next/src/shape/polygon.ts
  packages/x6-next/src/shape/polyline.ts
  packages/x6-next/src/shape/text-block.ts
  packages/x6-next/src/shape/util.ts
  packages/x6-next/src/version.ts
  packages/x6-next/src/view/cell.ts
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  yarn.lock
Labels: PR: unreviewed, size/XL, pkg:x6-react-shape, needs-more-info

#2559 feat: support mouseenter and mouseleave event
  examples/x6-example-features/package.json
  examples/x6-example-features/src/pages/bus/index.tsx
  examples/x6-example-features/src/pages/bus/shapes.ts
  lerna.json
  package.json
  packages/x6-common/package.json
  packages/x6-common/src/dom/event/core.ts
  packages/x6-common/src/dom/event/special.ts
  packages/x6-common/src/dom/event/util.ts
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  yarn.lock
Labels: PR: unreviewed, size/L, pkg:x6-react-shape, needs-more-info

#2563 chore: update x6-next version
  packages/x6-next/src/version.ts
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  yarn.lock
Labels: PR: unreviewed, size/S, pkg:x6-react-shape, needs-more-info

#2408 feat: ✨ support scroller resize direction
  packages/x6/src/addon/scroller/index.ts
  sites/x6-sites/docs/api/graph/scroller.en.md
  sites/x6-sites/docs/api/graph/scroller.zh.md
Labels: PR: unreviewed, pkg:x6, size/M

#2569 refactor: ♻️ refactor x6 vue shape. close #2566
  packages/x6-vue-shape/src/registry.ts
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: unreviewed, size/M

#2582 fix: 🐛 #2581 修复 scheduler 任务调度的问题 (#2581)
  packages/x6/src/util/scheduler/index.ts
Labels: PR: reviewed-approved, pkg:x6, size/XS, fix, needs-more-info

#2590 docs: 📚️ add react-shape demos
  examples/x6-example-features/src/pages/react/index.less
  examples/x6-example-features/src/pages/react/index.tsx
  examples/x6-example-features/src/pages/react/portal.tsx
  examples/x6-example-features/src/pages/table/component.less
  examples/x6-example-features/src/pages/table/component.tsx
  examples/x6-example-features/src/pages/table/data.ts
  examples/x6-example-features/src/pages/table/index.tsx
  examples/x6-example-features/src/pages/table/port.ts
  examples/x6-example-features/src/pages/table/view.ts
Labels: PR: unreviewed, size/L

#2540 fix: 🐛修复 issue #2504问题
  packages/x6/src/graph/keyboard.ts
Labels: PR: reviewed-changes-requested, pkg:x6, size/XS
