Repository antvis/X6, pull requests merged in 2022-10, with the labels that each got.

#2742 feat: ✨ add selection plugin
  examples/x6-example-features/src/pages/selection/index.tsx
  packages/x6-common/src/dom/elem.ts
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/dom/position.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-selection/LICENSE
  packages/x6-plugin-selection/README.md
  packages/x6-plugin-selection/index.ts
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-selection/rollup.config.js
  packages/x6-plugin-selection/scripts/style.js
  packages/x6-plugin-selection/src/index.less
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6-plugin-selection/src/style/raw.ts
  packages/x6-plugin-selection/tsconfig.json
  packages/x6/src/graph/options.ts
Labels: PR: unreviewed, pkg:x6, size/XXL

#2745 fix: 🐛 add resizeOptions to getContentArea
  packages/x6/src/addon/scroller/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#2746 2739/revert snapline sharp option deprecation
  packages/x6/src/addon/snapline/index.ts
  packages/x6/src/graph/graph.ts
  sites/x6-sites/docs/tutorial/basic/snapline.en.md
  sites/x6-sites/docs/tutorial/basic/snapline.zh.md
Labels: PR: unreviewed, pkg:x6, size/M

#2756 feat: ✨ expose the selection api
  examples/x6-example-features/src/pages/selection/index.tsx
  package.json
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-selection/src/index.ts
Labels: PR: unreviewed, size/XL

#2768 fix: 🐛 check if the navigator global is available before usage
  packages/x6/src/util/platform/index.ts
Labels: PR: unreviewed, size/L

#2797 fix: 🐛 fix the error in selected nodes position when snapline enabled
  examples/x6-example-features/src/pages/case/dag.tsx
  packages/x6-plugin-selection/src/selection.ts
Labels: PR: unreviewed, size/XS, bug

#2798 fix: 🐛 fix the error in selected nodes position when snapline enabled
  examples/x6-example-features/src/pages/case/dag.tsx
  packages/x6/src/addon/selection/index.ts
Labels: PR: unreviewed, size/XS, pkg:x6, bug

#2799 fix: 🐛 add warn when use fallback router
  packages/x6/src/registry/router/manhattan/router.ts
Labels: PR: unreviewed, size/XS, pkg:x6

#2802 fix:🐛fix the bug cannot read properties of null when cell is not exit
  packages/x6/src/graph/history.ts
Labels: PR: unreviewed, size/XS, pkg:x6, bug
