Repository antvis/X6, pull requests merged in 2022-03, with the labels that each got.

#1860 docs:fix api graph description
  sites/x6-sites/docs/api/graph/graph.en.md
  sites/x6-sites/docs/api/graph/graph.zh.md
Labels: PR: unreviewed, size/XS, needs-more-info

#1862 docs: fix edge and custom-edge doc
  sites/x6-sites/docs/tutorial/basic/edge.en.md
  sites/x6-sites/docs/tutorial/basic/edge.zh.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.zh.md
Labels: PR: unreviewed, size/M

#1877 fix: 🐛 optimize setText for edge-editor
  packages/x6/src/registry/tool/editor.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1878 docs: fix typo
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Labels: PR: unreviewed, size/XS

#1894 feat: 🐛　support click on the non-text area without adding a new label
  packages/x6/src/registry/tool/editor.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1898 docs: update doc about and contact
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/docs/tutorial/contact.en.md
  sites/x6-sites/docs/tutorial/contact.zh.md
Labels: PR: unreviewed, size/XS, needs-more-info

#1907 style: 🎨 fix lint error
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/case/elk.tsx
  examples/x6-example-features/src/pages/edge/tooltip.tsx
  examples/x6-example-features/src/pages/embed/nested2.tsx
  examples/x6-example-features/src/pages/graph/attribute-card.tsx
  examples/x6-example-features/src/pages/graph/background-card.tsx
  examples/x6-example-features/src/pages/graph/bbox-card.tsx
  examples/x6-example-features/src/pages/graph/fit-card.tsx
  examples/x6-example-features/src/pages/graph/grid-card.tsx
  examples/x6-example-features/src/pages/graph/index.tsx
  examples/x6-example-features/src/pages/graph/scale-card.tsx
  examples/x6-example-features/src/pages/issues/520.tsx
  examples/x6-example-features/src/pages/issues/531.tsx
  examples/x6-example-features/src/pages/issues/537.tsx
  examples/x6-example-features/src/pages/issues/627.tsx
  examples/x6-example-features/src/pages/measurement/angle-shape.ts
  examples/x6-example-features/src/pages/org/index.tsx
  examples/x6-example-features/src/pages/path/random.tsx
  examples/x6-example-features/src/pages/performance/async.tsx
  examples/x6-example-features/src/pages/react/table/component.tsx
  examples/x6-example-features/src/pages/router/index.tsx
  examples/x6-example-features/src/pages/shape/xml-markup.tsx
  examples/x6-example-features/src/pages/tools/contextmenu.tsx
  examples/x6-example-features/src/pages/undo/index.tsx
  packages/x6/src/util/unit/index.test.ts
Labels: bug, PR: unreviewed, pkg:x6, size/M

#1908 chore: 🔧 delete package x6-react
  .github/workflows/config/labels.yml
  .github/workflows/delete-stale-releases.yml
  packages/x6-react/CHANGELOG.md
  packages/x6-react/README.md
  packages/x6-react/package.json
  packages/x6-react/rollup.config.js
  packages/x6-react/src/index.ts
  packages/x6-react/tsconfig.json
  packages/x6/README.md
  scripts/build-dev
Labels: PR: unreviewed, pkg:x6, size/XXL

#1910 fix: 🐛 change the order of statement
  packages/x6/src/registry/tool/editor.ts
Labels: PR: unreviewed, PR(fix), pkg:x6, size/XS

#1911 docs: add security policy
  AUTHORS
  SECURITY.md
  packages/x6/src/registry/tool/editor.ts
Labels: PR: unreviewed, pkg:x6, size/S

#1914 chore: 🔧 update the directory of test case
  packages/x6-geometry/__tests__/ellipse.test.ts
  packages/x6-geometry/__tests__/line.test.ts
  packages/x6-geometry/__tests__/path/normalize.test.ts
  packages/x6-geometry/__tests__/point.test.ts
  packages/x6-geometry/__tests__/polyline.test.ts
  packages/x6-geometry/__tests__/rectangle.test.ts
  packages/x6-geometry/__tests__/version.test.ts
  packages/x6-geometry/jest.config.js
  packages/x6-geometry/karma.conf.js
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
Labels: PR: unreviewed, size/M

#1921 feat: ✨ delete the new Function mode to avoid the CSP policy
  packages/x6/src/util/object/inherit.ts
Labels: PR: unreviewed, PR(fix), pkg:x6, size/S

#1932 feat: ✨ add events module in common
  packages/x6-common/__tests__/event/events.test.ts
  packages/x6-common/package.json
  packages/x6-common/src/dictionary/dictionary.ts
  packages/x6-common/src/dictionary/index.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/event/index.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/size-sensor/index.ts
  packages/x6-common/src/size-sensor/sensors/object.ts
  packages/x6-common/src/size-sensor/sensors/observer.ts
  packages/x6-common/src/size-sensor/sensors/types.ts
  packages/x6-common/src/types.ts
Labels: PR: unreviewed, size/XL

#1934 chore: 🔧 only include src in tsconfig
  packages/x6-common/package.json
  packages/x6-common/tsconfig.json
  packages/x6-geometry/package.json
  packages/x6-geometry/src/version.ts
  packages/x6-geometry/tsconfig.json
  scripts/build-dev
  yarn.lock
Labels: PR: unreviewed, size/S

#1941 chore: 🔧 migrate registry to common
  packages/x6-common/index.ts
  packages/x6-common/package.json
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/registry/index.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/types.ts
  packages/x6-common/src/vector/index.ts
  packages/x6-common/tsconfig.json
  packages/x6-geometry/index.ts
  packages/x6-geometry/tsconfig.json
Labels: PR: unreviewed, size/L, needs-more-info

#1943 feat: ✨ init x6-next repo
  packages/x6-next/README.md
  packages/x6-next/__tests__/version.test.ts
  packages/x6-next/index.ts
  packages/x6-next/karma.conf.js
  packages/x6-next/package.json
  packages/x6-next/rollup.config.js
  packages/x6-next/scripts/readme.js
  packages/x6-next/scripts/style.js
  packages/x6-next/src/index.less
  packages/x6-next/src/index.ts
  packages/x6-next/src/style/index.less
  packages/x6-next/src/style/raw.ts
  packages/x6-next/src/style/themes/default.less
  packages/x6-next/src/style/themes/index.less
  packages/x6-next/src/version.ts
  packages/x6-next/tsconfig.json
Labels: PR: unreviewed, size/XL

#1944 docs: fix wrong url of quick-start
  sites/x6-sites/docs/tutorial/basic/node.zh.md
Labels: PR: reviewed-changes-requested, size/XS, fix

#1945 feat: add config module for x6-next
  README.md
  packages/x6-next/README.md
  packages/x6-next/__tests__/version.test.ts
  packages/x6-next/src/global/config.ts
  packages/x6-next/src/global/index.ts
  packages/x6-next/src/global/version.ts
  packages/x6-next/src/index.ts
Labels: PR: unreviewed, size/S

#1950 chore: 🔧 unnamespace the types
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/types.ts
  packages/x6-common/src/vector/index.ts
Labels: PR: unreviewed, size/L

#1955 chore: 🔧 add importsNotUsedAsValues tsconfig
  packages/x6-common/package.json
  packages/x6-common/src/dom/event/core.ts
  packages/x6-common/src/dom/event/hook.ts
  packages/x6-common/src/dom/event/listener.ts
  packages/x6-common/src/dom/event/main.ts
  packages/x6-common/src/dom/event/object.ts
  packages/x6-common/src/dom/event/store.ts
  packages/x6-common/src/dom/event/types.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/types.ts
  packages/x6-common/src/vector/index.ts
  packages/x6-geometry/src/ellipse.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/path/close.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/path/segment.ts
  packages/x6-geometry/src/rectangle.ts
  tsconfig.json
Labels: PR: unreviewed, size/L
