Repository antvis/X6, pull requests merged in 2022-05, with the labels that each got.

#2076 docs: update doc error
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.zh.md
Labels: bug, PR: unreviewed, size/XS

#2084 fix: remove the browserslist configuration in package.json
  packages/x6-geometry/package.json
  packages/x6-vector/package.json
  packages/x6/package.json
Labels: PR: unreviewed, pkg:x6, size/S

#2087 docs: update api description of addTools
  sites/x6-sites/docs/api/model/cell.zh.md
Labels: PR: unreviewed, size/XS

#2086 docs: 📚️ add selection options description
  sites/x6-sites/docs/tutorial/basic/selection.en.md
  sites/x6-sites/docs/tutorial/basic/selection.zh.md
Labels: PR: unreviewed, size/S

#2088 chore: 🔧 delete browserslist config
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-vector/package.json
Labels: PR: unreviewed, size/S

#2078 feat: vue3支持使用useTeleport
  packages/x6-vue-shape/src/index.ts
  packages/x6-vue-shape/src/teleport.ts
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: unreviewed, size/L

#2090 fix: :bug: fix the graph function zoomTo not return the graph instance.
  packages/x6/src/graph/graph.ts
Labels: bug, PR: unreviewed, pkg:x6, size/XS, fix

#2095 fix: 🐛 not rerender tools when edge update
  packages/x6/src/view/edge.ts
  packages/x6/src/view/tool.ts
Labels: PR: unreviewed, pkg:x6, size/S

#2099 refactor: ♻️ remove toolsMarkup options
  examples/x6-example-features/src/pages/v2/1.tsx
  packages/x6-core/src/model/cell.ts
  packages/x6-core/src/model/collection.ts
  packages/x6-core/src/model/edge.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-core/src/view/flag.ts
  packages/x6-core/src/view/markup.ts
  packages/x6-core/src/view/tool.ts
  packages/x6-next/src/graph/graph.ts
Labels: PR: unreviewed, size/L

#2106 reactor: remove unnecessary api or options
  packages/x6-core/src/model/edge.ts
  packages/x6-core/src/registry/index.ts
  packages/x6-core/src/view/attr.ts
  packages/x6-core/src/view/cache.ts
  packages/x6-core/src/view/cell.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-next/src/graph/coord.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/options.ts
  yarn.lock
Labels: PR: unreviewed, size/L

#2109 feat: ✨ unified minimap interaction between scroller and panning
  packages/x6-vector/src/vector/image/image.test.ts
  packages/x6/src/addon/minimap/index.ts
  packages/x6/src/graph/mousewheel.ts
  packages/x6/src/graph/panning.ts
  packages/x6/src/graph/transform.ts
Labels: PR: unreviewed, pkg:x6, size/M

#2111 fix: 🐛 auto zoom minimap graph to fit content
  packages/x6/src/addon/minimap/index.ts
Labels: PR: unreviewed, pkg:x6, size/S

#2117 fix: 🐛 fix minimap error in after resize graph
  packages/x6/src/addon/minimap/index.ts
Labels: bug, PR: unreviewed, pkg:x6, size/M

#2118 refactor: ♻️ remove functions related to string markup
  packages/x6-core/src/model/edge.ts
  packages/x6-core/src/view/attr.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-core/src/view/flag.ts
  packages/x6-core/src/view/markup.ts
  packages/x6-core/src/view/node.ts
  packages/x6-vector/src/vector/image/image.test.ts
Labels: PR: unreviewed, size/XL, needs-more-info

#2129 fix: :bug: Fixed the error when a node meet an invisiable node in nod…
  packages/x6/src/view/node.ts
Labels: bug, PR: unreviewed, pkg:x6, size/XS, fix

#2148 chore: Set permissions for GitHub actions
  .github/workflows/pr-label-status-dummy.yml
  .github/workflows/update-cache.yaml
Labels: PR: unreviewed, size/XS

#2157 chore: Included githubactions in the dependabot config
  .github/dependabot.yml
Labels: PR: unreviewed, size/XS
