Repository antvis/X6, pull requests merged in 2022-09, with the labels that each got.

#2606 fix: fix problem that selection rubberband cannot be created
  packages/x6/src/addon/selection/index.ts
  sites/x6-sites/docs/api/graph/scroller.en.md
  sites/x6-sites/docs/api/graph/scroller.zh.md
  sites/x6-sites/package.json
  yarn.lock
Labels: PR: unreviewed, pkg:x6, size/S, needs-more-info

#2608 fix: 🐛 support percent in edge button tool
  packages/x6/src/registry/tool/button.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#2620 fix: 🐛 change the update function name to avoid unnecessary updates
  packages/x6/src/registry/tool/editor.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#2622 chore: 🔧 add publish cmd
  configs/package-json/cli.json
  examples/x6-example-features/package.json
  package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/global/version.ts
Labels: PR: unreviewed, pkg:x6, size/M

#2649 feat: add onPortRendered options
  package.json
  packages/x6-core/package.json
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/version.ts
  packages/x6-next/src/view/node.ts
  packages/x6-vector/package.json
  yarn.lock
Labels: PR: unreviewed, size/M

#2652 chore: 🔧 update peerDeps for plugins
  lerna.json
  packages/x6-plugin-scroller/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Labels: pkg:x6-react-shape

#2665 feat: ✨ add keyboard plugin
  examples/x6-example-features/src/pages/keyboard/index.tsx
  packages/x6-next/src/graph/graph.ts
  packages/x6-plugin-keyboard/LICENSE
  packages/x6-plugin-keyboard/README.md
  packages/x6-plugin-keyboard/index.ts
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-keyboard/rollup.config.js
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/tsconfig.json
  yarn.lock
Labels: PR: unreviewed, size/L, needs-more-info

#2585 feat: ✨ dnd add options: dndContainer
  packages/x6/src/addon/dnd/index.ts
  sites/x6-sites-demos/packages/tutorial/basic/dnd/dnd/src/app.tsx
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Labels: PR: reviewed-changes-requested, pkg:x6, size/S

#2667 feat: ✨ improve scroller plugin
  packages/x6-common/src/css-loader/index.ts
  packages/x6-common/src/css-loader/loader.ts
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/dom/prop.ts
  packages/x6-common/src/index.ts
  packages/x6-common/src/modifier/index.ts
  packages/x6-next/src/graph/css.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  packages/x6-plugin-scroller/scripts/style.js
  packages/x6-plugin-scroller/src/css.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  packages/x6-plugin-scroller/src/types.ts
Labels: PR: unreviewed, size/XXL

#2671 fix: 🐛 change init method to public
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-scroller/src/index.ts
Labels: PR: unreviewed, size/XS, needs-more-info

#2675 fix: 🐛 add page size check condition
  packages/x6/src/addon/scroller/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#2678 docs: 📚️ add port connected demo
  examples/x6-example-features/src/pages/ports/connected.tsx
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/transform.ts
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
Labels: PR: unreviewed, size/XL, needs-more-info

#2677 docs: fix the docs in use Vue3 Teleport
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: unreviewed, size/XS

#2679 docs: change changelog href
  README.md
  packages/x6/README.md
  sites/x6-sites/docs/tutorial/about.zh.md
Labels: PR: unreviewed, pkg:x6, size/XS

#2684 chore: 🔧 update react-resize-detector version
  packages/x6-react-components/package.json
  yarn.lock
Labels: PR: unreviewed, size/XS, pkg:x6-react-components

#2707 docs: 📚️ update demo for readme
  packages/x6-vue-shape/README.md
Labels: PR: unreviewed, size/S

#2706 fix: 🐛 fix scroller options typo
  packages/x6-react-components/package.json
  packages/x6-vue-shape/package.json
  packages/x6/README.md
  packages/x6/package.json
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/global/version.ts
Labels: PR: unreviewed, pkg:x6, size/S, pkg:x6-react-components

#2676 feat: ✨ foreignObject内部元素默认不触发拖动和选中行为 close #2549
  packages/x6-react-shape/src/view.ts
  packages/x6/src/util/dom/elem.ts
  packages/x6/src/view/node.ts
Labels: PR: reviewed-changes-requested, pkg:x6, size/M, pkg:x6-react-shape

#2711 fix: 🐛 add case sensitive attrs
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  packages/x6/src/util/dom/attr.ts
  packages/x6/src/view/attr.ts
Labels: PR: unreviewed, pkg:x6, size/S, pkg:x6-react-shape, pkg:x6-react-components

#2732 chore: 🔧 update react-shape version for sites demo
  packages/x6/src/global/version.ts
  sites/x6-sites-demos/package.json
Labels: PR: unreviewed, pkg:x6, size/XS

#2722 docs: 📚️ Translate some docs\tutorial\intermediate .md to english
  sites/x6-sites/docs/tutorial/basic/cell.en.md
  sites/x6-sites/docs/tutorial/basic/dnd.en.md
  sites/x6-sites/docs/tutorial/basic/node.en.md
  sites/x6-sites/docs/tutorial/intermediate/attrs.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-node.en.md
Labels: PR: unreviewed, size/XL

#2734 docs: 📚️ color not support gradients
  sites/x6-sites/docs/tutorial/basic/background.en.md
  sites/x6-sites/docs/tutorial/basic/background.zh.md
Labels: PR: unreviewed, size/XS

#2738 docs:修复中文文档关于zIndex描述中的错别字 修复 #2696
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/tutorial/basic/cell.zh.md
Labels: PR: unreviewed, size/XS
