Repository antvis/X6, pull requests merged in 2022-04, with the labels that each got.

#1959 feat: ✨ add css method for dom
  .gitignore
  packages/x6-common/__tests__/dom/attr.test.ts
  packages/x6-common/__tests__/dom/css.test.ts
  packages/x6-common/__tests__/dom/prefix.test.ts
  packages/x6-common/__tests__/dom/style.test.ts
  packages/x6-common/src/dom/css.ts
  packages/x6-common/src/dom/main.ts
  packages/x6-common/src/dom/prefix.ts
  packages/x6-common/src/types.ts
  tsconfig.json
Labels: PR: unreviewed, size/L

#1963 chore: 🔧 replace import type to import
  packages/x6-common/src/dom/data.ts
  packages/x6-common/src/dom/event/core.ts
  packages/x6-common/src/dom/event/hook.ts
  packages/x6-common/src/dom/event/index.ts
  packages/x6-common/src/dom/event/listener.ts
  packages/x6-common/src/dom/event/main.ts
  packages/x6-common/src/dom/event/object.ts
  packages/x6-common/src/dom/event/store.ts
  packages/x6-common/src/dom/event/types.ts
  packages/x6-common/src/dom/event/util.ts
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/event/events.ts
  packages/x6-common/src/registry/registry.ts
  packages/x6-common/src/size-sensor/index.ts
  packages/x6-common/src/size-sensor/sensors/object.ts
  packages/x6-common/src/size-sensor/sensors/observer.ts
  packages/x6-common/src/vector/index.ts
  packages/x6-geometry/src/ellipse.ts
  packages/x6-geometry/src/geometry.ts
  packages/x6-geometry/src/line.ts
  packages/x6-geometry/src/path/close.ts
  packages/x6-geometry/src/path/path.ts
  packages/x6-geometry/src/path/segment.ts
  packages/x6-geometry/src/point.ts
  packages/x6-geometry/src/rectangle.ts
  packages/x6-geometry/src/util.ts
Labels: PR: unreviewed, size/L, needs-more-info

#1969 feat: ✨ add dom data methods
  packages/x6-common/__tests__/dom/data.test.ts
  packages/x6-common/src/dom/data.ts
  packages/x6-common/src/dom/main.ts
Labels: PR: unreviewed, size/L

#1974 fix(x6-vue-shape): 🐛 error on removing fragment node
  packages/x6-vue-shape/src/view.ts
Labels: bug, PR: unreviewed, size/XS, fix

#1975 fix: 🐛 fix lgtm alert
  packages/x6-vector/src/dom/common/adopter.ts
  packages/x6/src/util/object/object.ts
Labels: PR: unreviewed, pkg:x6, size/S

#1981 feat: ✨ add version.ts
  packages/x6-common/package.json
  packages/x6-common/src/index.ts
  packages/x6-common/src/version.ts
  packages/x6-core/src/global/config.ts
  packages/x6-core/src/global/index.ts
  packages/x6-core/src/global/util.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/registry/highlighter/class.ts
  packages/x6-core/src/registry/highlighter/opacity.ts
  packages/x6-core/src/registry/highlighter/stroke.ts
  packages/x6-core/src/registry/index.ts
  packages/x6-core/src/registry/tool/vertices.ts
  packages/x6-core/src/view/view.ts
Labels: PR: unreviewed, size/M

#1977 fix: 🐛 fix scroller resize size miscalculation when graph resize
  packages/x6/src/addon/scroller/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS, fix

#1985 fix: 🐛 change copystyle not include number propery when toSvg
  packages/x6/src/graph/format.ts
Labels: PR: unreviewed, PR(fix), pkg:x6, size/XS, needs-more-info

#1988 docs: 📚️ optimize tooltip tools
  examples/x6-example-features/src/pages/edge/tooltip.tsx
  examples/x6-example-features/src/pages/tools/tooltip.tsx
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Labels: PR: unreviewed, PR(fix), size/L

#1989 fix: fix animationOptions type
  packages/x6/src/style/raw.ts
  packages/x6/src/util/dom/geom.ts
Labels: PR: unreviewed, pkg:x6, size/XS, needs-more-info

#1992 chore: 🔧 adjusting the directory structure
  packages/x6-common/package.json
  packages/x6-common/src/index.ts
  packages/x6-common/src/version.ts
  packages/x6-core/__tests__/global/disposable.test.ts
  packages/x6-core/__tests__/version.test.ts
  packages/x6-core/src/common/config.ts
  packages/x6-core/src/common/index.ts
  packages/x6-core/src/global/index.ts
  packages/x6-core/src/global/version.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/registry/connection-point/boundary.ts
  packages/x6-core/src/registry/highlighter/class.ts
  packages/x6-core/src/registry/highlighter/opacity.ts
  packages/x6-core/src/registry/highlighter/stroke.ts
  packages/x6-core/src/registry/tool/vertices.ts
  packages/x6-core/src/util/geom.ts
  packages/x6-core/src/util/index.ts
  packages/x6-core/src/util/transform.ts
  packages/x6-core/src/view/attr.ts
  packages/x6-core/src/view/cache.ts
  packages/x6-core/src/view/cell.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-core/src/view/node.ts
  packages/x6-core/src/view/view.ts
  packages/x6-geometry/__tests__/version.test.ts
  packages/x6-geometry/package.json
  packages/x6-geometry/src/index.ts
  packages/x6-geometry/src/version.ts
Labels: PR: unreviewed, size/XXL

#1991 docs: update doc api
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Labels: PR: unreviewed, size/S

#2000 refactor: ♻️ split graph and mvc module
  examples/x6-example-features/src/pages/case/dag.tsx
  examples/x6-example-features/src/pages/case/index.less
  examples/x6-example-features/src/pages/v2/index.tsx
  packages/x6-common/src/dom/event/core.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/renderer.ts
  packages/x6-core/src/view/node.ts
  packages/x6-next/README.md
  packages/x6-next/__tests__/version.test.ts
  packages/x6-next/package.json
  packages/x6-next/rollup.config.js
  packages/x6-next/src/global/config.ts
  packages/x6-next/src/global/index.ts
  packages/x6-next/src/graph/background.ts
  packages/x6-next/src/graph/base.ts
  packages/x6-next/src/graph/coord.ts
  packages/x6-next/src/graph/css.ts
  packages/x6-next/src/graph/defs.ts
  packages/x6-next/src/graph/events.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/grid.ts
  packages/x6-next/src/graph/index.ts
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/graph/transform.ts
  packages/x6-next/src/graph/view.ts
  packages/x6-next/src/index.ts
  packages/x6-next/src/registry/background/flip-x.ts
  packages/x6-next/src/registry/background/flip-xy.ts
  packages/x6-next/src/registry/background/flip-y.ts
  packages/x6-next/src/registry/background/index.ts
  packages/x6-next/src/registry/background/main.ts
  packages/x6-next/src/registry/background/watermark.ts
  packages/x6-next/src/registry/filter/blur.ts
  packages/x6-next/src/registry/filter/brightness.ts
  packages/x6-next/src/registry/filter/contrast.ts
  packages/x6-next/src/registry/filter/drop-shadow.ts
  packages/x6-next/src/registry/filter/gray-scale.ts
  packages/x6-next/src/registry/filter/highlight.ts
  packages/x6-next/src/registry/filter/hue-rotate.ts
  packages/x6-next/src/registry/filter/index.ts
  packages/x6-next/src/registry/filter/invert.ts
  packages/x6-next/src/registry/filter/main.ts
  packages/x6-next/src/registry/filter/outline.ts
  packages/x6-next/src/registry/filter/saturate.ts
  packages/x6-next/src/registry/filter/sepia.ts
  packages/x6-next/src/registry/filter/util.ts
  packages/x6-next/src/registry/grid/dot.ts
  packages/x6-next/src/registry/grid/double-mesh.ts
  packages/x6-next/src/registry/grid/fixed-dot.ts
  packages/x6-next/src/registry/grid/index.ts
  packages/x6-next/src/registry/grid/main.ts
  packages/x6-next/src/registry/grid/mesh.ts
  packages/x6-next/src/registry/index.ts
  packages/x6-next/src/shape/base.ts
  packages/x6-next/src/shape/edge.ts
  packages/x6-next/src/shape/index.ts
  packages/x6-next/src/shape/rect.ts
  packages/x6-next/src/shape/util.ts
  packages/x6-next/src/version.ts
Labels: PR: unreviewed, size/XXL

#2004 feat: sync code from master
  examples/x6-example-features/src/pages/tools/tooltip.tsx
  packages/x6-common/__tests__/dom/event.test.ts
  packages/x6-vector/src/dom/common/adopter.ts
  packages/x6-vue-shape/src/view.ts
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/graph/format.ts
  packages/x6/src/util/dom/geom.ts
  scripts/monorepo-semantic-release/yarn.lock
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
  yarn.lock
Labels: PR: unreviewed, pkg:x6, size/L

#2015 docs: update doc api
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Labels: PR: unreviewed, size/XS

#2021 refactor: ♻️ expose renderer interface in x6-core
  examples/x6-example-features/src/pages/v2/1.tsx
  examples/x6-example-features/src/pages/v2/2.tsx
  examples/x6-example-features/src/pages/v2/data.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/renderer/index.ts
  packages/x6-core/src/renderer/options.ts
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/schedule/index.ts
  packages/x6-core/src/schedule/schedule.ts
  packages/x6-core/src/view/node.ts
  packages/x6-next/src/graph/events.ts
  packages/x6-next/src/graph/graph.ts
  scripts/build-dev
Labels: PR: unreviewed, size/XXL

#2044 feat: add scheduler for render nodes to improve performance
  packages/x6-common/src/dom/attr.ts
  packages/x6-core/src/index.ts
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/schedule/index.ts
  packages/x6-core/src/schedule/schedule.ts
  packages/x6-core/src/scheduler/index.ts
  packages/x6-core/src/scheduler/queueJob.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-vector/karma.conf.js
Labels: PR: unreviewed, size/XXL

#2050 docs: correct code mistake
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
Labels: PR: unreviewed, size/S

#2052 feat: add priority scheduling for async jobs
  packages/x6-core/src/renderer/options.ts
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/scheduler/queueJob.ts
  packages/x6-core/src/scheduler/scheduler.ts
  packages/x6-next/src/graph/graph.ts
Labels: PR: unreviewed, size/L

#2053 chore: 🔧 build x6-vector when bootstrap to fix test error
  examples/x6-example-features/src/pages/v2/1.tsx
  scripts/build-dev
Labels: bug, PR: unreviewed, size/M

#2057 docs: 📚️ optimize custom node demo
  sites/x6-sites/examples/node/custom-node/demo/custom-with-svg.ts
Labels: PR: unreviewed, size/XS

#2063 perf: ⚡️ check whether label existed in port
  examples/x6-example-features/src/pages/v2/1.tsx
  packages/x6-core/src/view/node.ts
Labels: PR: unreviewed, size/L
