Repository antvis/X6, pull requests merged in 2022-12, with the labels that each got.

#2979 fix: remove lint error
  packages/x6-common/src/array/array.ts
  packages/x6-plugin-export/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/src/view.ts
  packages/x6/package.json
  packages/x6/src/graph/view.ts
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
  packages/x6/src/view/node.ts
  sites/x6-sites-demos-helper/src/wrap/content.tsx
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/basic/.eslintrc.js
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/basic/src/main.ts
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/update/.eslintrc.js
  sites/x6-sites-demos/packages/tutorial/intermediate/vue/update/src/main.ts
Labels: PR: unreviewed, size/M, pkg:x6, bug, pkg:x6-react-shape

#2991 chore: update wrong comment word
  packages/x6-plugin-selection/src/selection.ts
Labels: PR: unreviewed, size/XS, needs-more-info

#2992 fix: use geometry in selection box
  packages/x6-common/package.json
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
Labels: PR: unreviewed, size/M, pkg:x6-react-shape

#2993 chore: add eslintcache
  .gitignore
  package.json
Labels: PR: unreviewed, size/XS, needs-more-info

#2995 chore: remove ts and style lint error
  .gitignore
  .stylelintrc
  examples/x6-example-features/src/layouts/index.less
  examples/x6-example-features/src/pages/case/index.less
  examples/x6-example-features/src/pages/case/mind.less
  examples/x6-example-features/src/pages/dnd/index.less
  examples/x6-example-features/src/pages/graph/index.less
  examples/x6-example-features/src/pages/html/index.less
  examples/x6-example-features/src/pages/index.less
  examples/x6-example-features/src/pages/react/index.less
  examples/x6-example-features/src/pages/react/port.less
  examples/x6-example-features/src/pages/scroller/index.less
  examples/x6-example-features/src/pages/table/component.less
  examples/x6-example-features/src/pages/v2/index.less
  package.json
  packages/x6-common/src/color/index.ts
  packages/x6-common/src/object/object.ts
  packages/x6-geometry/src/path/util.ts
  packages/x6-geometry/src/polyline.ts
  packages/x6-plugin-minimap/src/index.less
  packages/x6-plugin-scroller/src/index.less
  packages/x6-plugin-stencil/src/index.less
  packages/x6-react-components/src/auto-scroll-box/style/index.less
  packages/x6-react-components/src/color-picker/style/index.less
  packages/x6-react-components/src/context-menu/style/index.less
  packages/x6-react-components/src/dropdown/style/index.less
  packages/x6-react-components/src/menu/style/index.less
  packages/x6-react-components/src/menubar/style/index.less
  packages/x6-react-components/src/scroll-box/style/index.less
  packages/x6-react-components/src/scrollbar/style/index.less
  packages/x6-react-components/src/split-box/style/index.less
  packages/x6-react-components/src/style/index.less
  packages/x6-react-components/src/style/themes/index.less
  packages/x6-react-components/src/toolbar/style/index.less
  packages/x6/src/index.less
  packages/x6/src/registry/tool/editor.less
  packages/x6/src/style/index.less
  packages/x6/src/style/themes/index.less
  sites/x6-sites-demos/packages/performance/react-flow/src/app.tsx
Labels: PR: unreviewed, size/L, pkg:x6, bug, pkg:x6-react-components

#3007 fix: hide elems when visible is false
  packages/x6/src/model/model.ts
  packages/x6/src/renderer/scheduler.ts
Labels: PR: unreviewed, size/S, pkg:x6

#3014 fix: make resizing options take effect
  examples/x6-example-features/src/pages/selection/index.tsx
  packages/x6-plugin-transform/src/index.ts
Labels: PR: unreviewed, size/S

#3017 fix: trigger preventDefault by origin event
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/view.ts
Labels: PR: unreviewed, size/S, pkg:x6

#3024 fix: cannot read properties of undefined when unmount vue component
  packages/x6-vue-shape/src/view.ts
Labels: PR: unreviewed, size/XS

#3027 fix: cancel debounce update for scroller plugin
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/scroller.ts
Labels: PR: unreviewed, size/XS

#3028 chore: update package version
  packages/x6-plugin-export/package.json
  packages/x6-plugin-export/src/api.ts
  packages/x6-plugin-scroller/package.json
Labels: PR: unreviewed, size/S, needs-more-info

#3043 fix: :bug: char ghosting when edit text (#2560)
  packages/x6/src/registry/tool/editor.ts
Labels: PR: unreviewed, size/S, pkg:x6, bug

#3061 fix: debounce update to improve performance
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/scroller.ts
  sites/x6-site/docs/tutorial/getting-started.en.md
Labels: PR: unreviewed, size/M, needs-more-info

#3062 feat: add snapToGrid options for manhattan router
  packages/x6/src/registry/index.ts
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
Labels: PR: unreviewed, size/M, pkg:x6, needs-more-info

#3065 fix: arrowhead not get options bug
  packages/x6/src/registry/tool/arrowhead.ts
Labels: PR: unreviewed, size/XS, pkg:x6, bug

#3066 fix: set snapToGrid to false by default
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/view/node.ts
Labels: PR: unreviewed, size/XS, pkg:x6

#3070 fix: fix window incompatibility problem
  packages/x6-common/src/polyfill/index.ts
Labels: PR: merged, size/XS

#3071 fix: optimize snapToGrid options for manhattan
  packages/x6/src/registry/router/manhattan/options.ts
  packages/x6/src/registry/router/manhattan/router.ts
Labels: PR: unreviewed, size/M, pkg:x6, needs-more-info

#3072 fix: add getGraph provide
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
Labels: PR: unreviewed, size/S, needs-more-info, pkg:x6-react-shape

#3075 fix: add createView options
  packages/x6/src/graph/options.ts
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/graph/view.zh.md
  sites/x6-sites/docs/api/interacting/interaction.zh.md
Labels: PR: unreviewed, size/L, pkg:x6

#3078 fix: get graph from right place
  packages/x6-vue-shape/src/view.ts
Labels: PR: unreviewed, size/XS, needs-more-info

#3090 fix: schedule edge when source and target is not ready
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/docs/api/graph/graph.zh.md
Labels: PR: unreviewed, size/M, pkg:x6

#3092 fix: add defense for view in transform plugin
  packages/x6-plugin-transform/src/transform.ts
Labels: PR: unreviewed, size/S

#3091 feat: add data processing dag example
  pnpm-lock.yaml
  sites/x6-sites/.dumi/global.ts
  sites/x6-sites/examples/showcase/practices/demo/dataProcessingDag.tsx
  sites/x6-sites/examples/showcase/practices/demo/meta.json
  sites/x6-sites/package.json
  sites/x6-sites/public/data/data-processing-dag.json
Labels: PR: unreviewed, size/XXL
