Repository antvis/X6, pull requests merged in 2022-01, with the labels that each got.

#1720 fix: fix typo in model
  packages/x6/src/model/model.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1712 doc: node-editor cell->nodeFix node editor
  sites/x6-sites/docs/api/registry/node-tool.en.md
  sites/x6-sites/docs/api/registry/node-tool.zh.md
Labels: PR: unreviewed, size/XS, needs-more-info

#1723 docs: 📚️ update react node docs
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: unreviewed, size/XL

#1722 fix: 🐛 add zindex for x6-widget-dne
  packages/x6/src/addon/dnd/index.less
Labels: PR: unreviewed, pkg:x6, size/XS

#1734 docs: 📚️ fix doc error
  sites/x6-sites/docs/api/registry/edge-tool.en.md
  sites/x6-sites/docs/api/registry/edge-tool.zh.md
Labels: bug, PR: unreviewed, size/XS

#1739 fix: 🐛 add updateCellId api
  packages/x6/src/graph/graph.ts
  packages/x6/src/model/model.ts
  sites/x6-sites/docs/api/graph/model.en.md
  sites/x6-sites/docs/api/graph/model.zh.md
Labels: PR: unreviewed, pkg:x6, size/M

#1741 fix: 🐛 stop panning when mouseleave body
  packages/x6/src/addon/scroller/index.ts
  packages/x6/src/graph/panning.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1744 fix: 🐛 change startBatch to stopBatch
  packages/x6/src/model/model.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#1745 feat: ✨ dispose components when unmount
  packages/x6-angular-shape/src/view.ts
  packages/x6-react-shape/src/view.ts
  packages/x6-vue-shape/src/view.ts
Labels: PR: unreviewed, size/S, pkg:x6-react-shape

#1751 fix: 🐛 change vue vm instance
  packages/x6-vue-shape/src/view.ts
Labels: PR: unreviewed, size/XS

#1754 fix: node input cannot get focus when keyboard options.global is enabled
  packages/x6/src/graph/keyboard.ts
Labels: PR: unreviewed, pkg:x6, size/S

#1763 feat: ✨ add insertPort api
  packages/x6/src/model/edge.ts
  packages/x6/src/model/node.ts
  packages/x6/src/registry/router/manhattan/options.ts
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/model/node.zh.md
Labels: PR: unreviewed, pkg:x6, size/M

#1783 fix: 🐛 not create label when text is empty
  packages/x6/src/registry/tool/editor.ts
  sites/x6-sites-demos/packages/api/registry/node-tool/editor/src/app.tsx
  sites/x6-sites/examples/node/tool/demo/editable.ts
Labels: PR: unreviewed, pkg:x6, size/S
