Repository antvis/X6, pull requests merged in 2022-07, with the labels that each got.

#2299 refactor: ♻️ separate the x6-next and x6-core
  examples/x6-example-features/src/pages/shape/helloworld.tsx
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-core/src/model/cell.ts
  packages/x6-core/src/model/model.ts
  packages/x6-core/src/registry/attr/fill.ts
  packages/x6-core/src/registry/attr/filter.ts
  packages/x6-core/src/registry/attr/marker.ts
  packages/x6-core/src/registry/attr/stroke.ts
  packages/x6-core/src/registry/connector/jumpover.ts
  packages/x6-core/src/registry/filter/blur.ts
  packages/x6-core/src/registry/filter/brightness.ts
  packages/x6-core/src/registry/filter/contrast.ts
  packages/x6-core/src/registry/filter/drop-shadow.ts
  packages/x6-core/src/registry/filter/gray-scale.ts
  packages/x6-core/src/registry/filter/highlight.ts
  packages/x6-core/src/registry/filter/hue-rotate.ts
  packages/x6-core/src/registry/filter/index.ts
  packages/x6-core/src/registry/filter/invert.ts
  packages/x6-core/src/registry/filter/main.ts
  packages/x6-core/src/registry/filter/outline.ts
  packages/x6-core/src/registry/filter/saturate.ts
  packages/x6-core/src/registry/filter/sepia.ts
  packages/x6-core/src/registry/filter/util.ts
  packages/x6-core/src/registry/index.ts
  packages/x6-core/src/registry/node-anchor/util.ts
  packages/x6-core/src/registry/router/manhattan/router.ts
  packages/x6-core/src/registry/tool/anchor.ts
  packages/x6-core/src/registry/tool/arrowhead.ts
  packages/x6-core/src/registry/tool/segments.ts
  packages/x6-core/src/registry/tool/util.ts
  packages/x6-core/src/registry/tool/vertices.ts
  packages/x6-core/src/renderer/coord.ts
  packages/x6-core/src/renderer/defs.ts
  packages/x6-core/src/renderer/highlight.ts
  packages/x6-core/src/renderer/index.ts
  packages/x6-core/src/renderer/options.ts
  packages/x6-core/src/renderer/queueJob.ts
  packages/x6-core/src/renderer/renderer.ts
  packages/x6-core/src/renderer/scheduler.ts
  packages/x6-core/src/scheduler/index.ts
  packages/x6-core/src/view/cell.ts
  packages/x6-core/src/view/edge.ts
  packages/x6-core/src/view/graph-view.ts
  packages/x6-core/src/view/index.ts
  packages/x6-core/src/view/node.ts
  packages/x6-core/src/view/tool.ts
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-next/src/graph/base.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/mousewheel.ts
  packages/x6-next/src/graph/options.ts
  packages/x6-next/src/graph/transform.ts
  packages/x6-next/src/version.ts
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Labels: PR: unreviewed, size/XXL, pkg:x6-react-shape

#2303 fix: 🐛 add timeout for schedule
  examples/x6-example-features/src/pages/v2/data.ts
  examples/x6-example-features/src/pages/v2/graph-v1.tsx
  examples/x6-example-features/src/pages/v2/graph-v2.tsx
  examples/x6-example-features/src/pages/v2/index.less
  examples/x6-example-features/src/pages/v2/index.tsx
  examples/x6-example-features/src/pages/v2/react.tsx
  packages/x6-core/src/renderer/queueJob.ts
  packages/x6-core/src/renderer/scheduler.ts
  packages/x6-next/src/graph/graph.ts
  packages/x6-next/src/graph/virtual-render.ts
  packages/x6/README.md
Labels: PR: unreviewed, pkg:x6, size/XXL

#2304 chore: 🔧 update package version
  packages/x6-common/package.json
  packages/x6-core/package.json
  packages/x6-geometry/package.json
  packages/x6-next/package.json
  packages/x6-next/src/version.ts
  packages/x6-react-shape/package.json
  packages/x6-react-shape/src/view.ts
  packages/x6-react-shape/src/wrap.tsx
  packages/x6-vue-shape/package.json
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
  yarn.lock
Labels: PR: unreviewed, size/M, pkg:x6-react-shape

#2312 fix: 🐛 Fixed the bug that node can't be draging.
  packages/x6/src/view/node.ts
Labels: bug, PR: reviewed-approved, pkg:x6, size/M

#2301 fix: fix global keyboard event is invalid in some case
  packages/x6/src/graph/keyboard.ts
Labels: PR: unreviewed, pkg:x6, size/XS, fix

#2327 docs: 📚️ add qa and changelog link
  sites/x6-sites/docs/tutorial/epilog.en.md
  sites/x6-sites/docs/tutorial/epilog.zh.md
  sites/x6-sites/docs/tutorial/log.en.md
  sites/x6-sites/docs/tutorial/log.zh.md
  sites/x6-sites/gatsby-config.js
Labels: PR: unreviewed, size/XXL

#2331 fix: 🐛 add x6-port-groupName class for port container
  packages/x6/src/view/node.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#2334 feat: ✨ #2333 Set excludeNodes for manhattan args
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  sites/x6-sites/docs/api/registry/router.en.md
  sites/x6-sites/docs/api/registry/router.zh.md
Labels: PR: unreviewed, pkg:x6, size/S, feature

#2335 feat: ✨ add clipboard:changed event
  packages/x6/src/graph/clipboard.ts
  packages/x6/src/graph/events.ts
  sites/x6-sites/docs/tutorial/basic/clipboard.en.md
  sites/x6-sites/docs/tutorial/basic/clipboard.zh.md
Labels: PR: unreviewed, pkg:x6, size/M

#2337 fix: 🐛 set visible true when init cells
  packages/x6/src/shape/base.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#2338 fix: 🐛 snapline constructor init offset close #2318
  packages/x6/src/addon/snapline/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#2339 feat: ✨ support padding options for manhattan router
  packages/x6/src/registry/router/manhattan/options.ts
  sites/x6-sites/docs/api/registry/router.en.md
  sites/x6-sites/docs/api/registry/router.zh.md
Labels: PR: unreviewed, pkg:x6, size/XS

#2340 fix: 🐛 fix embeded event trigger error
  packages/x6/src/view/node.ts
Labels: bug, PR: unreviewed

#2341 fix: 🐛 normalize angle when rotating
  packages/x6/src/addon/transform/index.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#2302 feat: support shift key multi-selection
  packages/x6/src/graph/options.ts
  packages/x6/src/graph/selection.ts
  sites/x6-sites/docs/api/graph/selecting.en.md
  sites/x6-sites/docs/api/graph/selecting.zh.md
  sites/x6-sites/docs/tutorial/basic/selection.en.md
  sites/x6-sites/docs/tutorial/basic/selection.zh.md
Labels: PR: unreviewed, pkg:x6, size/M, fix

#2310 fix: fix selection box incorrect position when enable snapline
  packages/x6/src/addon/snapline/index.less
Labels: PR: unreviewed, pkg:x6, size/XS, fix

#2347 chore: 🔧 include src to x6-react-shape build files
  packages/x6-react-shape/package.json
  packages/x6/package.json
  packages/x6/src/global/version.ts
  packages/x6/src/style/raw.ts
  packages/x6/src/util/unit/index.test.ts
Labels: PR: unreviewed, pkg:x6, size/S, pkg:x6-react-shape

#2358 chore: 🔧 comment GitHub actions
  .github/workflows/auto-close-fixed-issues.yml
  .github/workflows/auto-comment.yml
  .github/workflows/ci.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/delete-stale-releases.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/gitleaks.yml
  .github/workflows/label-commands.yml
  .github/workflows/lock.yml
  .github/workflows/needs-more-info.yml
  .github/workflows/potential-duplicates.yml
  .github/workflows/pr-label-branch-name.yml
  .github/workflows/pr-label-file-paths.yml
  .github/workflows/pr-label-patch-size.yml
  .github/workflows/pr-label-status-dummy.yml
  .github/workflows/pr-label-status.yml
  .github/workflows/pr-label-title-body.yml
  .github/workflows/preview.yml
  .github/workflows/rebase.yml
  .github/workflows/release.yml
  .github/workflows/slash-commands.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/sync-to-gitee.yml
  .github/workflows/update-authors.yml
  .github/workflows/update-cache.yaml
  .github/workflows/update-contributors.yml
  .github/workflows/update-license.yml
  .github/workflows/welcome.yml
Labels: PR: unreviewed, PR(internal), size/M

#2362 feat: ✨ New property for edge connection attr
  packages/x6/src/registry/attr/connection.ts
  sites/x6-sites/docs/api/registry/attr.en.md
  sites/x6-sites/docs/api/registry/attr.zh.md
Labels: PR: unreviewed, pkg:x6, size/M, feature

#2395 fix: Enhance isinputevent method
  packages/x6/src/graph/keyboard.ts
Labels: PR: unreviewed, pkg:x6, size/XS

#2400 docs: 📖　the tool of edge documentation update
  sites/x6-sites/docs/api/registry/edge-tool.en.md
  sites/x6-sites/docs/api/registry/edge-tool.zh.md
Labels: PR: unreviewed, size/XS, needs-more-info
