Repository antvis/X6, pull requests merged in 2023-05, with the labels that each got.

#3569 fix: undo crash when attr is null
  packages/x6-plugin-history/src/index.ts
Labels: PR: reviewed-approved, size/XS, fix

#3577 fix: trigger dblclick event only one time
  packages/x6-plugin-history/package.json
  packages/x6/package.json
  packages/x6/src/registry/tool/editor.ts
Labels: PR: unreviewed, PR(fix), size/S, pkg:x6

#3580 docs: optimize doc for cell
  sites/x6-sites/docs/api/model/attrs.zh.md
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/tutorial/basic/node.zh.md
  sites/x6-sites/docs/tutorial/basic/serialization.zh.md
  sites/x6-sites/docs/tutorial/plugins/dnd.zh.md
Labels: PR: unreviewed, PR(documentation), size/XL

#3585 devtool docs
  packages/x6-devtool/README.md
  sites/x6-sites/docs/tutorial/devtool.zh.md
Labels: PR: unreviewed, size/M

#3586 fix: setText and getText support string
  packages/x6/src/registry/tool/editor.ts
  sites/x6-sites/docs/api/registry/edge-tool.zh.md
  sites/x6-sites/docs/api/registry/node-tool.zh.md
Labels: PR: unreviewed, PR(fix), size/L, pkg:x6

#3591 fix: same cell id when using portal #2949
  packages/x6-react-shape/src/view.ts
Labels: PR: unreviewed, size/XS, pkg:x6-react-shape

#3600 chore: release x6@2.11.1 and x6-react-shape@2.2.2
  packages/x6-react-shape/package.json
  packages/x6/package.json
Labels: PR: unreviewed, PR(chore), size/XS, pkg:x6, pkg:x6-react-shape

#3597 fix: widget ouside graph, close #3595
  packages/x6/src/style/index.less
Labels: PR: reviewed-approved, size/XS, pkg:x6

#3625 Update .dumirc.ts 统一官网消息配置，合并后官网发个版
  sites/x6-sites/.dumirc.ts
Labels: PR: unreviewed, size/S
