Repository antvis/X6, pull requests merged in 2023-08, with the labels that each got.

#3826 fix: 修复 Angular Component 节点被移除时没有触发销毁的生命周期
  packages/x6-angular-shape/src/view.ts
Labels: PR: unreviewed, size/XS, fix

#3827 feat: node-editor新增width和height配置
  packages/x6/src/registry/tool/editor.ts
Labels: PR: unreviewed, size/S, feature, pkg:x6

#3862 fix: doc incorrect text
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Labels: PR: unreviewed, size/XS
