Repository antvis/X6, pull requests merged in 2023-07, with the labels that each got.

#3722 docs: Add notes in the scroller plugin doc
  sites/x6-sites/docs/tutorial/plugins/scroller.zh.md
Labels: PR: unreviewed, size/XS

#3726 fix: set some function to own attrs
  packages/x6-common/src/dom/event/object.ts
  packages/x6-plugin-stencil/package.json
  packages/x6/src/view/view.ts
Labels: PR: unreviewed, PR(fix), size/S, pkg:x6

#3730 fix: render edge when source or target in render area
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/view/edge.ts
Labels: PR: unreviewed, PR(fix), size/M, pkg:x6

#3731 docs: modify the sample style error
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
Labels: PR: unreviewed, size/XS

#3737 fix: check labelNode existed before change postion
  packages/x6/src/view/edge.ts
Labels: PR: unreviewed, PR(fix), size/S, pkg:x6

#3740 fix: change update prioriy in render
  packages/x6/src/renderer/queueJob.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6

#3742 chore: release @antv/x6-common@2.0.14
  examples/x6-example-features/CHANGELOG.md
  packages/x6-common/CHANGELOG.md
  packages/x6-common/package.json
  packages/x6-common/src/dom/attr.ts
  packages/x6-geometry/CHANGELOG.md
  packages/x6-plugin-clipboard/CHANGELOG.md
  packages/x6-plugin-dnd/CHANGELOG.md
  packages/x6-plugin-export/CHANGELOG.md
  packages/x6-plugin-history/CHANGELOG.md
  packages/x6-plugin-keyboard/CHANGELOG.md
  packages/x6-plugin-minimap/CHANGELOG.md
  packages/x6-plugin-scroller/CHANGELOG.md
  packages/x6-plugin-selection/CHANGELOG.md
  packages/x6-plugin-snapline/CHANGELOG.md
  packages/x6-plugin-stencil/CHANGELOG.md
  packages/x6-plugin-transform/CHANGELOG.md
  packages/x6-react-components/CHANGELOG.md
  packages/x6-react-shape/CHANGELOG.md
  packages/x6-vue-shape/CHANGELOG.md
  sites/x6-sites/CHANGELOG.md
Labels: PR: unreviewed, PR(fix), size/XL, pkg:x6-react-shape, pkg:x6-react-components

#3765 fix: fix invalid history on vertices tool
  packages/x6-plugin-scroller/package.json
  packages/x6/package.json
  packages/x6/src/registry/tool/vertices.ts
Labels: PR: unreviewed, PR(fix), size/S, pkg:x6

#3761 feat: x6-vue-shape supports getting nodes and graph in the props
  packages/x6-vue-shape/src/teleport.ts
  packages/x6-vue-shape/src/view.ts
Labels: PR: reviewed-approved, size/XS

#3767 feat: supports dynamic modification of groups and nodes in stencil
  packages/x6-plugin-dnd/src/index.ts
  packages/x6-plugin-stencil/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/stencil.md
  sites/x6-sites/src/tutorial/plugins/stencil/index.less
  sites/x6-sites/src/tutorial/plugins/stencil/index.tsx
Labels: PR: unreviewed, PR(feature), size/L

#3770 fix: consider transform when calc bbox
  packages/x6/src/util/index.ts
Labels: PR: unreviewed, PR(fix), size/S, pkg:x6

#3773 fix: unembed edge only when have new parent
  packages/x6/src/model/edge.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6

#3778 feat: add modifiers for vertices tool
  packages/x6/src/registry/tool/vertices.ts
  sites/x6-sites/docs/api/registry/edge-tool.zh.md
Labels: PR: unreviewed, PR(feature), size/M, pkg:x6

#3779 fix: guard parameter does not match the type
  packages/x6/src/graph/mousewheel.ts
  sites/x6-sites/docs/api/graph/mousewheel.zh.md
Labels: PR: unreviewed, size/XS, fix, pkg:x6

#3780 fix: sync render tools
  packages/x6/src/renderer/scheduler.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6

#3788 feat: 修改文档错别字
  sites/x6-sites/docs/tutorial/plugins/export.zh.md
Labels: PR: unreviewed, size/XS

#3795 docs: wobble parameter names are incorrect
  sites/x6-sites/docs/api/registry/connector.zh.md
Labels: PR: unreviewed, size/XS, fix

#3803 docs: cell.setData, `deep: false` code error
  sites/x6-sites/docs/api/model/cell.zh.md
Labels: PR: unreviewed, size/XS

#3805 docs: update antd version
  sites/x6-sites/package.json
Labels: PR: unreviewed, PR(documentation), size/XS

#3807 docs: add warn in react shape
  sites/x6-sites/docs/tutorial/intermediate/react.zh.md
Labels: PR: unreviewed, PR(documentation), size/XS

#3816 fix: updateCellId api bug
  packages/x6/src/model/model.ts
Labels: PR: reviewed-approved, size/XS, pkg:x6
