Repository antvis/X6, pull requests merged in 2023-06, with the labels that each got.

#3645 fix: replace children prop to childNodes
  packages/x6-common/src/dom/text.ts
Labels: PR: unreviewed, PR(fix), size/S

#3648 docs: typo fix
  sites/x6-sites/docs/api/graph/panning.zh.md
Labels: PR: unreviewed, size/XS, needs-more-info

#3652 docs: fixed the link to the homepage of the official website (#3651)
  sites/x6-sites/site/pages/index.zh.tsx
Labels: PR: unreviewed, size/XS, fix

#3658 fix: reset factor when calc factor is 1
  packages/x6/src/graph/mousewheel.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6

#3659 fix(Group): add Condition:Embeds the edge if source and target are not same
  packages/x6/src/model/edge.ts
Labels: PR: reviewed-approved, size/XS, fix, pkg:x6

#3690 docs: add demos for label doc
  .prettierignore
  sites/x6-sites/.dumi/global.less
  sites/x6-sites/docs/api/graph/panning.zh.md
  sites/x6-sites/docs/api/model/attrs.zh.md
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/api/model/labels.zh.md
  sites/x6-sites/docs/api/model/marker.zh.md
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/api/registry/edge-tool.zh.md
  sites/x6-sites/docs/api/registry/filter.zh.md
  sites/x6-sites/docs/api/registry/node-tool.zh.md
  sites/x6-sites/docs/api/registry/port-label-layout.zh.md
  sites/x6-sites/docs/api/registry/port-layout.zh.md
  sites/x6-sites/docs/api/registry/router.zh.md
  sites/x6-sites/docs/tutorial/basic/edge.zh.md
  sites/x6-sites/docs/tutorial/basic/events.zh.md
  sites/x6-sites/docs/tutorial/basic/graph.zh.md
  sites/x6-sites/docs/tutorial/basic/interacting.zh.md
  sites/x6-sites/docs/tutorial/basic/node.zh.md
  sites/x6-sites/docs/tutorial/basic/port.zh.md
  sites/x6-sites/docs/tutorial/basic/serialization.zh.md
  sites/x6-sites/docs/tutorial/devtool.zh.md
  sites/x6-sites/docs/tutorial/intermediate/angular.md
  sites/x6-sites/docs/tutorial/intermediate/connection-point.zh.md
  sites/x6-sites/docs/tutorial/intermediate/group.zh.md
  sites/x6-sites/docs/tutorial/intermediate/html.md
  sites/x6-sites/docs/tutorial/intermediate/react.zh.md
  sites/x6-sites/docs/tutorial/intermediate/tools.zh.md
  sites/x6-sites/docs/tutorial/intermediate/vue.md
  sites/x6-sites/docs/tutorial/plugins/clipboard.zh.md
  sites/x6-sites/docs/tutorial/plugins/dnd.zh.md
  sites/x6-sites/docs/tutorial/plugins/export.zh.md
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
  sites/x6-sites/docs/tutorial/plugins/keyboard.zh.md
  sites/x6-sites/docs/tutorial/plugins/minimap.zh.md
  sites/x6-sites/docs/tutorial/plugins/scroller.zh.md
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
  sites/x6-sites/docs/tutorial/plugins/snapline.zh.md
  sites/x6-sites/docs/tutorial/plugins/stencil.md
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
  sites/x6-sites/docs/tutorial/update.zh.md
  sites/x6-sites/src/api/grid/playground/index.tsx
  sites/x6-sites/src/api/label/append-label/index.less
  sites/x6-sites/src/api/label/append-label/index.tsx
  sites/x6-sites/src/api/label/label-attrs/index.less
  sites/x6-sites/src/api/label/label-attrs/index.tsx
  sites/x6-sites/src/api/label/label-markup/index.less
  sites/x6-sites/src/api/label/label-markup/index.tsx
  sites/x6-sites/src/api/label/label-offset/index.less
  sites/x6-sites/src/api/label/label-offset/index.tsx
  sites/x6-sites/src/api/label/label-position/index.less
  sites/x6-sites/src/api/label/label-position/index.tsx
  sites/x6-sites/src/api/label/label-rotate/index.less
  sites/x6-sites/src/api/label/label-rotate/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/panning-mousewheel/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/transform/index.tsx
  sites/x6-sites/src/tutorial/getting-started/react-shape/index.less
  sites/x6-sites/src/tutorial/getting-started/use-plugin/index.less
  sites/x6-sites/src/tutorial/intermediate/group/collapsable/index.tsx
Labels: PR: unreviewed, PR(documentation), size/XXL

#3696 docs: update marker.md
  packages/x6/src/util/index.ts
  sites/x6-sites/docs/api/model/marker.zh.md
  sites/x6-sites/src/api/marker/custom/index.less
  sites/x6-sites/src/api/marker/custom/index.tsx
  sites/x6-sites/src/api/marker/image/index.less
  sites/x6-sites/src/api/marker/image/index.tsx
  sites/x6-sites/src/api/marker/native/index.less
  sites/x6-sites/src/api/marker/native/index.tsx
  sites/x6-sites/src/api/marker/native/settings.tsx
  sites/x6-sites/src/api/marker/normalize-path/index.less
  sites/x6-sites/src/api/marker/normalize-path/index.tsx
  sites/x6-sites/src/api/marker/path/index.less
  sites/x6-sites/src/api/marker/path/index.tsx
  sites/x6-sites/src/api/marker/tagname/index.less
  sites/x6-sites/src/api/marker/tagname/index.tsx
Labels: PR: unreviewed, PR(documentation), size/XXL, pkg:x6

#3701 docs: optimize docs for mvc
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/docs/api/model/attrs.zh.md
  sites/x6-sites/docs/api/model/interaction.zh.md
  sites/x6-sites/docs/api/model/model.zh.md
  sites/x6-sites/docs/api/mvc/model.zh.md
  sites/x6-sites/docs/api/mvc/view.zh.md
  sites/x6-sites/docs/temp/attrs.zh.md
  sites/x6-sites/src/api/attrs/edge-relative-position/index.less
  sites/x6-sites/src/api/attrs/edge-relative-position/index.tsx
  sites/x6-sites/src/api/attrs/edge-subelement-labels/index.less
  sites/x6-sites/src/api/attrs/edge-subelement-labels/index.tsx
  sites/x6-sites/src/api/attrs/ref-elem/index.less
  sites/x6-sites/src/api/attrs/ref-elem/index.tsx
  sites/x6-sites/src/api/attrs/ref-node/index.less
  sites/x6-sites/src/api/attrs/ref-node/index.tsx
Labels: PR: unreviewed, PR(documentation), size/XXL

#3717 docs: fix port-layout zh doc typos
  sites/x6-sites/docs/api/registry/port-layout.zh.md
Labels: PR: unreviewed, size/XS
