Repository antvis/X6, pull requests merged in 2023-11, with the labels that each got.

#3965 feat: support both mouse selection with the left mouse button and panning with the middle mouse button in the graph
  examples/x6-example-features/src/pages/selection/index.tsx
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-selection/src/selection.ts
  packages/x6/src/graph/panning.ts
  sites/x6-sites/docs/api/graph/panning.zh.md
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
Labels: PR: unreviewed, size/L, fix, pkg:x6

#3979 fix: use `dom-align` to position dnd container (#3978)
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-dnd/src/index.ts
  pnpm-lock.yaml
Labels: PR: reviewed-approved, size/M, fix

#4009 Fix/memory leak
  packages/x6-common/src/__tests__/dom/event.test.ts
  packages/x6-common/src/common/basecoat.ts
  packages/x6-common/src/dom/event/core.ts
  packages/x6/src/graph/graph.ts
  packages/x6/src/model/collection.ts
  packages/x6/src/model/model.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/shape/html.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/view.ts
Labels: PR: unreviewed, size/M, fix, pkg:x6

#4023 fix: don't dispose graph view
  packages/x6/src/view/view.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6

#4026 fix: delete return selection
  packages/x6-plugin-selection/src/api.ts
Labels: PR: unreviewed, size/XS, needs-more-info

#4035 fix: paning mousewheel
  packages/x6/src/graph/panning.ts
Labels: PR: unreviewed, size/S, fix, pkg:x6

#4043 chore: update dumi-theme-antv
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/package.json
Labels: PR: reviewed-approved, size/S

#4045 docs: iamge position change
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/package.json
Labels: PR: reviewed-approved, size/XS
