Repository antvis/X6, pull requests merged in 2023-09, with the labels that each got.

#3878 fix: not consider transform when get bbox
  packages/x6/src/util/index.ts
Labels: PR: unreviewed, PR(fix), size/S, pkg:x6

#3888 fix: "pnpm run build:watch" 在windows下无法正常运行
  package.json
Labels: PR: reviewed-approved, size/XS

#3896 fix: edge does not display the label after setting the label and text…
  packages/x6/src/registry/attr/text.ts
Labels: PR: unreviewed, size/XS, fix, pkg:x6

#3895 fix: trigger click event when click edge with vertices tool
  packages/x6/src/registry/tool/vertices.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6

#3913 fix: plugin-dnd horizontal scroll compatibility (#3912)
  packages/x6-plugin-dnd/src/index.ts
Labels: PR: unreviewed, size/XS, fix

#3918 fix: plugin-selection unmatch after scale graph (#3907)
  packages/x6-plugin-selection/src/selection.ts
Labels: PR: reviewed-approved, size/S, fix

#3910 feat: breakText method support line wrapping text
  packages/x6-common/src/dom/text.ts
Labels: PR: unreviewed, size/S, needs-more-info

#3919 feat: add render:done event
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/docs/tutorial/basic/events.zh.md
Labels: PR: unreviewed, PR(feature), size/S, pkg:x6

#3933 fix: judge interacting after remove tools
  packages/x6/src/view/cell.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6

#3934 fix: stop listener event when transform dispose
  packages/x6-plugin-transform/src/transform.ts
Labels: PR: unreviewed, PR(fix), size/XS

#3942 docs: optimize examples for tools
  sites/x6-sites/examples/edge/tool/demo/context-menu.tsx
  sites/x6-sites/examples/edge/tool/demo/tooltip.tsx
Labels: PR: unreviewed, PR(fix), size/M
