Repository antvis/X6, pull requests merged in 2023-01, with the labels that each got.

#3108 fix: optimize rendering logic to prevent loops
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/.dumi/global.ts
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/examples/showcase/practices/demo/dataProcessingDag.tsx
  sites/x6-sites/package.json
Labels: PR: unreviewed, size/L, pkg:x6

#3112 docs: add LEGAL for sites
  sites/x6-sites/LEGAL.md
  sites/x6-sites/package.json
Labels: PR: unreviewed, size/XS

#3117 fix: update group even group is empty
  packages/x6/src/view/node.ts
  sites/x6-sites/package.json
Labels: PR: unreviewed, size/S, pkg:x6

#3135 docs: fix document formatting
  sites/x6-sites/docs/api/registry/router.zh.md
Labels: PR: unreviewed, size/S

#3139 fix: change dragging container options
  packages/x6-plugin-dnd/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/dnd.zh.md
Labels: PR: unreviewed, size/S

#3141 refactor: mindmap demo remove resetCells
  examples/x6-example-features/src/pages/case/mind.tsx
Labels: PR: unreviewed, size/M

#3144 fix(mindmap demo): can not find target id when create edge
  examples/x6-example-features/src/pages/case/mind.tsx
Labels: PR: unreviewed, size/XS

#3147 fix: stop propagation when click menu item
  packages/x6-react-components/src/menubar/item.tsx
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6-react-components

#3154 refactor: refactor cell remove schedule
  packages/x6/src/renderer/scheduler.ts
Labels: PR: unreviewed, size/M, pkg:x6

#3159 chore: use find to repalce forEach
  packages/x6/src/graph/graph.ts
Labels: PR: unreviewed, size/S, pkg:x6

#3170 fix: prevent highlighting new edge
  packages/x6/src/view/edge.ts
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
Labels: PR: unreviewed, size/XS, pkg:x6

#3169 Fix/edge mousedown
  packages/x6/src/view/edge.ts
Labels: PR: unreviewed, size/XS, pkg:x6, fix

#3172 fix: don't hide when click on color picker
  packages/x6-react-components/src/color-picker/index.tsx
Labels: PR: unreviewed, size/S, pkg:x6-react-components

#3178 docs: 📚️ show corrected demos in gallery
  sites/x6-sites/gatsby-config.js
Labels: PR: unreviewed, size/XS

#3180 fix: 🐛 fix index error for priorityQueue
  packages/x6/src/common/algorithm/priorityqueue.ts
Labels: PR: unreviewed, size/XS, pkg:x6, bug

#3185 feat: add port events
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/tutorial/basic/events.zh.md
Labels: PR: unreviewed, size/M, pkg:x6
