Repository antvis/X6, pull requests merged in 2023-03, with the labels that each got.

#3313 chore: not required plugin should use optional options
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-transform/src/index.ts
Labels: PR: unreviewed, size/S

#3314 chore: add awesome-x6 link
  README.en-us.md
  README.md
Labels: PR: unreviewed, size/XS

#3325 chore: should toast pnpm >= 7
  package.json
Labels: PR: unreviewed, PR(chore), size/XS

#3329 docs: update screenshot for curve demo
  sites/x6-sites/examples/edge/connector/demo/meta.json
  sites/x6-sites/package.json
Labels: PR: unreviewed, size/XS

#3331 fix: throw error when render edge without terminal
  packages/x6/package.json
  packages/x6/src/renderer/queueJob.ts
  packages/x6/src/renderer/scheduler.ts
Labels: PR: unreviewed, size/S, pkg:x6, bug

#3291 Feat/history add getSize
  packages/x6-plugin-history/src/api.ts
  packages/x6-plugin-history/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Labels: PR: unreviewed, PR(feature), size/M

#3333 chore: add src to files
  packages/x6-angular-shape/package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
Labels: PR: unreviewed, size/M, pkg:x6-react-shape, pkg:x6-react-components

#3334 fix: add excludeShapes options for manhattan router
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
  sites/x6-sites/docs/api/registry/router.zh.md
Labels: PR: unreviewed, size/S, pkg:x6

#3335 docs: fix error in cylinder shape
  sites/x6-sites/examples/node/custom-node/demo/cylinder.ts
  sites/x6-sites/examples/node/custom-node/demo/meta.json
  sites/x6-sites/examples/node/native-node/demo/cylinder.ts
  sites/x6-sites/examples/node/native-node/demo/meta.json
Labels: PR: unreviewed, size/L, bug

#3339 docs: transform
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
Labels: PR: unreviewed, PR(documentation), size/XS

#3343 docs: update warning block style
  sites/x6-sites/docs/api/model/edge.zh.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/temp/attrs.zh.md
Labels: PR: unreviewed, size/S

#3346 fix: reset all views when fromjson
  packages/x6/src/renderer/scheduler.ts
Labels: PR: unreviewed, size/XS, pkg:x6, needs-more-info

#3356 fix: hotfix #3351 error when call resetViews
  packages/x6/src/renderer/scheduler.ts
Labels: PR: unreviewed, size/XS, pkg:x6, bug

#3352 refactor: using Object.values instead of Object.keys
  packages/x6/src/model/cell.ts
  packages/x6/src/model/model.ts
  packages/x6/src/registry/registry.ts
  packages/x6/src/renderer/scheduler.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/node.ts
Labels: PR: unreviewed, size/S, pkg:x6

#3363 Feature devtool
  .prettierignore
  packages/x6-devtool/.gitignore
  packages/x6-devtool/README.md
  packages/x6-devtool/devtools/icons/128.png
  packages/x6-devtool/devtools/icons/16.png
  packages/x6-devtool/devtools/icons/32.png
  packages/x6-devtool/devtools/icons/48-disabled.png
  packages/x6-devtool/devtools/icons/48.png
  packages/x6-devtool/devtools/manifest.json
  packages/x6-devtool/devtools/panel.html
  packages/x6-devtool/devtools/script/background.js
  packages/x6-devtool/devtools/script/main.js
  packages/x6-devtool/devtools/script/panel.js
  packages/x6-devtool/devtools/ui/ui.js
  packages/x6-devtool/devtools/ui/ui.js.LICENSE.txt
  packages/x6-devtool/devtools/x6_devtools.html
  packages/x6-devtool/package.json
  packages/x6-devtool/ui/components/Devtool.js
  packages/x6-devtool/ui/components/GTree.js
  packages/x6-devtool/ui/index.js
  packages/x6-devtool/webpack.config.js
Labels: PR: unreviewed, size/XL

#3368 docs(v1-react): fix memo equal condition
  sites/x6-sites/docs/tutorial/advanced/react.en.md
  sites/x6-sites/docs/tutorial/advanced/react.zh.md
Labels: PR: unreviewed, size/XS

#3373 feat: devtool show plugin
  packages/x6-devtool/devtools/script/panel.js
  packages/x6-devtool/devtools/ui/ui.js
  packages/x6-devtool/ui/components/GTree.js
Labels: PR: unreviewed, size/M

#3377 chore: release 3 packages
  examples/x6-example-features/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Labels: PR: unreviewed, size/XS, pkg:x6, pkg:x6-react-shape

#3381 fix: add dependencies for x6-devtools
  packages/x6-devtool/package.json
  sites/x6-sites/docs/tutorial/intermediate/angular.md
  sites/x6-sites/docs/tutorial/intermediate/react.zh.md
  sites/x6-sites/docs/tutorial/intermediate/vue.md
Labels: PR: unreviewed, size/XS, needs-more-info

#3388 docs: update warnning for x6-react-shape
  sites/x6-sites/docs/tutorial/intermediate/angular.md
  sites/x6-sites/docs/tutorial/intermediate/react.zh.md
Labels: PR: unreviewed, size/XS

#3385 docs: 补充 view:mounted 和 view:unmounted 文档
  sites/x6-sites/docs/tutorial/basic/events.zh.md
Labels: PR: unreviewed, size/S

#3337 feat: createWidget and clearWidget
  packages/x6-plugin-transform/src/api.ts
  packages/x6-plugin-transform/src/index.ts
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
Labels: PR: unreviewed, PR(feature), size/M

#3392 fix: add timeout to wait target node is connected
  packages/x6/src/registry/connector/jumpover.ts
Labels: PR: unreviewed, size/S, pkg:x6

#3401 chore: change pnpm registry
  .npmrc
  pnpm-lock.yaml
Labels: PR: unreviewed, PR(chore), size/XS

#3400 chore: remove some workflows
  .github/workflows/backup/auto-assign.yml
  .github/workflows/backup/delete-stale-releases.yml
  .github/workflows/codeql.yml
  .github/workflows/config/auto-assign.yml
  .github/workflows/config/codeql.yml
  .github/workflows/create-issue-branch.yml
  .github/workflows/deploy-sites.yml
  .github/workflows/gitleaks.yml
  .github/workflows/preview.yml
  .github/workflows/report-monthly.yml
  .github/workflows/report-weekly.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/sync-to-gitee.yml
Labels: PR: unreviewed, PR(chore), size/L

#3403 chore: fix lint error
  .github/workflows/ci.yml
  .github/workflows/gitleaks.yml
  examples/x6-example-features/src/pages/animation/transition.tsx
  examples/x6-example-features/src/pages/case/mind.tsx
  examples/x6-example-features/src/pages/shape/flowchart/shapes/card.ts
  examples/x6-example-features/src/pages/tools/contextmenu.tsx
  package.json
  packages/x6-plugin-keyboard/src/api.ts
  packages/x6/src/registry/attr/index.ts
  packages/x6/src/registry/background/index.ts
  packages/x6/src/registry/connection-point/index.ts
  packages/x6/src/registry/connection-strategy/index.ts
  packages/x6/src/registry/connector/index.ts
  packages/x6/src/registry/edge-anchor/index.ts
  packages/x6/src/registry/filter/index.ts
  packages/x6/src/registry/grid/index.ts
  packages/x6/src/registry/highlighter/index.ts
  packages/x6/src/registry/marker/index.ts
  packages/x6/src/registry/node-anchor/index.ts
  packages/x6/src/registry/port-label-layout/index.ts
  packages/x6/src/registry/port-layout/index.ts
  packages/x6/src/registry/router/index.ts
  packages/x6/src/registry/tool/index.ts
  sites/x6-sites/.dumi/theme/locales/zh.json
  sites/x6-sites/examples/edge/connector/demo/curve.ts
  sites/x6-sites/examples/edge/tool/demo/arrowheads.ts
  sites/x6-sites/examples/node/custom-node/demo/custom-with-react.tsx
  sites/x6-sites/examples/node/port/demo/connect-to-port.ts
  sites/x6-sites/examples/node/port/demo/default.ts
  sites/x6-sites/examples/node/port/demo/port-position-absolute.ts
  sites/x6-sites/examples/showcase/practices/demo/dag.tsx
Labels: PR: unreviewed, PR(chore), size/L, pkg:x6, bug

#3404 fix: x6 common deps
  packages/x6/package.json
Labels: PR: unreviewed, size/XS, pkg:x6, fix

#3406 chore: change workflow id names
  .github/workflows/ci.yml
  .github/workflows/pr-label-status.yml
  packages/x6/package.json
Labels: PR: unreviewed, PR(chore), size/S, pkg:x6

#3413 fix: parseint zindex to get correct max zindex node
  packages/x6/src/view/node.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6, needs-more-info

#3416 docs: add some config for node-tool
  package.json
  packages/x6/src/registry/tool/button.ts
  pnpm-lock.yaml
  sites/x6-sites/docs/api/registry/edge-tool.zh.md
  sites/x6-sites/docs/api/registry/node-tool.zh.md
Labels: PR: unreviewed, PR(documentation), size/L, pkg:x6

#3428 chore: release 2 packages
  packages/x6-plugin-clipboard/package.json
  packages/x6/package.json
Labels: PR: unreviewed, PR(chore), size/XS, pkg:x6, needs-more-info

#3431 docs: optimze docs for tools
  examples/x6-example-features/package.json
  packages/x6/package.json
  packages/x6/src/graph/options.ts
  packages/x6/src/registry/tool/editor.ts
  packages/x6/src/view/node.ts
  pnpm-lock.yaml
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/api/registry/background.zh.md
  sites/x6-sites/docs/api/registry/connection-point.zh.md
  sites/x6-sites/docs/api/registry/connector.zh.md
  sites/x6-sites/docs/api/registry/edge-anchor.zh.md
  sites/x6-sites/docs/api/registry/edge-tool.zh.md
  sites/x6-sites/docs/api/registry/filter.zh.md
  sites/x6-sites/docs/api/registry/grid.zh.md
  sites/x6-sites/docs/api/registry/highlighter.zh.md
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
  sites/x6-sites/docs/api/registry/node-tool.zh.md
  sites/x6-sites/docs/api/registry/port-label-layout.zh.md
  sites/x6-sites/docs/api/registry/port-layout.zh.md
  sites/x6-sites/docs/api/registry/router.zh.md
  sites/x6-sites/src/api/edge-tool/arrowhead/index.less
  sites/x6-sites/src/api/edge-tool/arrowhead/index.tsx
  sites/x6-sites/src/api/edge-tool/boundary/index.less
  sites/x6-sites/src/api/edge-tool/boundary/index.tsx
  sites/x6-sites/src/api/edge-tool/button-remove/index.less
  sites/x6-sites/src/api/edge-tool/button-remove/index.tsx
  sites/x6-sites/src/api/edge-tool/button/index.less
  sites/x6-sites/src/api/edge-tool/button/index.tsx
  sites/x6-sites/src/api/edge-tool/custom-arrowhead/index.less
  sites/x6-sites/src/api/edge-tool/custom-arrowhead/index.tsx
  sites/x6-sites/src/api/edge-tool/custom-vertices/index.less
  sites/x6-sites/src/api/edge-tool/custom-vertices/index.tsx
  sites/x6-sites/src/api/edge-tool/segments/index.less
  sites/x6-sites/src/api/edge-tool/segments/index.tsx
  sites/x6-sites/src/api/edge-tool/vertices/index.less
  sites/x6-sites/src/api/edge-tool/vertices/index.tsx
  sites/x6-sites/src/api/node-tool/boundary/index.less
  sites/x6-sites/src/api/node-tool/boundary/index.tsx
  sites/x6-sites/src/api/node-tool/button-remove/index.less
  sites/x6-sites/src/api/node-tool/button-remove/index.tsx
  sites/x6-sites/src/api/node-tool/button/index.less
  sites/x6-sites/src/api/node-tool/button/index.tsx
  sites/x6-sites/src/api/node-tool/custom-button/index.less
  sites/x6-sites/src/api/node-tool/custom-button/index.tsx
  sites/x6-sites/src/api/node-tool/node-editor/index.less
  sites/x6-sites/src/api/node-tool/node-editor/index.tsx
Labels: PR: unreviewed, PR(documentation), size/XXL, pkg:x6, needs-more-info

#3447 feat: support closest connection strategy
  packages/x6/src/graph/options.ts
  packages/x6/src/model/edge.ts
  packages/x6/src/renderer/renderer.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/edge.ts
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/interacting/interaction.zh.md
  sites/x6-sites/docs/tutorial/basic/interacting.zh.md
  sites/x6-sites/docs/tutorial/intermediate/group.zh.md
  sites/x6-sites/src/tutorial/basic/interacting/connect-strategy/index.less
  sites/x6-sites/src/tutorial/basic/interacting/connect-strategy/index.tsx
Labels: PR: unreviewed, PR(feature), size/XL, pkg:x6, needs-more-info

#3450 fix: type of `moveThreshold` should be `number`
  packages/x6/src/graph/options.ts
Labels: PR: unreviewed, size/XS, pkg:x6

#3453 feat: support render simple view in minimap
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-minimap/src/index.ts
  packages/x6/package.json
  packages/x6/src/graph/graph.ts
  packages/x6/src/graph/options.ts
  packages/x6/src/renderer/scheduler.ts
  sites/x6-sites/src/tutorial/plugins/minimap/index.less
  sites/x6-sites/src/tutorial/plugins/minimap/index.tsx
  sites/x6-sites/src/tutorial/plugins/minimap/simple-view.tsx
  sites/x6-sites/src/tutorial/plugins/scroller/index.less
Labels: PR: unreviewed, PR(fix), size/L, pkg:x6, needs-more-info

#3455 fix: fix error usage of parseInt
  packages/x6/src/view/node.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6, bug, needs-more-info
