Repository antvis/X6, pull requests merged in 2023-02, with the labels that each got.

#3186 fix(dnd): change dragging container options
  packages/x6/src/addon/dnd/index.ts
  sites/x6-sites/docs/tutorial/basic/dnd.zh.md
Labels: PR: unreviewed, size/XS, pkg:x6

#3189 fix: get correct clipboard content when useLocalStorage enabed
  packages/x6-plugin-clipboard/src/api.ts
  packages/x6-plugin-clipboard/src/clipboard.ts
  packages/x6-plugin-clipboard/src/index.ts
Labels: PR: unreviewed, size/S

#3192 fix: clear old background when background enabled in background
  packages/x6-plugin-scroller/src/scroller.ts
Labels: PR: unreviewed, size/XS

#3195 fix: set correct scroller options
  packages/x6-plugin-scroller/src/index.ts
  packages/x6-plugin-scroller/src/scroller.ts
  sites/x6-sites/examples/showcase/practices/demo/flowchart.ts
  sites/x6-sites/package.json
Labels: PR: unreviewed, size/M

#3196 fix: ensure the container in html view
  packages/x6/src/shape/html.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6

#3199 fix: 🐛 change execludeNodes typo
  packages/x6/src/registry/router/manhattan/obstacle-map.ts
  packages/x6/src/registry/router/manhattan/options.ts
Labels: PR: unreviewed, size/S, pkg:x6, needs-more-info

#3171 Feat plugins dis and en
  examples/x6-example-features/src/pages/keyboard/index.tsx
  packages/x6-plugin-clipboard/src/index.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-selection/src/index.ts
  packages/x6-plugin-snapline/src/index.ts
  packages/x6-plugin-transform/src/index.ts
  packages/x6/src/graph/graph.ts
Labels: PR: unreviewed, size/M, pkg:x6

#3200 fix(scheduler): remove spammy console.log
  packages/x6/src/renderer/scheduler.ts
Labels: PR: unreviewed, size/XS, pkg:x6

#3202 feat: keyboard support clear and custom trigger
  packages/x6-plugin-keyboard/src/api.ts
  packages/x6-plugin-keyboard/src/index.ts
  packages/x6-plugin-keyboard/src/keyboard.ts
  sites/x6-sites/docs/tutorial/plugins/keyboard.zh.md
Labels: PR: unreviewed, size/M, feature

#3208 feat: add options for positionCell api
  packages/x6/src/graph/graph.ts
Labels: PR: unreviewed, size/S, pkg:x6

#3222 chore: should use local to format
  packages/x6-plugin-keyboard/src/keyboard.ts
Labels: PR: unreviewed, PR(chore), size/XS

#3224 fix: fix scroller options typo
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-scroller/src/index.ts
  sites/x6-sites/package.json
Labels: PR: unreviewed, size/S

#3225 fix: add padding options for position api
  packages/x6/src/graph/graph.ts
Labels: PR: unreviewed, size/M, pkg:x6

#3234 docs: fix typo
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/interacting/interaction.zh.md
Labels: PR: unreviewed, size/XS

#3248 fix: donot empty text when only has title elem
  packages/x6-common/src/dom/text.ts
Labels: PR: unreviewed, size/XS

#3239 feat: add updateNode/updateEdge API #3235
  packages/x6/src/model/model.ts
Labels: PR: unreviewed, size/M, pkg:x6

#3253 feat: history add max stack size
  examples/x6-example-features/src/pages/history/index.tsx
  examples/x6-example-features/src/pages/index.tsx
  packages/x6-plugin-history/src/index.ts
Labels: PR: unreviewed, size/L, feature

#3254 docs: history插件文档补充stackSize属性的说明
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
Labels: PR: unreviewed, size/XS, feature

#3255 fix: fix typo for dom event handlers
  packages/x6-common/src/dom/event/types.ts
Labels: PR: unreviewed, size/XS

#3257 fix: mindmap demo duplicate node id, close #3256
  examples/x6-example-features/src/pages/case/mind.tsx
Labels: PR: unreviewed, size/XS

#3261 docs: fix typo in labels.zh.md
  sites/x6-sites/docs/api/model/labels.zh.md
Labels: PR: unreviewed, size/XS

#3267 docs: fix typo in stencil.md
  sites/x6-sites/docs/tutorial/plugins/stencil.md
Labels: PR: unreviewed, size/XS

#3263 docs: fix typo about ‘defaultLabel’ (v1)
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.en.md
  sites/x6-sites/docs/tutorial/intermediate/custom-edge.zh.md
  sites/x6-sites/docs/tutorial/intermediate/edge-labels.en.md
  sites/x6-sites/docs/tutorial/intermediate/edge-labels.zh.md
Labels: PR: unreviewed, size/XS

#3272 fix: leading reset render area when init
  packages/x6-common/src/function/function.ts
  packages/x6/src/graph/virtual-render.ts
  packages/x6/src/renderer/scheduler.ts
Labels: PR: unreviewed, size/M, pkg:x6

#3275 docs: fix a broken link in model.zh.md
  sites/x6-sites/docs/api/model/model.zh.md
Labels: PR: unreviewed, size/XS

#3279 chore: release 2 packages
  packages/x6-common/package.json
  packages/x6/package.json
Labels: PR: unreviewed, size/XS, pkg:x6, needs-more-info

#3280 chore: change docsearch appid
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/package.json
Labels: PR: unreviewed, size/XS, needs-more-info

#3282 fix: add judgment for edge view
  packages/x6/src/renderer/scheduler.ts
Labels: PR: unreviewed, size/XS, pkg:x6, needs-more-info

#3294 docs: fix warning display style
  sites/x6-sites/docs/api/model/edge.zh.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/temp/attrs.zh.md
Labels: PR: unreviewed, size/M

#3298 fix: transform active-handle class should remove when active removed
  packages/x6-plugin-transform/src/transform.ts
Labels: PR: unreviewed, PR(fix), size/XS

#3281 fix: add textLength & lengthAdjust to CASE_SENSITIVE_ATTR
  packages/x6-common/src/dom/attr.ts
Labels: PR: unreviewed, size/XS

#3301 docs: set version list to 2.x and 1.x
  sites/x6-sites/.dumirc.ts
Labels: PR: unreviewed, size/XS, needs-more-info

#3306 docs: optimize examples style for doc
  package.json
  sites/x6-sites/package.json
  sites/x6-sites/src/tutorial/basic/graph/auto-resize/index.less
  sites/x6-sites/src/tutorial/basic/graph/auto-resize/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/background-grid/index.less
  sites/x6-sites/src/tutorial/basic/graph/background-grid/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/panning-mousewheel/index.less
  sites/x6-sites/src/tutorial/basic/graph/panning-mousewheel/index.tsx
  sites/x6-sites/src/tutorial/basic/graph/transform/index.less
  sites/x6-sites/src/tutorial/basic/graph/transform/index.tsx
  sites/x6-sites/src/tutorial/getting-started/helloworld/index.less
  sites/x6-sites/src/tutorial/getting-started/helloworld/index.tsx
  sites/x6-sites/src/tutorial/getting-started/react-shape/index.less
  sites/x6-sites/src/tutorial/getting-started/react-shape/index.tsx
  sites/x6-sites/src/tutorial/getting-started/use-plugin/index.less
  sites/x6-sites/src/tutorial/getting-started/use-plugin/index.tsx
Labels: PR: unreviewed, size/L

#3296 fix: cannot be invoked without new
  tsconfig.json
Labels: PR: unreviewed, size/XS, fix

#3307 feat: add view:mounted and view:unmounted event
  packages/x6/src/graph/events.ts
  packages/x6/src/renderer/scheduler.ts
Labels: PR: unreviewed, size/S, pkg:x6

#3308 fix: fix editor-tool for edge
  packages/x6/src/registry/tool/editor.ts
Labels: PR: unreviewed, size/M, pkg:x6, needs-more-info

#3278 feat: support angular shape for 2.x
  packages/x6-angular-shape/LICENSE
  packages/x6-angular-shape/README.md
  packages/x6-angular-shape/package.json
  packages/x6-angular-shape/src/index.ts
  packages/x6-angular-shape/src/node.ts
  packages/x6-angular-shape/src/registry.ts
  packages/x6-angular-shape/src/view.ts
  packages/x6-angular-shape/tsconfig.json
  pnpm-lock.yaml
  sites/x6-sites/docs/tutorial/intermediate/angular.md
  sites/x6-sites/docs/tutorial/intermediate/html.md
Labels: PR: unreviewed, size/XL, feature

#3309 chore: update license
  packages/x6-angular-shape/LICENSE
  packages/x6-common/LICENSE
  packages/x6-geometry/LICENSE
  packages/x6-plugin-clipboard/LICENSE
  packages/x6-plugin-dnd/LICENSE
  packages/x6-plugin-export/LICENSE
  packages/x6-plugin-history/LICENSE
  packages/x6-plugin-keyboard/LICENSE
  packages/x6-plugin-minimap/LICENSE
  packages/x6-plugin-scroller/LICENSE
  packages/x6-plugin-selection/LICENSE
  packages/x6-plugin-snapline/LICENSE
  packages/x6-plugin-stencil/LICENSE
  packages/x6-plugin-transform/LICENSE
  packages/x6-react-components/LICENSE
  packages/x6-react-shape/LICENSE
  packages/x6-vue-shape/LICENSE
  packages/x6/LICENSE
  pnpm-lock.yaml
Labels: PR: unreviewed, size/M, pkg:x6, pkg:x6-react-shape, pkg:x6-react-components

#3318 docs: getstart
  sites/x6-sites/docs/tutorial/getting-started.zh.md
Labels: PR: unreviewed, PR(documentation), size/XS
