Repository antvis/X6, pull requests merged in 2023-04, with the labels that each got.

#3456 fix: remove connection strategy option
  packages/x6/package.json
  packages/x6/src/graph/options.ts
  packages/x6/src/view/cell.ts
  packages/x6/src/view/edge.ts
  packages/x6/src/view/node.ts
  sites/x6-sites/docs/api/interacting/interaction.zh.md
  sites/x6-sites/docs/tutorial/basic/interacting.zh.md
Labels: PR: unreviewed, PR(chore), size/M, pkg:x6

#3469 docs: unified doc format
  sites/x6-sites/docs/api/registry/connection-point.zh.md
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
Labels: PR: reviewed-approved, size/M

#3481 fix: mock mouseenter and mouseleave event
  .changeset/README.md
  .changeset/config.json
  package.json
  packages/x6-devtool/devtools/ui/ui.js
  packages/x6/src/view/node.ts
  pnpm-lock.yaml
Labels: PR: unreviewed, PR(fix), size/M, pkg:x6

#3484 docs: optimize router docs
  pnpm-lock.yaml
  sites/x6-sites/.dumi/global.less
  sites/x6-sites/docs/api/graph/background.zh.md
  sites/x6-sites/docs/api/graph/coordinate.zh.md
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/graph/grid.zh.md
  sites/x6-sites/docs/api/graph/mousewheel.zh.md
  sites/x6-sites/docs/api/graph/panning.zh.md
  sites/x6-sites/docs/api/graph/transform.zh.md
  sites/x6-sites/docs/api/graph/view.zh.md
  sites/x6-sites/docs/api/model/cell.zh.md
  sites/x6-sites/docs/api/model/edge.zh.md
  sites/x6-sites/docs/api/model/marker.zh.md
  sites/x6-sites/docs/api/model/model.zh.md
  sites/x6-sites/docs/api/model/node.zh.md
  sites/x6-sites/docs/api/registry/attr.zh.md
  sites/x6-sites/docs/api/registry/background.zh.md
  sites/x6-sites/docs/api/registry/connection-point.zh.md
  sites/x6-sites/docs/api/registry/connector.zh.md
  sites/x6-sites/docs/api/registry/edge-anchor.zh.md
  sites/x6-sites/docs/api/registry/filter.zh.md
  sites/x6-sites/docs/api/registry/grid.zh.md
  sites/x6-sites/docs/api/registry/highlighter.zh.md
  sites/x6-sites/docs/api/registry/node-anchor.zh.md
  sites/x6-sites/docs/api/registry/port-label-layout.zh.md
  sites/x6-sites/docs/api/registry/port-layout.zh.md
  sites/x6-sites/docs/api/registry/router.zh.md
  sites/x6-sites/docs/temp/animation.zh.md
  sites/x6-sites/docs/tutorial/plugins/clipboard.zh.md
  sites/x6-sites/docs/tutorial/plugins/export.zh.md
  sites/x6-sites/docs/tutorial/plugins/history.zh.md
  sites/x6-sites/docs/tutorial/plugins/keyboard.zh.md
  sites/x6-sites/docs/tutorial/plugins/selection.zh.md
  sites/x6-sites/docs/tutorial/plugins/snapline.zh.md
  sites/x6-sites/examples/node/tool/demo/editable.ts
  sites/x6-sites/package.json
  sites/x6-sites/src/api/router/er/index.less
  sites/x6-sites/src/api/router/er/index.tsx
  sites/x6-sites/src/api/router/er/settings.tsx
  sites/x6-sites/src/api/router/manhattan/index.less
  sites/x6-sites/src/api/router/manhattan/index.tsx
  sites/x6-sites/src/api/router/metro/index.less
  sites/x6-sites/src/api/router/metro/index.tsx
  sites/x6-sites/src/api/router/oneside/index.less
  sites/x6-sites/src/api/router/oneside/index.tsx
  sites/x6-sites/src/api/router/orth/index.less
  sites/x6-sites/src/api/router/orth/index.tsx
  sites/x6-sites/src/api/router/random/index.less
  sites/x6-sites/src/api/router/random/index.tsx
  sites/x6-sites/src/tutorial/plugins/scroller/index.tsx
Labels: PR: unreviewed, PR(documentation), size/XXL

#3495 docs: restricted => restrict
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
  sites/x6-sites/src/tutorial/plugins/transform/resizing/index.tsx
  sites/x6-sites/src/tutorial/plugins/transform/resizing/settings.tsx
Labels: PR: unreviewed, PR(documentation), size/S

#3499 chore: release some packages
  examples/x6-example-features/src/pages/basic/index.tsx
  packages/x6-angular-shape/package.json
  packages/x6-common/package.json
  packages/x6-geometry/package.json
  packages/x6-plugin-clipboard/package.json
  packages/x6-plugin-dnd/package.json
  packages/x6-plugin-export/package.json
  packages/x6-plugin-history/package.json
  packages/x6-plugin-keyboard/package.json
  packages/x6-plugin-minimap/package.json
  packages/x6-plugin-scroller/package.json
  packages/x6-plugin-selection/package.json
  packages/x6-plugin-snapline/package.json
  packages/x6-plugin-stencil/package.json
  packages/x6-plugin-transform/package.json
  packages/x6-react-components/package.json
  packages/x6-react-shape/package.json
  packages/x6-vue-shape/package.json
  packages/x6/package.json
  pnpm-lock.yaml
Labels: PR: unreviewed, PR(chore), size/M, needs-more-info, pkg:x6, pkg:x6-react-shape, pkg:x6-react-components

#3503 careless mistake fix of docs
  sites/x6-sites/docs/tutorial/plugins/transform.zh.md
Labels: PR: reviewed-approved, size/XS

#3504 fix: remove editor before added
  packages/x6-plugin-selection/src/index.less
  packages/x6/src/registry/tool/editor.ts
Labels: PR: unreviewed, PR(fix), size/M, pkg:x6

#3524 docs: Update marker.zh.md
  sites/x6-sites/docs/api/model/marker.zh.md
Labels: PR: unreviewed, size/XS

#3523 docs: fix marker link that now target correct page
  sites/x6-sites/docs/api/registry/attr.zh.md
Labels: PR: reviewed-approved, size/XS, needs-more-info

#3526 fix: reset undefined attrs when undo
  packages/x6-plugin-history/src/index.ts
  sites/x6-sites/public/sitemap.xml
Labels: PR: unreviewed, PR(fix), size/L, needs-more-info

#3536 docs: optimize grid and background docs
  packages/x6-plugin-history/package.json
  sites/x6-sites/docs/api/graph/background.zh.md
  sites/x6-sites/docs/api/graph/coordinate.zh.md
  sites/x6-sites/docs/api/graph/graph.zh.md
  sites/x6-sites/docs/api/graph/grid.zh.md
  sites/x6-sites/docs/api/graph/mousewheel.zh.md
  sites/x6-sites/docs/api/graph/panning.zh.md
  sites/x6-sites/docs/api/graph/transform.zh.md
  sites/x6-sites/docs/api/model/view.zh.md
  sites/x6-sites/docs/api/registry/background.zh.md
  sites/x6-sites/docs/api/registry/grid.zh.md
  sites/x6-sites/public/sitemap.xml
  sites/x6-sites/src/api/background/playground/index.less
  sites/x6-sites/src/api/background/playground/index.tsx
  sites/x6-sites/src/api/background/playground/settings.tsx
  sites/x6-sites/src/api/grid/playground/index.less
  sites/x6-sites/src/api/grid/playground/index.tsx
  sites/x6-sites/src/api/grid/playground/settings.tsx
Labels: PR: unreviewed, PR(documentation), size/XXL

#3552 feat: change manifest for submit to chrome web store
  packages/x6-devtool/devtools/manifest.json
Labels: PR: reviewed-approved, size/S

#3553 docs: optimize docs for coordinate
  sites/x6-sites/docs/api/graph/coordinate.zh.md
  sites/x6-sites/docs/api/graph/mousewheel.zh.md
  sites/x6-sites/docs/api/graph/transform.zh.md
  sites/x6-sites/docs/tutorial/about.zh.md
  sites/x6-sites/src/api/coord/playground/index.less
  sites/x6-sites/src/api/coord/playground/index.tsx
  sites/x6-sites/src/api/coord/playground/settings.tsx
  sites/x6-sites/src/api/mousewheel/playground/index.less
  sites/x6-sites/src/api/mousewheel/playground/index.tsx
  sites/x6-sites/src/api/mousewheel/playground/settings.tsx
Labels: PR: unreviewed, PR(documentation), size/XL
