Repository antvis/X6, pull requests merged in 2024-01, with the labels that each got.

#4131 fix: bind dragstart after add group
  package.json
  packages/x6-plugin-stencil/src/index.ts
  pnpm-lock.yaml
Labels: PR: unreviewed, PR(fix), size/S

#4117 docs: fix the container name
  sites/x6-sites/docs/api/graph/graph.zh.md
Labels: PR: unreviewed, size/XS, fix

#4080 fix: format keyboard arrow codes to Mousetrap special codes (#4065)
  packages/x6-plugin-keyboard/src/keyboard.ts
Labels: PR: unreviewed, size/XS

#4099 fix(vue-shape): remove deprecated `Vue` from import
  packages/x6-vue-shape/src/teleport.ts
Labels: PR: reviewed-approved, size/XS

#4101 fix: avoid access document or window in server side
  packages/x6-common/src/dom/matrix.ts
  packages/x6-common/src/dom/prefix.ts
  packages/x6-common/src/dom/selection.ts
  packages/x6-common/src/dom/text.ts
  packages/x6-common/src/polyfill/index.ts
  packages/x6/src/util/index.ts
Labels: PR: reviewed-approved, size/M, pkg:x6

#4114 fix: memory leak of graph view dispose(introduce by #4023)
  packages/x6/src/graph/view.ts
  packages/x6/src/view/view.ts
Labels: PR: reviewed-approved, size/S, fix, pkg:x6

#4124 fix:node-anchor的orth锚点，angle为负值导致数值计算为无穷
  packages/x6/src/registry/node-anchor/orth.ts
Labels: PR: unreviewed, size/XS, needs-more-info, pkg:x6

#4126 feat: allow calculate distance by bbox when snap to node
  packages/x6/src/graph/options.ts
  packages/x6/src/view/edge.ts
  sites/x6-sites/docs/api/model/interaction.zh.md
Labels: PR: unreviewed, size/S, pkg:x6

#4146 fix: destroy custom label before render
  packages/x6/src/graph/options.ts
  packages/x6/src/view/edge.ts
Labels: PR: unreviewed, PR(fix), size/M, needs-more-info, pkg:x6

#4152 fix: snap anchor should be optional
  packages/x6/src/graph/options.ts
Labels: PR: unreviewed, size/XS, pkg:x6

#4167 fix: bind minimap plugin to graph without scroller
  packages/x6-plugin-minimap/src/index.ts
Labels: PR: unreviewed, PR(fix), size/XS

#4067 feat: selection's pointerEvents support function type
  packages/x6-plugin-selection/src/selection.ts
Labels: PR: unreviewed, size/S, feature

#4111 fix(plugin:export): it should have default value 'true' through doc
  packages/x6-plugin-export/src/index.ts
Labels: PR: reviewed-approved, size/S

#4166 feat: panning modifiers add space
  packages/x6/src/graph/panning.ts
  sites/x6-sites/docs/api/graph/panning.zh.md
Labels: PR: reviewed-approved, size/M, pkg:x6

#4177 fix: edge rendering correct label attrs
  packages/x6/src/view/edge.ts
Labels: PR: unreviewed, size/XS, pkg:x6

#4181 chore: update npm registry
  .npmrc
  pnpm-lock.yaml
Labels: PR: unreviewed, PR(chore), size/XS

#4183 fix: add key for portal to avoid rerender
  packages/x6-react-shape/src/view.ts
Labels: PR: unreviewed, PR(fix), size/XS, pkg:x6-react-shape
