Repository antvis/X6, pull requests merged in 2025-07, with the labels that each got.

#4656 Update README.md
  packages/x6-plugin-scroller/README.md
Labels: PR: reviewed-approved, size/XS

#4664 docs: 修复英文文档跳转错误的问题
  sites/x6-sites/docs/api/graph/graph.en.md
  sites/x6-sites/docs/api/graph/grid.en.md
  sites/x6-sites/docs/api/graph/grid.zh.md
  sites/x6-sites/docs/api/model/attrs.en.md
  sites/x6-sites/docs/api/model/cell.en.md
  sites/x6-sites/docs/api/model/edge.en.md
  sites/x6-sites/docs/api/model/interaction.en.md
  sites/x6-sites/docs/api/model/labels.en.md
  sites/x6-sites/docs/api/model/marker.en.md
  sites/x6-sites/docs/api/model/node.en.md
  sites/x6-sites/docs/api/mvc/model.en.md
  sites/x6-sites/docs/api/registry/edge-anchor.en.md
  sites/x6-sites/docs/api/registry/filter.en.md
  sites/x6-sites/docs/api/registry/node-anchor.en.md
  sites/x6-sites/docs/api/registry/router.en.md
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/basic/edge.en.md
  sites/x6-sites/docs/tutorial/basic/graph.en.md
  sites/x6-sites/docs/tutorial/basic/interacting.en.md
  sites/x6-sites/docs/tutorial/basic/node.en.md
  sites/x6-sites/docs/tutorial/basic/port.en.md
  sites/x6-sites/docs/tutorial/getting-started.en.md
  sites/x6-sites/docs/tutorial/intermediate/connection-point.en.md
  sites/x6-sites/docs/tutorial/intermediate/group.en.md
  sites/x6-sites/docs/tutorial/intermediate/tools.en.md
  sites/x6-sites/docs/tutorial/update.en.md
Labels: PR: reviewed-approved, size/L

#4669 chore: update dingtalk group qrcode
  sites/x6-sites/docs/tutorial/about.en.md
  sites/x6-sites/docs/tutorial/about.zh.md
Labels: PR: unreviewed, size/XS, needs-more-info

#4671 fix: panning cursor not match the behavior
  packages/x6/src/graph/panning.ts
Labels: PR: reviewed-approved, PR(fix), size/M, pkg:x6
