Repository antvis/X6, pull requests merged in 2025-08, with the labels that each got.

#4672 fix: `exportPNG` not display image markup
  packages/x6-plugin-export/src/index.ts
Labels: PR(fix), size/S, PR: partially-approved

#4674 chore: add gh-pages actions
  .github/workflows/gh-pages.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sites/x6-sites/package.json
Labels: PR: reviewed-approved, PR(chore), size/M

#4679 chore: show language switcher
  .github/workflows/gh-pages.yml
  sites/x6-sites/.dumirc.ts
  sites/x6-sites/examples/showcase/practices/index.en.md
Labels: PR: unreviewed, PR(chore), size/M

#4680 chore: update checkout actions version
  .github/workflows/gh-pages.yml
Labels: PR: unreviewed, PR(chore), size/M, needs-more-info

#4500 fix(vue-shape): vue-shape's teleport is only registered once
  packages/x6-vue-shape/src/teleport.ts
Labels: PR: reviewed-approved, size/M

#4682 fix: site actions
  .github/workflows/gh-pages.yml
Labels: PR: unreviewed, PR(fix), size/S
